[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user={{ db_user }}
password={{ db_password }}
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
port={{ mysql_port }}

[client]
user={{ db_user }}
password={{ db_password }}

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
