{% extends 'base.html' %}
{% load mptt_tags inlife_tags cache %}
{% load staticfiles %}
{% block extra_head %}
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/treeViewHistory.js' %}"></script>
{% endblock extra_head %}
{% block content %}
    <h1>{{ group.name }}</h1>
    <div class="row collect_achievments">
        {% for category in group.get_children %}
            {% include 'tree/user_tree_category_list.html' %}
        {% endfor %}
    </div>
{% endblock %}