{% extends 'base.html' %}

{% load inlife_tags staticfiles %}

{% block head %}
    {{ block.super }}
    <style type="text/css">
    .collect_achievments .collect.active {
      background-color: #00c0ff;
      color: white;
    }
    </style>
{% endblock head %}

{% block title %}
    {{ category.name }} | Achiever
{% endblock title %}

{% block sidebar %}
    {% if user.is_authenticated %}
        {% user_sidebar user %}
    {% endif %}
{% endblock sidebar %}

{% block content %}
        
    <div id="category_box">
        <h1 data-bind="text: name"></h1>
        <div class="" data-width="100%" data-loop="true" data-minheight="30" data-nav="false" data-ratio="800/200">
            <div>
                <div class="row collect_achievments" data-bind="foreach: children">
                    <div class="col-xs-4">
                        <a class="collect"
                           data-bind="click: $parent.select_child, css: { 'active current': $data.is_active(), 'inactive': $data.is_disabled }" href>
                            <span class="wrap-image">
                                <span class="image">
                                    <img data-bind="attr: { src: $data.image }">
                                </span>
                            </span>
                            <span class="name_collect" data-bind="text: $data.name">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
            
            
        <!-- ko with: active_child -->
            <p class="lead align-center">Цели</p>
            <div class="my_achiv  align-center" data-bind="foreach: achievements">
                {# если обучалка, добавляется класс стрелки к первому достижению #}
                <div class="my_achiv-box" {% if user.guide.step.url == 'source_achievement' and not user.guide.is_finished %}data-bind="css: {'intro intro-10': $index() == 0}"{% endif %}>
                    <p><span data-bind="text: $data.name"></span></p>
                    <a class="achiv achiv-target" data-bind="attr: { href: $data.url }">
                    </a>
                </div>
            </div>
            <hr style="margin-top:0;" />
        <p data-bind="html: $data.info"></p>
        <!-- /ko -->

            


    </div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script>
        var chvm = new CharacterViewModel();
        ko.applyBindings(chvm, document.getElementById('category_box'));
    </script>
{% endblock js %}