{% load i18n admin_static %}
{% if result_hidden_fields %}
<div class="hiddenfields">{# DIV for HTML validation #}
{% for item in result_hidden_fields %}{{ item }}{% endfor %}
</div>
{% endif %}
{% if results %}
<div class="results">
<table id="result_list">
<thead>
<tr>
{% for header in result_headers %}
<th scope="col" {{ header.class_attrib }}>
   {% if header.sortable %}
     {% if header.sort_priority > 0 %}
       <div class="sortoptions">
         <a class="sortremove" href="{{ header.url_remove }}" title="{% trans "Remove from sorting" %}"></a>
         {% if num_sorted_fields > 1 %}<span class="sortpriority" title="{% blocktrans with priority_number=header.sort_priority %}Sorting priority: {{ priority_number }}{% endblocktrans %}">{{ header.sort_priority }}</span>{% endif %}
         <a href="{{ header.url_toggle }}" class="toggle {% if header.ascending %}ascending{% else %}descending{% endif %}" title="{% trans "Toggle sorting" %}"></a>
       </div>
     {% endif %}
   {% endif %}
   <div class="text">{% if header.sortable %}<a href="{{ header.url_primary }}">{{ header.text|capfirst }}</a>{% else %}<span>{{ header.text|capfirst }}</span>{% endif %}</div>
   <div class="clear"></div>
</th>{% endfor %}
</tr>
</thead>
<tbody>
{% for result in results %}
{% if result.form.non_field_errors %}
    <tr><td colspan="{{ result|length }}">{{ result.form.non_field_errors }}</td></tr>
{% endif %}
<tr class="{% cycle 'row1' 'row2' %}">{% for item in result %}{{ item }}{% endfor %}</tr>
{% endfor %}
</tbody>
</table>
</div>
<div id='csrf'>{% csrf_token %}</div>
<script type="text/javascript">
  django.jQuery(function() {
      django.jQuery.ajaxSetup({
          error: function(jqXHR, exception) {
              if (jqXHR.status === 0) {
                  alert('Not connect.\n Verify Network.');
              } else if (jqXHR.status == 404) {
                  alert('Requested page not found. [404]');
              } else if (jqXHR.status == 403) {
                  alert('Forbidden. [403]');
              } else if (jqXHR.status == 500) {
                  alert('Internal Server Error [500].');
              } else if (exception === 'parsererror') {
                  alert('Requested JSON parse failed.');
              } else if (exception === 'timeout') {
                  alert('Time out error.');
              } else if (exception === 'abort') {
                  alert('Ajax request aborted.');
              } else {
                  alert('Uncaught Error.\n' + jqXHR.responseText);
              }
          }
      });
  });

  django.jQuery("form input[type=submit]").click(function() {
      django.jQuery("input[type=submit]", django.jQuery(this).parents("form")).removeAttr("clicked");
      django.jQuery(this).attr("clicked", "true");
  });

  django.jQuery(".proof_form").submit(function(event) {
    var $ = django.jQuery;
    var isFormValid = true;
    event.preventDefault();
    var $form = $( this ),
         $csrf_div = $('#csrf ');
    var request = {}
    request['csrfmiddlewaretoken'] = $csrf_div.find( 'input[name="csrfmiddlewaretoken"]' ).val();
    var url = $form.attr( 'action' );
    var $submitButton = $("input[type=submit][clicked=true]");
    request['_comment']  = $form.find( 'textarea[name="_comment"] ').val();
    if ( $.trim(  request['_comment']  ).length == 0 ){
      alert("Комментарий к достижению это обязательное поле!");
      return false;
    }
    request['_stars_number'] = $form.find('#id_stars_number').find(":selected").val();
    request['points'] = $form.find('#id_points').val();
    var submit_val = $submitButton.val();
    var submit_name = $submitButton.attr("name");
    request[submit_name] = submit_val;
    $submitButton.removeAttr("clicked");
    var posting = django.jQuery.ajax({
      type: "POST",
      url: url,
      data: request, 
      success: function(msg) {
        $form.hide();
        var $th = $form.parent();
        var $href = $th.find('a');
        var text = $href.text();
        text = text.replace('Не проверено', 'Проверено');
        $href.text(text);
      }
    });
  }); 
</script>
{% endif %}
