{% load thumbnail %}
<fieldset class="module aligned {{ fieldset.classes }}">
    {% if fieldset.name %}<h2>{{ fieldset.name }}</h2>{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    <div class="form-row">
        <div class="field-box">
            <label>Достижение:</label>
            <p>{{ achievement }}</p>
        </div>
    </div>
    <div class="form-row">
        <div class="field-box">
            <label>Тип подтверждения:</label>
            <p>{{ type_name }}</p>
        </div>
    </div>
    {% if photos %}
        <div class="field-box">
            <label>Фото:</label>
            
                {% for photo in photos %}
                    <div>
                        <a href="{{photo.photo.url}}">
                            {% thumbnail photo.photo "600" crop="center" as ph %}
                                <img src="{{ ph.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% endthumbnail %}
                        </a>
                    </div>
                {% endfor %}
            
        </div>
    {% endif %}
    {% if video %}
        <div class="field-box">
            <label>Видео:</label>
            <div>
                <video src="{{ video }}" autobuffer="true" controls="true">
                        Your browser doesn't support the video tag.
                </video>
            </div>
        </div>
    {% endif %}
    {% for line in fieldset %}
        <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
            {% if line.fields|length_is:'1' %}{{ line.errors }}{% endif %}
            {% for field in line %}
                <div{% if not line.fields|length_is:'1' %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}>
                    {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                    {% if field.is_checkbox %}
                        {{ field.field }}{{ field.label_tag }}
                    {% else %}
                        {{ field.label_tag }}
                        {% if field.is_readonly %}
                            <p>{{ field.contents|linebreaksbr }}</p>
                        {% else %}
                            {{ field.field }}
                        {% endif %}
                    {% endif %}
                    {% if field.field.help_text %}
                        <p class="help">{{ field.field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
                    
</fieldset>
