{% load thumbnail %}

<form action="{{ url }}" method="post" class="proof_form">
    <div>
        {% for photo in photos %}
        <a href="{{photo.photo.url}}">
          <img src="{{photo.photo.url}}" width="150" height="150">
        </a>
        {% endfor %}
    </div>
    <div>
    	<label for="id_comment">Комментарий: </label>
    	<textarea class="commentText" name="_comment" id="id_comment" cols="50" rows="4"></textarea>
        <label for="id_stars_number"><b>кол-во звёзд: </b></label>
        <select id="id_stars_number" name="_stars_number">
            {% for number in stars_number_choices %}
                <option value="{{number.0}}"{% if item.user_achievement.achievement.stars_number == number.0 %}selected="selected"{% endif %}>{{number.1}}
                </option>
            {% endfor %}
        </select>
        <br><label for="id_points">Баллы: </label><input id="id_points" type="number" min="0" name="points" value="{{ item.get_default_points }}" />
        <br>
        <input class="submintBtn" type="submit" value="Подтвердить" name="_approve" />
        <input class="submintBtn" type="submit" value="Сомнительно" name="_doubtfully" />
        <input class="submintBtn" type="submit" value="Отклонить" name="_deny">
    </div>
</form>
