{% extends 'registration/registration_base.html' %}

{% load staticfiles %}

{% block registration_content %}
	<h1 class="text-blue">Ошибка</h1>
	<hr>
	<h3 class="text-gray">Неверный код активации, либо аккаунт уже активирован.</h3>
	<h3 class="text-gray"><a href="/">Главная</a></h3>
{% endblock registration_content %}
