<!-- Modal -->
<form action="{% url 'login' %}" method="post" class="modal fade form-horizontal" id="login-modal" role="form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	{% csrf_token %}
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Зайди в мир достижений.</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="inputEmail1" class="col-xs-2 control-label">E-mail</label>
					<div class="col-xs-10">
						<input type="email" class="form-control" id="inputEmail1" placeholder="E-mail" name="email">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword1" class="col-xs-2 control-label">Пароль</label>
					<div class="col-xs-10">
						<input type="password" class="form-control" id="inputPassword1" placeholder="Пароль" name="password">
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-xs-10">
						<div class="checkbox">
							<label>
								<input type="checkbox"> Запомнить меня
							</label>
						</div>
					</div>
				</div>
				<hr>
				<div class="form-group text-center">
					<h4>Вы можете войти через социальные сети </h4>
					<ul class="socials-login-links">
						<li>
							<a href='{% url "socialauth_begin" "vk-oauth" %}' class="icon-stack">
								<i class="icon-circle icon-stack-base"></i>
								<i class="icon-vk icon-light"></i>
							</a>
						</li>
						<li>
							<a href='{% url "socialauth_begin" "facebook" %}' class="icon-stack">
								<i class="icon-circle icon-stack-base"></i>
								<i class="icon-facebook icon-light"></i>
							</a>
						</li>
						<li>
							<a href='{% url "socialauth_begin" "twitter" %}' class="icon-stack">
								<i class="icon-circle icon-stack-base"></i>
								<i class="icon-twitter icon-light"></i>
							</a>
						</li>
						<li>
							<a href='{% url "socialauth_begin" "google-oauth2" %}' class="icon-stack">
								<i class="icon-circle icon-stack-base"></i>
								<i class="icon-google-plus icon-light"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
				<button type="submit" class="btn btn-primary">Войти</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</form><!-- /.modal -->