{% extends 'registration/registration_base.html' %}
{% load staticfiles %}
{% block registration_content %}
	<img src="{% static "img/registration-confirm.png" %}"><br>
	<h1 class="text-blue">Приходите еще! :) <a href="/">Главная</a></h1>
	<hr>
{% endblock registration_content %}