{% extends 'registration/registration_base.html' %}

{% load i18n %}

{% block registration_content %}
	<img src="{% static "img/registration-confirm.png" %}"><br>
	<h1 class="text-blue">{% trans 'Password reset complete' %}</h1>
	<hr>
	<h3 class="text-gray">{% trans "Your password has been set.  You may go ahead and log in now." %}</h3>
	<a href="{% url 'login' %}"><button class="btn btn-lg btn-primary">{% trans 'Log in' %}</button></a>
{% endblock registration_content %}