{% extends 'registration/registration_base.html' %}

{% load i18n %}

{% block registration_content %}
	<img src="{% static "img/registration-confirm.png" %}"><br>
	<h1 class="text-blue">{% trans 'Password reset successful' %}</h1>
	<hr>
	<h3 class="text-gray">{% trans "We've emailed you instructions for setting your password to the email address you submitted. You should be receiving it shortly." %}</h3>
{% endblock registration_content %}