{% extends 'registration/registration_base.html' %}
{% load i18n %}

{% block registration_content %}
	{% if validlink %}
	    <h2 class="text-blue">{% trans 'Enter new password' %}</h2>
	    <small>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</small>
	    <br /><br />
	    {% if form.non_field_errors %}
	        {% for error in form.non_field_errors %}
	            <div class="alert alert-danger">
	                <i class="icon-warning-sign"></i>
	                <button type="button" class="close" data-dismiss="alert">&times;</button>
	                {{ error }}
	            </div>
	        {% endfor %}
	    {% endif %}
	    <form action="" method="post">{% csrf_token %}
	        {% for error in form.new_password1.errors %}
	            <div class="alert alert-danger">
	                <i class="icon-warning-sign"></i>
	                <button type="button" class="close" data-dismiss="alert">&times;</button>
	                {{ error }}
	            </div>
	        {% endfor %}
	        <div class="input-group input-group-lg">
	            <span class="input-group-addon"><i class="icon-key"></i></span>
	                {{ form.new_password1 }}
	        </div>
	        <br>
	        {% for error in form.new_password2.errors %}
	            <div class="alert alert-danger">
	                <i class="icon-warning-sign"></i>
	                <button type="button" class="close" data-dismiss="alert">&times;</button>
	                {{ error }}
	            </div>
	        {% endfor %}
	        <div class="input-group input-group-lg">
	            <span class="input-group-addon"><i class="icon-key"></i></span>
	                {{ form.new_password2 }}
	        </div>
	        <br>
	        <button type="submit" class="btn btn-primary btn-lg">{% trans 'Change my password' %}</button>
	    </form>
	{% else %}

		<h2 class="text-blue">{% trans 'Password reset unsuccessful' %}</h2>
		<small>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</small>

		{% endif %}
{% endblock registration_content %}














