{% extends 'registration/registration_base.html' %}
{% load i18n %}

{% block registration_content %}
    <h2>{% trans "Password reset" %}</h2>
    <small>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</small>
    <br /><br />
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <i class="icon-warning-sign"></i>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="" method="post">{% csrf_token %}
        {% for error in form.email.errors %}
            <div class="alert alert-danger">
                <i class="icon-warning-sign"></i>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error }}
            </div>
        {% endfor %}
        <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="icon-envelope"></i></span>
                {{ form.email }}
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-lg">{% trans 'Reset my password' %}</button>
    </form>
{% endblock registration_content %}