{% load staticfiles %}
<header class="header log-out-header-new log-out-header-new-gray ">
  <nav class="navbar" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
	<img class="landing-logo pull-left" src="{% static "img/landing/logo-landing.png" %}">
	<a class="navbar-brand" href="/">Твои достижения</a>
	<ul class="navbar-nav pull-right">
	  <li><a data-toggle="modal" href="/">Регистрация</a><!-- <img src="{% static "img/landing/login.png" %}"> --></li>
	</ul>
      </div>
    </div>
  </nav>
</header>
<!-- End Header and Nav -->
{% include 'registration/login_modal.html' %}
