{% extends 'registration/registration_base.html' %}
{% block registartion_title %}Регистрация{% endblock registartion_title%}

{% block registartion_form %}
	<small>или зарегистрируйтесь через электронную почту</small> <br/><br/>

	<form action="" method="post" >{% csrf_token %}
		{% if form.non_field_errors %}
		    {% for error in form.non_field_errors %}
				<div class="alert alert-danger">
					<i class="icon-warning-sign"></i>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ error }}
				</div>
		    {% endfor %}
		{% endif %}
		
		{% for error in form.email.errors %}
			<div class="alert alert-danger">
				<i class="icon-warning-sign"></i>
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ error }}
			</div>
		{% endfor %}
		<div class="input-group input-group-lg">
			<span class="input-group-addon"><i class="icon-envelope"></i></span>
			{{ form.email }}
		</div>
		<br>
		{% for error in form.password.errors %}
			<div class="alert alert-danger">
				<i class="icon-warning-sign"></i>
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ error }}
			</div>
		{% endfor %}
		<div class="input-group input-group-lg">
			<span class="input-group-addon"><i class="icon-key"></i></span>
			{{ form.password }}
		</div>
		<br>
		<button type="submit" class="btn btn-primary btn-lg">Зарегистрироваться</button>
	</form>
{% endblock registartion_form%}