{% extends 'registration/registration_base.html' %}

{% block registration_content %}
	<img src="/static/img/registration-confirm.png"><br>
	<h1 class="text-blue">Регистрация закрыта.</h1>
	<hr>
	<h3 class="text-gray">В данный момент регистрация закрыта.</h3>
{% endblock registration_content %}