{% extends 'base.html' %}

{% block body %}
			{% block registartion_header %}
				{% include 'registration/registartion_header.html' %}
			{% endblock registartion_header %}
			<main role="main">
			<article class="article">
				<div class="container">
					<div class="col-xs-6 col-md-offset-3 align-center registration">
						{% if user.is_authenticated %}
							<h1 class="text-blue">Вы уже авторизованы</h1>
							<script>
    							document.write('<a class="btn btn-lg btn-primary" href="' + document.referrer + '">Вернуться</a>');
							</script>
						{% endif %}
						{% block registration_content %}
							<h2>{% block registartion_title %}{% endblock registartion_title%}</h2>
							<small>Вы можете войти через социальные сети</small> <br/>
							<ul class="socials-login-links">
								<li>
									<a href='{% url "socialauth_begin" "vk-oauth" %}' class="icon-stack">
										<i class="icon-circle icon-stack-base"></i>
										<i class="icon-vk icon-light"></i>
									</a>
								</li>
								<li>
									<a href='{% url "socialauth_begin" "facebook" %}' class="icon-stack">
										<i class="icon-circle icon-stack-base"></i>
										<i class="icon-facebook icon-light"></i>
									</a>
								</li>
								<li>
									<a href='{% url "socialauth_begin" "twitter" %}' class="icon-stack">
										<i class="icon-circle icon-stack-base"></i>
										<i class="icon-twitter icon-light"></i>
									</a>
								</li>
								<li>
									<a href='{% url "socialauth_begin" "google-oauth2" %}' class="icon-stack">
										<i class="icon-circle icon-stack-base"></i>
										<i class="icon-google-plus icon-light"></i>
									</a>
								</li>
							</ul>
							<hr/>
							{% block registartion_form %}
							{% endblock registartion_form%}
						{% endblock registration_content %}
					</div>
				</div>
			</article>
			</main>
		{% include 'footer.html' %}

{% endblock body%}
