{% extends 'registration/registration_base.html' %}

{% load staticfiles %}

{% block registration_content %}
    <img src="{% static "img/registration-confirm.png" %}"><br>
    <h1 class="text-blue"></h1>
    <hr>
    <h3 class="text-gray">{{ message }}</h3>
{% endblock registration_content %}