{% extends 'registration/registration_base.html' %}

{% load i18n %}

{% block registration_content %}
	<h1 class="text-blue"></h1>
	<hr>
	<h3 class="text-gray">Пользователь с логином {{ username }} уже зарегистрирован через {{ provider }}, воспользуйтесь этим способом авторизации.</h3>
{% endblock registration_content %}