<style>
    .ordered {
        list-style-type: none;
    }
    /*TODO: must be approved by  Make-up man*/
    .alert {
        left:25%;
        position: relative;
        text-align: left;
        max-width: 400px;
    }

</style>
{% if form.errors %}
<div class="alert alert-error">
    <i class="icon-warning-sign"></i>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p><strong>{{ error|escape }}</strong></p>
        {% endfor %}
    {% endif %}
    {% for field in form %}
        {% if field.errors %}
           <strong>{{ field.label|escape }}:</strong>
            <ul class="ordered">
                {% for error in field.errors %}
                 <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
</div>
{% endif %}