{% load postman_tags %}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner {% if not user.is_authenticated %}blue{% endif %}">
        <div class="container">
            <a class="brand" href="{% url 'home' %}">Achiever</a> <span class="tagline" style="font-size:15px;"><span>|</span>Твои достижения</span>
            {% if user.is_authenticated %}
                <form class="navbar-search" method="post" action="{% url 'search' %}">
                    {% csrf_token %}
                    <input type="text" name="query" class="search-query span2" placeholder="поиск по сайту">
                </form>

                <ul class="nav pull-right">
                    {% with user.get_friendship_offers_count as friendship_offers %}
                    <li {% if friendship_offers %}class="attention"{% endif %}>
                        <a class="icon-group hint" data-placement="bottom" data-title="Друзья" href="{% url 'friends' %}"></a>
                        {% if friendship_offers %}
                            <div class="count_badge">
                                {{ friendship_offers }}
                            </div>
                        {% endif %}
                    </li>
                    {% endwith %}
                    <li class="attention">
                        <a class="icon-rss hint" data-placement="bottom" data-title="Новости" href="{% url 'journal' %}"></a>
                    </li>
                    <li>
                        <a class="icon-bar-chart hint" data-placement="bottom" data-title="Рейтинги" href="{% url 'ratings' %}"></a>
                    </li>
                    <li class="attention">
                        <a class="icon-comments hint" data-placement="bottom" data-title="Сообщения" href="{% url 'conversations' %}"></a>
                        <div class="check_new_msg">
                            {% postman_unread as unread_count %}
                            {% if unread_count %}
                                <div class="count_badge">
                                    {{ unread_count }}
                                </div>
                            {% endif %}
                        </div>
                    </li>
                    <li>
                        <div class="btn-group">
                            <a class="icon-cog btn dropdown-toggle" data-toggle="dropdown" data-placement="bottom" href="#"></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'profile' %}"><i class="icon-user"></i> Профиль</a></li>
                                <li><a href="{% url 'auth_logout' %}"><i class="icon-off"></i> Выход</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            {% else %}
                {% block navbar_content %}
                    <div class="pull-right social_login_links">
                    	<form action="{% url 'auth_login' %}" method="post" class="form-inline">{% csrf_token %}
	                        <input id="id_username" maxlength="254" name="username" type="text" placeholder="Электронная почта"/>
							<input id="id_password" name="password" type="password" placeholder="Пароль"/>
							<input type="submit" class="btn btn-mini btn-inverse" value="Войти"/>
						</form>
                        <small><a href="{% url "password_reset" %}">Забыли пароль?</a></small>
                        <a href="{% url "socialauth_begin" "vk-oauth" %}" class="icon-vk"></a>
                        <a href="{% url "socialauth_begin" "facebook" %}" class="icon-facebook"></a>
                        <a href="{% url "socialauth_begin" "twitter" %}" class="icon-twitter"></a>
                        <a href="{% url "socialauth_begin" "google-oauth2" %}" class="icon-google-plus"></a>
                    </div>
                {% endblock %}
            {% endif %}
        </div>
    </div>
</div>
<style type="text/css">
	.social_login_links form.form-inline{
		display: inline-block; 
		margin: 0;
	}
	.social_login_links input[type="password"] {
		font-size: 11px;
		height: 15px;
		margin: 0;
		vertical-align: middle;
		width: 130px;
	}
</style>
