@import "bootstrap.less";
.pie_inside {
	&.add_target {
		filter: none;
		background: @white;
	}
}
.count_badge {
	filter: none;
	background: @mainBlue;

	&.cb_white {
		filter: none;
		background: @white;
	}
	&.cb_red {
		filter: none;
		background: #FF0000;
	}
}
.carousel-indicators {

	.active {
		filter: none;
		background: @mainBlue;
	}
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
	filter: none;
	background: @mainBlue;
}
.user .progress {
	filter: none;
	background: @black;
}