@import "bootstrap.less";
@import "jcrop.less";
@import "font/font-awesome.less";

// All
html, body {
	height: 100%;
}
body {
	position: relative;
}
#wrap > .container {
	padding: 60px 0;
	&.registration {
		padding: 100px 0;
	}
}
#wrap > .user_bar ~ .container {
	padding: 30px 0 60px;
	
}

textarea {
	resize: both;
}
h5 {
	font-size: 13px;
	color: @grayLight;
	font-weight: normal;
	margin-bottom: 5px;
}

a {
	border-bottom: 1px solid ;
	&:hover {
		text-decoration: none;
	}
	.dropdown-menu & {
		border: none;
	}
}
.align-center {
	text-align: center;
	&.nav-pills li {
		text-align: center;
		float: none;
		display: inline-block;
	}
}
.align-right {
	text-align: right;
}
.align-left {
	text-align: left;
}
.no-margin {
	margin: 0;
}
.nav-pills {
	.active {
		.badge {
			box-shadow: 0px -1px 0px @black;
			background-color: @white;
			color: @mainBlue;
		}
	}
}

.before_h1 {
	~ h1 {
		margin-top: 0px;
	}
}
.dropdown-menu {
	max-height: 400px;
	overflow: auto;
}
.control-label small {
	display: block;
}

small {
	color: @grayLight;
	line-height: 13px;
	font-size: 11px;
}
h4 .label {
	font: inherit;
}
h6 {
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
}
// registration
.registration {
	input{
		height: 30px;
		margin-bottom: 10px;
	}
	.add-on {
		padding: 9px;
		color: @grayLight;
		font-size: 17px;
	}
}
//
.users_list {
	border-top: 1px solid @grayLighter;
	padding-top: 10px;
	li {
		display: inline-block;
		margin-right: 5px;
		color: @grayLight;
		a {
			margin-left: 3px;
		}

	}
}

// Social Links
.social_login_links {
	color: @white;
	padding: 10px 0;
	vertical-align: middle;
	text-align: center;
	a {
		font-size: 31px;
		line-height: 49px;
		display: inline-block;
		color: @white;
		text-decoration: none;
		border: none;
		margin: 0 5px;
		background-color: fade(@mainBlue, 80%);
		border-radius: 30px;
		width: 50px;
		height: 50px;
		
		text-shadow: 0 1px 0 fade(@black, 30%);
		box-shadow: 0px -1px 0px fade(@black, 30%);;
		&:hover {
			background-color: darken(@mainBlue, 10%);
		}
	}
	
	input[type="text"]{
		font-size: 11px;
		height: 15px;
		margin: 0;
		vertical-align: middle;
		width: 130px;
	}
	.btn {
		height: 25px;
		vertical-align: middle;
		margin: 0;
		font-size: 11px;
		font: 11px Arial, Helvetica, Geneva, sans-serif;
		margin-right: 30px;
	}
	
	.registration & {
		margin: 0 0 10px;
	}	
	header & {
		a {
			font-size: 17px;
			background-color: fade(@white, 80%);
			color: @mainBlue;
			width: 26px;
			height: 26px;
			line-height: 25px;
			margin: 0 3px;
			&:hover {
				background-color: @white;
			}
		}
	}
}
// User Table
.user_table {
	padding: 5px 0;
	.avatar {
		margin: 5px auto 0;
		
	}
	li {
		padding: 5px 0;
		margin-bottom: 7px;
		border: 1px solid @grayLighte;
		border-radius: 5px;
		overflow: hidden;
		background-color: fade(@black, 5%);
		&:hover {
			background-color: fade(@black, 10%);
		}
		div {
			vertical-align: middle;
		}
		.span2 {
			padding: 15px 0 0 50px;
		}
	}

	.user_name {
		//border: none;
		//font-weight: bold;
		
	}
	.achievements {
		margin-top: 3px;
	}
	
	tr:not(:first-child) {
		border: 1px solid @grayLight;
		border-radius: 10px;
		
	}
	th {
		font-size: 11px;
		color: @grayLight;
		font-weight: normal;
	}
	td {
		padding: 10px;
		&:last-child {
			white-space: nowrap;
		}
	}
	.avatar {
		width: 50px;
		height: 50px;
	}
}
// IRL Advert
.irl_ad {
	height: 90px;
	border-radius: 5px;
	background-color: @grayLighte;
	position: relative;
	margin-bottom: 40px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	&:after {
		position: absolute;
		content: "Реклама";
		text-align: center;
		color: @grayLighte;
		bottom: -20px;
		width: 100%;
		border-bottom: 1px solid @grayLighter;
	}
	&:before {
		position: absolute;
		content: "Реклама";
		text-align: center;
		color: @grayLighte;
		top: -20px;
		width: 100%;
		border-top: 1px solid @grayLighter;
	}
	p {
		text-align: center;
		color: @white;
		vertical-align: middle;
		line-height: 80px;
		font-size: 21px;
	}
}


// search_block
.search_block input{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}
// User Column
.user {
	//position: relative;
	.name {
		color: @grayLight;
		margin-top: 10px;
		b {
			font-size: 17px;
			display: block;
			color: @black;
		}
	}

	.photo {
		margin: 10px 0;
		img {
			border-radius: 10px;
			width: 190px;
			//padding: 2px;
		}
		&.vip_user {
			position: relative;
			&:after {
				font: 23px/43px FontAwesome;
				width: 40px;
				height: 40px;
				top: -5px;
				left: -5px;
			}
		}
	}
	.progress {
		width: 190px;
	}
}
.left_separator {
	width: 220px;
	background: url('../i/separator.jpg') no-repeat right top;
	min-height: 400px;
	.transition(all .5s);
	&.affix {
		top: 50px;
	}
	&.span4 {
		width: 300px;
	}
}

.timeline {
	padding: 5px 0;
	.timeline_pic {
		display: block;
		border-radius: 10px;
		box-shadow: 0px 1px 1px @black;
		position: relative;
		border: none;
		.achiv {
			position: absolute;
			top: -4px;
			left: 20px;
			z-index: 2;
		}
		&.achiv_month {
			i {
				margin-bottom: 5px;
			}
			a {
				color: @white;
				font-size: 21px;
			}
		}
		&:hover {
			opacity: .9;
		}

		.icon_sign {
			background-color: @mainBlue;
			color: @white;
			position: absolute;
			right: 0;
			bottom: 0;
			width: 30px;
			height: 30px;
			border-top-left-radius: 10px;
			border-bottom-right-radius: 10px;
			text-align: center;
			box-shadow: -2px -2px 2px fade(@black, 30%);
			i {
				font-size: 21px;
				line-height: 31px;
				margin-left: 1px;
				text-shadow: 0 -1px 0 fade(@black, 50%);
			}
			&.not_trusted_sign {
				background-color: @gray;
			}
			&.rejected_sign {
				background-color: #c50403;
			}
		}

		
	}
	.span5 {
		position: relative;
		&:hover {
			.settings {
				display: block;
			}
		}
		
	}
	.settings {
		display: none;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 10;
		
		.btn {
			color: @white;
			background: fade(@black,30%) none ;
			border-radius: 10px;
			padding: 3px 7px;
			outline: none;
		}
		&.btn-group.open .btn {
			background: fade(@black,70%) none ;
		}
		
		
		.dropdown-menu {
			font-size: 11px;
			right: 0;
			left: auto;
			text-align: right;
			min-width: inherit;
			a {
				padding: 1px 10px;
			}
		}
	}

	.image {
		border-radius: 10px;
		overflow: hidden;
		max-height: 150px;
		position: relative;
		display: block;
		img {
			border-radius: 10px;
		}
	}
	.timeline_date {
		color: @gray;
		text-align: center;
		font-size: 15px;
		padding-top: 10px;
		line-height: 16px;
		> div {
			font-size: 31px;
			padding-bottom: 3px;
		}
		.i_like {
			margin-top: 6px;
			padding-top: 6px;
			border-top: 1px solid @grayLighter;
			position: relative;
			i {
				font-size: 39px;
				color: @grayLight;
			}
			div {
				position: absolute;
				top: 0;
				color: @white;
				font-size: 15px;
				width: 100%;
				text-align: center;
				top: 16px;
			}
			&.red {
				i {
					color: #f10000;
				}
			}
		}
	}
	.info_achiv {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background-color: fade(@black,50%);
		width: 100%;
		z-index: 1;
		color: @white;
		.box-sizing(border-box);
		padding: 15px 10px 15px 100px;
		font-weight: normal;
		line-height: 13px;
		i {
			display: block;
			font-style: normal;
			font-size: 11px;
			opacity: .8;
		}
	}
	input.add_comment {
		margin-top: 5px;
		font-size: 11px;
	}
}

.timeline_event {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px dashed @grayLight;
	.avatar {
		margin: auto;
	}
	.span3 {
		overflow: visible;
	}
}
.timeline_comments {
	list-style: none;
	margin: 0;
	li {
		overflow: hidden;
		padding: 5px 0 ;
		border-bottom: 1px solid @grayLighter;
		position: relative;
		&:hover {
			background-color: @grayLighter;
			border-radius: 5px;
			.icon-remove-sign {
				display: block;
			}
		}
	}
	.avatar {
		float: left;
		width: 25px;
		height: 25px;
		&.vip_user {
			&:after {
				font: 7px/11px FontAwesome;
				width: 10px;
				height: 10px;
				margin-top: -28px;
			}
		}
	}
	.comment_text {
		margin-left: 30px;
		font-size: 11px;
		line-height: 13px;
		word-wrap: break-word;
	}
	.icon-remove-sign {
		display: none;
		position: absolute;
		top: 2px;
		right: 2px;
		color: @grayLight;
		&:hover {
			color: @black;
			cursor: pointer;
		}
	}
}

// Messages
#messages {
	.avatar {
		margin-left: auto;
	}
	.span4 {
		.row {
			padding: 10px 0;
			border-bottom: 1px solid @grayLighter;
			&.current {
				background-color: fade(@gray,15%);
				&:hover {
					background-color: fade(@gray,15%);
				}
			}
			&:hover {
				background-color: fade(@gray,5%);
				cursor: pointer;
			}
		}
	}
}
.messages_list {
	max-height: 350px;
	overflow-y: auto;
	padding-top: 2px;
	p {
		font-size: 13px;
		margin: 0;
		word-wrap: break-word;
	}
	.row {
		.well {
			display: inline-block;
			padding: 10px;
			max-width: 100%;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		&.right {
			.avatar {
				margin-right: auto;
			}
			.span5 {
				text-align: right;
			}
		}
	}
	small {
		color: @grayLight;
	}
}

//Header
.tagline {
	padding-top: 15px;
	color: @grayLight;
	display: inline-block;
	font-size: 13px;
	span {
		margin-right: 20px;
	}
}
.navbar-inverse .navbar-search {
	display: inline-block;
	margin-left: 30px;
	vertical-align: top;
	margin-top: 12px;
	.search-query {
		font-size: 11px;
		height: 16px;
		background-color: fade(@black,30%);
		.placeholder(fade(@white,20%));
		&:focus {
			.placeholder(fade(@black,20%));
		}
	}
}

.navbar {
	.nav > li {
		border-left: 1px solid @black;
		position: relative;
		height: 45px;
		&.attention a{
			color: @white;
		}
		&:last-child {
			border-right: 1px solid @black;
		}
		> a {
			padding-top: 15px;
			padding-bottom: 10px;
			height: 20px;
			display: inline-block;
			vertical-align: bottom;
			font-size: 21px;
			box-shadow: inset 0px 0px 5px fade(@white, 30%);
			min-width: 20px;
			text-align: center;
			overflow: hidden;
		}
		> .btn-group {
			height: 100%;
			display: inline-block;
			vertical-align: top;
			box-shadow: inset 0px 0px 5px fade(@white, 30%);
			margin: 0;
			&.open  .btn.dropdown-toggle {
				#gradient > .vertical(@navbarInverseBackground, @navbarInverseBackgroundHighlight);
				color: @white;
				border-radius: none;
			}
			> a {
				background-color: transparent;
				color: @white;
				font-size: 23px;
				display: block;
				padding: 12px 15px 7px 15px;
				height: 25px;
				border-radius: 0;
				outline: none;
				box-shadow: none;
				border-bottom: 1px solid;
				opacity: .5;
				&:hover, &:active, &:focus {
					opacity: 1;
				}
			}
			.dropdown-menu {
				left: auto;
				right: 0;
				background-color: @grayDark;
				color: @white;
				border-radius: 0;
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
				margin-top: -1px;
				margin-right: -2px;
				a {
					color: @white;
				}
			}
		}
		.count_badge {
			top: 2px;
			right: 2px;
			font-size: 11px;
		}
	}
	a.brand {
		padding-top: 15px;
		border: none;
	}
	.navbar-inner.blue {
		#gradient > .vertical(@mainBlue, darken(@mainBlue,10%));
		//border-bottom: 1px solid @grayLight;
		.box-shadow(0 1px 1px rgba(0,0,0,.5));
		.tagline {
			color: @white;
		}
	}
}

// Score Bar
.score_bar {
	position: relative;
	.progress-big {
		height: 26px;
		margin-top: 10px;
		background: @grayDark;
		border: 1px solid @black;
		//#gradient > .vertical(@grayDarker, fade(@gray,5%));
		box-shadow: inset 0 2px 10px rgba(0,0,0,.7), 0 0 7px fade(@white, 20%);
		.border-radius(30px);
		.bar_amount {
			font-size: 17px;
			line-height: 27px;
			color: fade(@white, 50%);
		}
	}
	.achiv {
		position: absolute;
		right: 20px;
		top: 8px;
	}
	.bar_text {
		font-size: 11px;
		text-align: center;
		color: @grayLight;
	}
}


// Count Badge
.count_badge {
	position: absolute;
	top: 0;
	right: 0px;
	padding: 0px 7px;
	border-radius: 20px;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0px -1px 0px @black;
	#gradient.vertical(@mainBlue,darken(@mainBlue,10%));
	box-shadow: inset 0px 0px 2px @white, 0px 1px 2px @black;
	color: @white;
	z-index: 1000;
	&.cb_white {
		#gradient.vertical(@white,darken(@white,20%));
		color: @black;
		text-shadow: none;
	}
	&.cb_red {
		#gradient.vertical(#FF0000,darken(#FF0000,10%));
	}
	.table_ratings & {
		position: inherit;
		display: inline-block;
		vertical-align: top;
	}
}

// Ratings
.table_ratings {
	.digit_wrap {
		min-width: 50px ;
	}
	.digit {
		color: @grayLight;
		display: inline-block;
		padding-right: 5px;
		&.digit_bold {
			color: @black;
			font-weight: bold;
		}
	}
	th {
		font-weight: normal;
		font-size: 11px;
		color: @grayLight;
		border-top: none;
		text-align: center;
	}
	td {
		vertical-align: middle;
		text-align: center;
	}
	td,th {
		&:nth-of-type(2) {
			text-align: left;
		}
	}
	tr:nth-child(n+4) {
		a {
			color: @grayLight;
		}
		.achiv.mini.achiv-gray {
			width: 27px;
			height: 31px;
			background-position: -100px -117px;
		}
	}
	
	.progress {
		min-width: 200px;
	}
}
.top_ratings {
	.name {
		b {
			font-size: 17px;
			display: block;
		}
	}
}

// Achievement
.achiv_activ {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid @grayLight;
	font-size: 13px;
	line-height: 15px;
	span {
		font-style: normal;
		font-size: 11px;
		color: @grayLight;
		display: block;
		line-height: 13px;
		margin-bottom: 5px;
	}
	.qty_hours {
		display: block;
		font: bold 41px Helvetica, Arial, Geneva, sans-serif;
		margin: 0 auto 5px;
	}
	
	
	input.qty_hours  {
		width: 60px;
		height: 45px;
		padding: 0;
		text-align: center;
		color: @white;
		#gradient > .vertical(darken(@mainBlue,10%),@mainBlue);
		border-color: darken(@mainBlue,10%);
	}
	.span1 .qty_hours {
		#gradient > .vertical(@grayLight,@grayDark);
		color: @white;
		border-radius: 5px;
	}
	.span4 {
		text-align: left;
	}
}
.confirmation {
	.nav-pills {
		a{
			font-size: 17px;
			padding: 10px 0;
		}
		.active a {
			padding: 15px 20px;
		}
		.danger {
			
			a {
				background-color: fade(#911F24,20%);
				border-radius: 5px;
			}
			&.active a {
				#gradient > .vertical(#911F24,#EB454B);
			}
		}
	}
	.modal-body {
		padding: 5px 10px;
	}
	form {
		margin: 0;
		padding-bottom: 30px;
	}
	.modal-header {
		border: none;
		width: auto;
	}
}
// Carousel
.carousel {
	.item {
		//height: 251px;
		border-radius: 10px;
		overflow: hidden;
		> img {
			max-width: 100%;
			border-radius: 10px;
		}
		.achiv {
			position: absolute;
			z-index: 1;
			top: -5px;
			left: 50px;
		}
		.info_achiv {
			position: absolute;
			z-index: 1;
			top: 20px;
			left: 130px;
			width: 490px;
			b {
				font-size: 35px;
			}
			hr {
				border-bottom-color: @gray;
			}
		}
	}
	.carousel-inner {
		margin-bottom: 40px;
		height: 250px;
		box-shadow: 0px 2px 2px @black;
		border-radius: 10px;
	}
	
	&.light {
		.carousel-inner {
			height: 400px;
			box-shadow: none;
			border-radius: 5px;
			//padding-bottom: 2px;
			> .item {
				text-align: center;
				height: 100%;
				line-height: 397px;
				//background-color: @grayDark;
				//border: 1px solid @grayLight;
				> img {
					vertical-align: middle;
					max-height: 100%;
					max-width: 100%;
					
					display: inline-block;
		
					border-radius: 5px;
					
				}
			}
			
			
			
		}
	}
	&.carousel_achiv {
		img {
			filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
			filter: blur(5px); /* Current draft standard */
			-webkit-filter: blur(5px); /* New WebKit */
			-moz-filter: blur(5px);
			-ms-filter: blur(5px); 
			-o-filter: blur(5px);
			opacity: .2;
		}
		.item {
			width: 640px;
			margin-left: 50px;
		}
	}
}
.carousel-control {
	background: none;
	border: none;
	color: fade(@black, 40%);
	text-shadow: 0px -1px 0 @black;
	&:hover {
	
		color: fade(@black, 60%);
	}
}
.carousel-caption.user_name {
	display: inline-block;
	background-color: fade(@black,50%);
	padding: 0;

	border-radius: 10px;
	.avatar {
		line-height: 20px;
		display: inline-block;
		width: 25px;
		height: 25px;
		margin-right: 5px;
	}
	a {
		color: @grayLighte;
		padding: 5px;
		border: none;
		display: block;
		text-align: center;
		&:hover {
			color: @white;
		}
	}
	&:hover {
		background-color: fade(@black,70%);
	}
}
// 

.share_social {
	font-size: 12px;
	color: @grayLight;
	padding-top: 5px;
	a {
		font-size: 15px;
		color: @grayLight;
		border: none;
		padding: 0 2px;
		&:hover {
			color: @mainBlue;
		}
	}
}


// User Bar
.user_bar {
	#gradient.vertical(@grayDark,@gray);
	padding: 60px 0 15px 0;
	height: 50px;
	color: @white;
	.name {
		font-size: 13px;
		color: @grayLight;
		display: inline-block;
		vertical-align: top;
		margin-left: 10px;
		line-height: 17px;
		b {
			font-size: 15px;
			color: @white;
			display: block;
			margin-top: 7px;
		}
		
	}
}
.vip_user {
	&:after {
		font: 7px/11px FontAwesome;
		width: 10px;
		height: 10px;
		content: @star;
		display: block;
		
		text-shadow: 0px -1px 0px @black;
		#gradient.vertical(#fffea0,#e6962c);
		box-shadow: inset 0px 0px 2px @white, 0px 1px 2px @black;
		color: @white;
		border-radius: 30px;
		position: absolute;
		text-align: center;
		color: #7d4e0e;
		text-shadow: 0 0 3px @white;
		z-index: 10;
	}
}

.avatar {
	width: 40px;
	height: 40px;
	overflow: hidden;
	border-radius: 30px;
	//box-shadow: 0px -1px 0px @black;
	display: block;
	border: none;
	img {
		width: 100%;
		border-radius: 30px;
	}
	&.vip_user {
		&:after {
			margin-top: -45px;
			font: 10px/14px FontAwesome;
			width: 13px;
			height: 13px;
		}
	}
}
// Face Line
.face_line {
	padding: 5px 0;
	.avatar {
		display: inline-block;
		margin: 0 auto;
		width: 50px;
		height: 50px;
	}
	.achiv {
		margin: -22px auto 0 auto;
		display: block;
		
	}
}


// Sticky Footer
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}
#push, footer {
	height: 60px;
}
footer {
	//background-color: @grayDark;
	#gradient > .vertical(@navbarInverseBackgroundHighlight, @navbarInverseBackground);
	color: @grayLight;
	position: relative;
	z-index: 100;
	.container {
		padding-top: 20px;
	}
	a {
		color: @grayLighter;
		
		border-bottom: 1px solid;
		&:hover {
			color: @white;
			text-decoration: none;
		}
	}
}
// Add Achiv
.choose_color {
	vertical-align: top;
	label {
		//opacity: .5;
		&:hover {
			opacity: 1;
		}
	}
	input {
		display: none;
		vertical-align: top;
		~ div {
			padding-top: 10px;
			border-radius: 5px;
			&:hover {
				background-color: @grayLighter;
			}
		}
		&:checked {
			~ div {
				background-color: @grayLighte;
				box-shadow: inset 0px 1px 5px @gray;
			}
		}
	}
	.span1 {
		text-align: center;
		
	}
}
.fileupload-progress {
	margin: 10px 0;
}
.fileupload-progress .progress-extended {
	margin-top: 5px;
}
.files {
	.size {
		font-size: 13px;
		display: block;
		text-align: center;
		padding-top: 5px;
	}
	.progress {
		min-width: 100px;
	}
	.preview {
		label {
			display: inline-block;
			padding: 4px;
			border-radius: 5px;
			img {
				border-radius: 5px;
			}
			&:hover {
				
			}
		}
		input:checked ~ label {
			background-color: @mainBlue;
			
		}
	}
	td {
		vertical-align: middle;
	}
	.preview_img {
		width: 110px;	
	}
}
.fileupload-buttonbar {
	height: 40px;
}
.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}

// JCROP
.jcrop-holder {
	#preview-pane {
		display: block;
		position: absolute;
		z-index: 100;
		top: 10px;
		right: -130px;
	}
}

#preview-pane .preview-container {
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 50px;
	box-shadow: 0px -2px 0px @black;
	display: block;
	border: none;
	img {
		width: 100%;
		border-radius: 50px;
	}
}
.settings_jcrop {
	padding-top: 20px;
	position: relative;
	min-height: 200px;
	small {
		display: block;
		position: absolute;
		z-index: 2000;
		top: 120px;
		left: 30px;
		width: 100px;
		&:before {
			content: @chevron-left;
			font-family: 'FontAwesome';
			position: absolute;
			left: -30px;
			top: 20px;
			font-size: 35px;
			color: @grayLighte;
		}
	}
}

// photo_achiv
.photo_achiv {
	padding: 10px 0 0 0;
	li {
		display: inline-block;
		height: 60px;
		margin-bottom: 7px;
		
		img {
			max-height: 100%;
			border-radius: 2px;
			cursor: pointer;
		}
		> div {
			
			position: relative;
			border-radius: 3px;
			&:hover {
				background-color: @grayLight;
			}
			.icon-remove {
				position: absolute;
				right: -3px;
				top: -3px;
				background-color: @gray;
				color: @white;
				display: inline-block;
				padding: 2px 3px;
				border-radius: 3px;
				border: none;
				display: none;
				&:hover {
					background-color: #c80202;
				}
			}
		}
		&.current {
			> div {
				padding: 6px;
				background-color: @mainBlue;
				box-shadow: inset 0px 1px 5px @gray;
			}
			
		}
		&:hover {
			.icon-remove{
				display: block;
			}
		}
	}
}

#achiv_cover {
	img {
		//border-radius: 10px;
		//width: 380px;
	}
}
.jcrop-light {
	border: 1px solid @grayLight;
	.jcrop-selection {
	 	box-shadow: 0px 0px 15px #999;
	}
}
// Achiv

.achiv {
	width: 60px;
	height: 85px;
	color: @white;
	text-align: center;
	background: url('../i/achivka.png') no-repeat -8px -8px;
	display: inline-block;
	i {
		display: block;
		font-style: normal;
		font-weight: bold;
		font-size: 31px;
		padding-top: 20px;
		text-shadow: 0px -1px 0px @black;
		&[class^="icon-"] {
			font-weight: normal;
		}
		
	}
	a&:hover {
		border-color: transparent;
		color: @white;
		i {
			text-shadow: 0px 2px 2px @black;
		}
	}
	&.achiv-gray {
		background-position: -8px -100px;
	}
	&.achiv-violet {
		background-position: -8px -396px;
	}
	&.achiv-green {
		background-position: -8px -292px;
	}
	&.achiv-collect {
		background-position: -8px -194px;
	}
	&.mini {
		width: 37px;
		height: 50px;
		background-position: -95px -7px;
		i {
			font-size: 19px;
			padding-top: 13px;
		}
		&.achiv-gray {
			background-position: -95px -100px;
		}
		&.achiv-violet {
			background-position: -95px -396px;
		}
		&.achiv-green {
			background-position: -95px -292px;
		}
		&.achiv-collect {
			background-position: -95px -195px;
		}
		&.activated:after  {
			height: 10px;
			width: 10px;
			font-size: 11px;
			line-height: 9px;
			top: -1px;
		}
		/*&.trusted:after  {
			height: 10px;
			width: 10px;
			font-size: 11px;
			line-height: 9px;
			top: -1px;
		}*/
	}
	&.micro {
		width: 27px;
		height: 31px;
		background-position: -100px -25px;
		i {
			padding-top: 5px;
			font-size: 14px;
		}
		&.achiv-gray {
			background-position: -100px -117px;
		}
		&.achiv-violet {
			background-position: -100px -413px;
		}
		&.achiv-green {
			background-position: -100px -209px;
		}
		&.achiv-collect {
			background-position: -100px -212px;
		}
		&.activated:after  {
			height: 8px;
			width: 8px;
			font-size: 9px;
			line-height: 9px;
			top: -2px;
		}
	}
	
	
	&.fail {
		background: none;
		i  {
			font-size: 43px;
			padding-top: 10px;
		}
	}
	&.activated {
		position: relative;
		&:after {
			content: "A";
			position: absolute;
			top: -2px;
			right: -2px;
			color: @white;
			background-color: @mainBlue;
			border-radius: 20px;
			display: block;
			padding: 3px;
			height: 15px;
			width: 15px;
			font-size: 13px;
			line-height: 13px;
			font-weight: bold;
			
		}
	}
/*	&.trusted {
		position: relative;
		&:after {
			content: "\F00C";
			font-family: FontAwesome;
			position: absolute;
			top: -2px;
			right: -2px;
			color: @white;
			background-color: #76cf00;
			border-radius: 20px;
			display: block;
			padding: 3px;
			height: 15px;
			width: 15px;
			font-size: 12px;
			line-height: 12px !important;
		}
	}*/
	
	
}
.btn-achiv {
	position: relative;
	padding-left: 60px;
	.achiv {
		margin-top: -9px;
		position: absolute;
		top: 5px;
		left: 15px;
		i {
			position: absolute;
			top: 0;
			left: 10px;
		}
	}
}
.collect_achievments {
	.span3 {
		float: none;
		display: inline-block;
		vertical-align: top;
		margin-left: 15px;
	}
	.collect {
		position: relative;
		display: block;
		padding: 10px;
		margin-bottom: 20px;
		text-align: center;
		&:hover {
			background-color: @grayLighter;
			border-radius: 10px;
			color: @black;
			.name_collect {
				border-color: @black;
			}
		}
	}
	.image {
		display: block;
		margin-bottom: 10px;
		height: 100px;
		overflow: hidden;
		border-radius: 5px;
	}
	.achiv {
		position: absolute;
		top: 5px;
		left: 15px;
	}
	.name_collect {
		font-weight: bold;
		font-size: 17px;
		border-bottom: 1px solid @linkColor;
	}
	a {
		border: none;
	}
}
// Main Tabs

.main_tabs {
	margin-top: -60px;
	position: relative;
	z-index: 1;
	a {
		display: block;
		text-align: center;
		padding: 30px 10px;
		.box-sizing(border-box);
		color: @gray;
		border: none;
		border-radius: 10px;
		&:hover {
			color: @black;
			background-color: @grayLighter;
			.svg-icon  {
				path {
					fill: @black;
				}	
			}
		}
		.mt_name {
			display: block;
			font-weight: bold;
			font-size: 25px;
			margin: 10px 0;
		}
		i {
			display: block;
			font-size: 35px;
			height: 40px;
			overflow: hidden;
		}
	}
	.current {
		#gradient > .vertical(@mainBlue, darken(@mainBlue,10%));
		color: @white;
		
		box-shadow: 0px 1px 1px @black;
		position: relative;
		&:after {
			position: absolute;
			content: "";
			#arrow.up(21px,@mainBlue);
			top: -40px;
			left: 88px;
		}
		&:hover {
			color: @white;
			cursor: default;
			.svg-icon  {
				path {
					fill: @white;
				}	
			}
		}
		.svg-icon  {
			path {
				fill: @white;
			}	
		}
	}
	.svg-icon  {
		display: block;
		font-size: 35px;
		height: 40px;
		overflow: hidden;
		
		path {
			fill: @gray;
			
		}	
	}
}


// Landing Image 
.landing_image {
	height: 350px;
	overflow: hidden;
	background: url('../i/temp/main_body.jpg') center center repeat-x;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	z-index: 1;
	position: relative;
	.btn {
		margin-top: 180px;
		&:after {
			position: absolute;
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			padding: 8px;
			background-color: fade(@black, 40%);
			top: -8px;
			left: -8px;
			border-radius: 9px;
			z-index: -1;
			box-shadow: inset 0 0 5px fade(@black, 50%), 0 0 5px fade(@white, 50%);
			
		}
		&:hover:after {
			box-shadow: 0 0 10px @white;
		}
	}
}

// History Achiev
.date {
	font-size: 11px;
	color: @grayLight;
	line-height: 13px;
}
.history_achiv {
	padding-top: 10px;
	.date {
		text-align: right;
	}
	.icon-remove {
		font-size: 31px;
		display: inline-block;
		color: @grayLight;
		height: 45px;
		text-align: center;
		
	}
	.span1 {
		text-align: center;
		div {
			margin: auto;
		}
		.achiv, .avatar {
			display: block;
			margin-top: -5px !important;
		}
	}
	
	.row {
		padding-bottom: 15px;
	}
	&.history_group {
		.achiv, .avatar {
			margin-top: 0px !important;
		}
		.date {
			padding-top: 5px;
		}
	}
}
.history_group {
	.span7 {
		vertical-align: top;
		a {
			vertical-align: top;
		}
	}
}

// Group Messages
.count_message {
	font-size: 13px;
	text-align: center;
	width: 30px;
	position: relative;
	display: block;
	border: none;
	margin: 3px auto 0;
	&:after {
		content: "\F0E5";
		font-size: 31px;
		position: absolute;
		top: 0;
		left: 0;
		color: #28ABE2;
		z-index: -1;
		font-family: FontAwesome;
	}
	&.new {
		color: @white;
		&:after {
			content: "\F075";
		}
	}
}

// My Achievments
.my_achiv {
	padding-bottom: 20px;
	.span1 {
		float: none;
		display: inline-block;
		vertical-align: bottom;
		width: 70px;
		p {
			font-size: 11px;
			line-height: 12px;
			padding-bottom: 5px;
			color: @grayLight;
			display: table-cell;
			vertical-align: bottom;
			text-align: center;
			height: 25px;
			span {
				display: block;
				text-overflow: ellipsis;
				overflow: hidden;
				width: 70px;
			}
		}
	}
}


// Tree
.achiv_tree {
	text-align: center;
	.branch {
		text-align: center;
		//padding: 0 0 20px;
		
		&:not(:first-child) {
			display: none;
			margin-top: 20px;
			border-top: 1px solid @grayLight;
		}
	}
	:checked + .branch {
		display: block;
	}
	[type=radio] {
		display: none;
	}
		
	.leaf {
		text-align: center;
		float: none;
		display: inline-block;
		padding: 5px 5px 30px;
		width: 70px;
		border: 1px solid transparent;
		border-radius: 5px;
		vertical-align: bottom;
		position: relative;
		&:hover {
			border: 1px solid @grayLight;
		}
		&.current {
			//background-color: @mainBlue;
			background-color: @grayLighter;
			border: 1px solid @grayLight;
			position: relative;
			&:before {
				content:"";
				position: absolute;
				width: 1px;
				height: 25px;
				bottom: -25px;
				left: 50%;
				background-color: @grayLight;
			}
		}
		p {
			font-size: 11px;
			line-height: 12px;
			margin: 0;
			color: @grayLight;
			display: table-cell;
			vertical-align: bottom;
			text-align: center;
			height: 25px;
			span {
				display: block;
				text-overflow: ellipsis;
				overflow: hidden;
				width: 70px;
			}
		}
	}
	.achiv_amount {
		width: 70px;	
		position: absolute;
		display: block;
		bottom: 5px;
		span {
			display: block;
			width: 20px;
			height: 20px;
			background-color: @grayLighter;
			color: @grayLight;
			margin: auto;
			border-radius: 20px;
		}
	}
	
}
.achiv_filter {
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dotted @grayLight;
	li {
		text-align: left;
	}
}

// Charts
.pie {
	@pieRadius: 54px;
	width: @pieRadius;
	height: @pieRadius;
	position: relative;
	overflow: hidden;
	border-radius: @pieRadius;
	background: @grayDark;
	box-shadow: 0px 0px 7px @grayLight;
	
}
.pie_wrap {
	position: relative;
	width: 60px;
	height: 60px;
	display: inline-block;
	z-index: 2;
	border: none;
	.pie {
		position: absolute;
		top: 0;
		left: 0;
	}
	&:hover .pie {
		box-shadow: 0px 0px 7px 2px @white;
	}
	&.vip_user:after {
		font: 13px/17px FontAwesome;
		width: 17px;
		height: 17px;
		position: absolute;
		top: 1px;
		left: 1px;
	}
}

.pie_inside {
	position: absolute;
	top: 6px;
	left: 6px;
	width: 40px;
	height: 40px;
	padding: 1px;
	background-color: @grayDark;
	border-radius: 30px;
	font-size: 13px;
	text-align: center;
	color: @grayLighter;
	z-index: 3;
	> span {
		display: block;
		padding-top: 5px;
	}
	img {
		width: 100%;
		border-radius: 30px;
		box-shadow: 0px -1px 0px @black;
	}
	&.add_target {
		#gradient.vertical(@white,darken(@white,20%));
		color: @black;
		font-size: 19px;
		line-height: 31px;
		
	}
	
}

// interests

.interests {
	.label {
		&:hover {
			background-color: @mainBlue;
		}
	
	}
}

// Main Section
.main_section {
	padding-top: 5px;
	a {
		color: @gray;
		border: none;
		&:hover {
			.pie {
				box-shadow: 0px 0px 15px 1px @white;
			}
		}
	}
	.pie {
		@pieRadius: 44px;
		width: @pieRadius;
		height: @pieRadius;
	}
	.pie_inside {
		width: 30px;
		height: 30px;
		background-color: @gray;
	}
	.count_badge {
		top: -4px;
		right: 5px;
		font-size: 12px;
	}
	.name {
		width: 80px;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-left: -5px;
		font-size: 11px;
		b {
			color: @grayLight;
			margin: 0;
		}
		a {
			margin-top: 2px;
			line-height: 12px;
			height: 40px;
			width: 80px;
			overflow: hidden;
			display: block;
			text-overflow: ellipsis;
			color: @grayLighte;
			&:hover {
				color: @white;
			}
		}
	}
	.tooltip-inner {
		white-space: nowrap;
		font-weight: normal;
	}
	
}
// Icons




//
// Arrows
#arrow{
	.down(@size:5px, @color: @white){
		border-style: solid;
		border-width: @size;
		border-color: @color transparent transparent transparent;
	}
	.left(@size:5px, @color: @white){
		border-style: solid;
		border-width: @size;
		border-color: transparent @color transparent transparent;
	}
	.up(@size:5px, @color: @white){
		border-style: solid;
		border-width: @size;
		border-color: transparent transparent @color transparent;
	}
	.right(@size:5px, @color: @white){
		border-style: solid;
		border-width: @size;
		border-color: transparent transparent transparent @color;
	}
}

