<a class="achiv achiv-link {{ a_class }}" href="{{ href }}" {% if data_title %}data-toggle="tooltip" data-title="{{data_title}}"{% endif %}>
    <span>
    {% for i in stars_range %}
        {% if forloop.last and forloop.counter == 3 %}
            {# небольшой хак, чтобы верстка при 3х звёздах была красивее #}
            <br>
        {% endif %}
        <i class="icon-star"></i>
    {% endfor %}
    </span>
</a>


