<form class="row achiv_activ" action="">
    <div class="col-xs-2">
        <div class="qty_hours">{{ remaining_time.days }}</div>дней
    </div>
    <div class="col-xs-2">
        <div class="qty_hours">{{ remaining_time.hours }}</div>часов
    </div>
    <div class="col-xs-2">
        <div class="qty_hours">{{ remaining_time.minutes }}</div>минут
    </div>
    <div class="col-xs-6">
        <a href="{% url 'confirm_achievement' user_achievement.achievement.id %}" class="btn btn-lg btn-primary" data-toggle="modal" >Подтвердить</a>
        {% if user_achievement.is_available_deactivate %}
            или <a href="{% url 'unactivate_achievement' user_achievement.achievement.id %}">отменить</a>
        {% endif %}
    </div>
</form>
