{% load staticfiles inlife_tags %}
<form class="row achiv_activ" id="formValidSubmit" action="{% url 'activate_achievement' user_achievement.achievement.id %}" method="get" 
    {% if user_achievement.is_failed %}
        onsubmit="return confirm('Do you really want to submit the form?');"
    {% endif %}
>
    <div class="col-xs-3">
        <span>Продолжительность<br/>
            достижения</span>
        <div class="qty_hours">{{ user_achievement.achievement.get_intensity }}</div>
        <i class="icon-time"></i> дней<br/>всего
    </div>
    <div class="col-xs-3">
        <span>Укажите желаемую<br/>
            интенсивность</span>
        <input class="qty_hours form-control"  data-title="Максимум 45 часов" type="text" value="{{ user_achievement.achievement.get_intensity }}" maxlength="2" name="qty" />
        <i class="icon-time"></i> в днях<br/>
    </div>
    <div class="col-xs-4">
        <span>Срок подтверждения<br/>
        {% now 'd E Y' %} - {{ user_achievement.achievement.get_intensity|end_date|date:'d E Y' }}</span>
        <input type="submit" class="btn btn-large btn-primary dev_activate" value="Активировать"/>
    </div>
</form>
