{% extends 'base.html' %}
{% load inlife_tags staticfiles %}

{% block content %}
<!-- Modal -->
<form class="modal fade modal-cute instagram-modal" id="instagram-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <img src="{% static 'img/instagram-logo.png' %}">
      </div>
    <div class="modal-body">
      {% if inst_photo %}
        <ul class="list-inline">
          {% for photo, thumb in inst_photo %}
            <li><img data-url="{{ photo }}" src="{{ thumb }}"/><div class="check icon-ok"></div></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div id="access_token" style="display: none;">{{ access_token }}</div>
    <div id="max_id" style="display: none;">{{ max_id }}</div>
    <div class="modal-footer">
      <a href="#" id="instgram_image" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" >Прикрепить</a>
    </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</form><!-- /.modal -->
    
    <div class="media media-header">
      <div class="pull-left">
        {% achiv_span user_achievement %}

      </div>
      <div class="media-body">
        <h2>
            {% if user_achievement.is_active %}
                Подтверждение цели: «{{ user_achievement.achievement.name }}»
            {% else %}
                Изменение достижения: «{{ user_achievement.achievement.name }}»
            {% endif %}
        </h2>
      </div>
    </div>

    <form class="form-horizontal" action="{% url 'confirm_achievement' user_achievement.achievement.id %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% for hidden in form.hidden_fields %}
        {{ hidden }}
      {% endfor %}


       {# выбор вотографии  #}
  {# почему-то не включается через include  #}
    <div class="form-group">
      <link href="{% static 'image_cropping/css/jquery.Jcrop.min.css' %}" type="text/css" media="all" rel="stylesheet" />
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
      <script type="text/javascript" src="{% static 'image_cropping/js/jquery.Jcrop.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'image_cropping/image_cropping.js' %}"></script>
      <style> .jcrop-image { margin: 0 auto; } </style>

      {{ photo_formset.management_form }}
      <div class="col-xs-12 add-achiv-img-box photo_select">
        <div class="achiv_cover-box" id="achiv_cover">
        <p class="upload-message" style="display: none;">Идет загрузка фотографии...<span class="upload-progress"></span></p>
          <div id="photo_formsets_container">
            {% for photo_form in photo_formset %}
            <div class='proof_photo_form' id="photo_form_{{ forloop.counter0 }}" style="display: none;" >
              {{ photo_form.id }}
              <div style="display: none;" class='delete_input_wrap'>
                {{ photo_form.DELETE }}
              </div>
              <div style="display: none;" >
                {{ photo_form.photo }}
              </div>
              <div class='position_input_wrap'>
                {{ photo_form.position }}
              </div>
                {{ photo_form.cropping }}
            </div>
            {% endfor %}
          </div>
          
          <div class="not-first-condition {% if not photo_bool %}hide{% endif %}" >
            <span class="btn btn-black fileinput-button">
              <input type="hidden" id="id_proof_type" name="proof_type" value="1" />
              <span>
                <i class="icon-picture"></i> Выбрать фото <input id="id_select_photo" type="file" name="select_photo">
              </span>
            </span>
            {% if inst_photo %}
              <a href="#instagram-modal" data-toggle="modal" class="btn btn-black" ><i class="icon-instagram"></i> Фото из instagram</a>
            {% else %}
              <a href="{% url 'instagram' %}" class="btn btn-black" ><i class="icon-instagram"></i> Фото из instagram</a>
            {% endif %}
          </div>

          <div class="first-condition {% if photo_bool %}hide{% endif %}">
            <span class="btn btn-black fileinput-button">
              <input type="hidden" id="id_proof_type" name="proof_type" value="1" />
              <span>
                <i class="icon-picture"></i> Выбрать фото <input id="id_select_photo" type="file" name="select_photo">
              </span>
            </span>
            {% if inst_photo %}
              <a href="#instagram-modal" data-toggle="modal" class="btn btn-black" ><i class="icon-instagram"></i> Фото из instagram</a>
            {% else %}
              <a href="{% url 'instagram' %}" class="btn btn-black" ><i class="icon-instagram"></i> Фото из instagram</a>
            {% endif %}
          </div>
        </div>

        <ul class="photo_achiv photo_achiv-new unstyled">
          {% for photo_form in photo_formset %}
          <li>
            <div>
              <a class="icon-remove" href="#"></a>
              <img class="hint" src="{{ photo_form.photo.value.url }}"
                  style="width: 90px; height: 60px;"
                  form-id="#photo_form_{{ forloop.counter0 }}" data-placement="bottom" data-title="Сделать обложкой" data-index="0"></img>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    {% for error in photo_formset.non_form_errors %}
      <br>
      <div class="alert alert-danger">
        <i class="icon-warning-sign"></i>
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ error }}
      </div>
    {% endfor %}

    {% for dict in photo_formset.errors %}
      {% for error in dict.values %}
        <br>
        <div class="alert alert-danger">
          <i class="icon-warning-sign"></i>
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ error }}
        </div>
      {% endfor %}
    {% endfor %}

    <script type="text/javascript">
        var proof_photo_upload_url = ("{% url 'upload_temp_proof_photo' %}").replace('//', '/');//(location.pathname + '/upload_photo/').replace('//', '/');
        $(document).ready(function() {
          if($("#instagram-modal .list-inline").length > 0) {
            $('#instagram-modal').modal('show');
          }
          engine.init(null, $(".list-inline"));
          $(".modal-body").scroll(function() {
            var height = $(".list-inline").height();
            if ($(this).scrollTop() + height >= $(".list-inline").height()) {
              engine.scrollPosition = $(window).scrollTop();
              engine.get();
            }
          });
        });
    </script>
    <script src="{% static 'js/proof_photos.js' %}"></script>
  {# /выбор вотографии  #}
      <div>
          <h3>Описание</h3>
            <div class="">
              {{ form.description }}
            </div>
        </div>
      <br><br>

      <hr/>

      
      <div style="margin-top: 10px">
        <input type="submit" class="btn btn-lg btn-primary pull-right" value="Сохранить"/>
      </div>
    </form>
{% endblock content %}
{% block js %}
<script type="text/javascript" src="{% static 'js/file-input.js' %}"></script>
<script type="text/javascript" src="{% static 'tiny_mce/tiny_mce.js' %}"></script>
<script type="text/javascript">
  tinymce.init({
    selector: "#id_description",
    plugins: "example, autolink, pagebreak, layer, table, save, advhr, advlink, emotions, iespell, inlinepopups, insertdatetime," +
             " preview, media, searchreplace, print, contextmenu, paste, directionality, fullscreen, noneditable," +
             " visualchars, nonbreaking, xhtmlxtras, template, advlist, youtube",
    theme_advanced_buttons1: "bold,italic,underline,strikethrough,|,formatselect,example,iespell,youtube",
    theme_advanced_path : false,
    theme_advanced_resizing : true,
    cleanup : false,
    convert_urls: false,
    theme_advanced_blockformats : "h1, h2, h4",
    extended_valid_elements: "h1, h2, h3, h4, h5, h6, iframe[src|title|width|height|allowfullscreen|frameborder|class|id|data-mce-src], object[classid|width|height|codebase|*], param[name|value|_value|*], embed[type|width|height|src|*]",
  });
</script>
{% endblock js%}
