{% extends 'base.html' %}
{% load inlife_tags %}

{% block container %}
	<div class="row">
		<div class="col-xs-3">
	        {% block sidebar %}
	        	{% if user.is_authenticated %}
	            	{% user_sidebar user %}
	            {% endif %}
	        {% endblock %}
		</div>
	    	{% block achiv %}
		<div class="col-xs-1">
	          {% achiv_span user_achievement %}
		</div>
	        {% endblock achiv %}

		<div class="col-xs-8">
			{% block content %}
			{% endblock content %}
		</div>
	</div>
{% endblock container %}
