{% extends 'achievement/achievement_base.html' %}
{% load staticfiles inlife_tags %}

{% block meta %}
    {{ block.super }}
    <meta property="og:title" content="{{ user_achievement.achievement.name }}"/>
    <meta property="og:image" content="http://achiever.ru{{ user_achievement.achievement.get_full_image_url }}">
    <meta property="og:description" content="{{ user_achievement.achievement.short_decscription }}"/>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@achiever">
    <meta name="twitter:creator" content="@achiever">
    <meta name="twitter:title" content="{{ user_achievement.achievement.name }}">
    <meta name="twitter:description" content="{{ user_achievement.achievement.short_decscription }}">
    <meta name="twitter:image" content="http://achiever.ru{{ user_achievement.achievement.get_full_image_url }}">
    <style>
        .modal-content {
            width: 710px;
        }
    </style>
{% endblock meta %}


{% block title %}
    Цель {{ achievement.name }} | Achiever
{% endblock title %}
{% block achiv %}
{% endblock achiv %}
{% block content %}
    {% if not user.guide.is_finished %}
        {% if user.guide.step.url == request.path or user.guide.step.url == 'source_achievement' %}
            <div class="modal fade" id="intro-1" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Я помогу тебе получать достижения</h4>
                        </div>
                        <div class="modal-body">
                            <div class="media">
                                <div class="pull-left">
                                    <img src="/static/img/intro/intro-man.png">
                                </div>
                                <div class="modal-body">
                                    <p>Ты попал в одну из созданных мной целей. Я сделал всё возможное, чтобы тебе было проще её достичь, и надеюсь, что моя инструкция будет тебе полезной. </p><p>Ты можешь активировать любую заинтересовавшую тебя цель, познакомиться с инструкцией и отправиться на достижение цели, сделав свою жизнь ещё немного ярче и интереснее.</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" user_id="{{ user.id }}" class="btn btn-default guide_close"
                                    data-dismiss="modal">Пропустить обучение
                            </button>
                            <button type="button" user_id="{{ user.id }}" data-step="{{ user.guide.step.number }}" class="btn btn-primary guide_button">
                                Продолжить обучение
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}
    {% endif %}
    <article class="article">
        <div class="container">
            <div class="row">
                {% include "/include/left_side-other.html" %}
                <div class="col-xs-9">
                    <div class="original-header original-header-new clearfix">
                        {% if achievement.is_event %}
                            {# событие #}

                            <div class="icon-box icon-calendar-empty pull-left">
                                <div class="calendar-data">
                                    до завершения
                                    <big>{{ achievement.get_event_remaining_time }}</big>
                                    дней
                                </div>
                            </div>
                            <div>
                                {% if user_achievement %}
                                    {% if user_achievement.is_active %}
                                        {# когда достижение активировано предлагаем подтвердить #}

                                        <h1>Посетить событие:</h1>
                                        <h2>{{ achievement.name }}</h2>
                                        <a href="{% url 'confirm_achievement' achievement.id %}" class="btn btn-primary"
                                           style="text-decoration: none;" >Я достиг цели!</a>
                                    {% elif user_achievement.is_received or user_achievement.is_peinding_confirmation %}
                                        {# когда достижение получено или ожидает #}

                                        <h1>Посетить событие:</h1>
                                        <h2>{{ achievement.name }}</h2>
                                        <a class="btn btn-transparent" href="{% url 'user_achievement_confirmed_detail' user_achievement.user.id achievement.id %}">
                                            Перейти к достижению
                                            <i class="icon-chevron-right"></i>
                                        </a>
                                    {% elif user_achievement.is_failed or user_achievement.is_not_active %}
                                        {# когда достижение провалено снова предлагается посетить событие, если время еще не вышло #}

                                        {% if achievement.get_event_remaining_time > 0 %}
                                            <h1>Посетите событие:</h1>
                                            <h2>{{ achievement.name }}</h2>
                                            {% if user.is_authenticated %}
                                                <a href="{% url 'userachievement_create' achievement.id %}" class="btn btn-primary"
                                                   style="text-decoration: none;" >Поставить цель</a>
                                            {% endif %}
                                        {% else %}
                                            <h1>Время вышло</h1>
                                            <h2>{{ achievement.name }}</h2>
                                        {% endif %}
                                    {% endif%}
                                {% else %}
                                    {# если не создано user_achievement, то цель не поставлена #}

                                    {% if achievement.get_event_remaining_time > 0 %}
                                        <h1>Посетите событие:</h1>
                                        <h2>{{ achievement.name }}</h2>
                                        {% if user.is_authenticated %}
                                            <a href="{% url 'userachievement_create' achievement.id %}" class="btn btn-primary"
                                               style="text-decoration: none;" >Поставить цель</a>
                                        {% endif %}
                                    {% else %}
                                        <h1>Время вышло</h1>
                                        <h2>{{ achievement.name }}</h2>
                                    {% endif %}
                                {% endif %}
                            </div>

                        {% else %}
                            {# достижение - цель #}

                            <div class="icon-box icon-bullseye pull-left"></div>
                            <div>
                                {% if user_achievement %}
                                    {% if user_achievement.is_active %}
                                        {# когда достижение активировано предлагаем подтвердить #}

                                        <h1>Цель поставлена</h1>
                                        <h2>{{ achievement.name }}</h2>
                                        <a href="{% url 'confirm_achievement' achievement.id %}" class="btn btn-primary"
                                           style="text-decoration: none;" >Я достиг цели!</a>
                                    {% elif user_achievement.is_received or user_achievement.is_peinding_confirmation  %}
                                        {# когда достижение получено #}

                                        <h1>Цель достигнута</h1>
                                        <h2>{{ achievement.name }}</h2>
                                        <a class="btn btn-transparent" href="{% url 'user_achievement_confirmed_detail' user_achievement.user.id achievement.id %}">
                                            Перейти к достижению
                                            <i class="icon-chevron-right"></i>
                                        </a>
                                    {% elif user_achievement.is_failed or user_achievement.is_not_active %}
                                        {# когда достижение провалено снова предлагается поставить цель #}

                                        <h1>Поставьте цель</h1>
                                        <h2>{{ achievement.name }}</h2>
                                        <a href="{% url 'userachievement_create' achievement.id %}" class="btn btn-primary"
                                           style="text-decoration: none;" >Поставить цель</a>
                                    {% endif%}
                                {% else %}
                                    {# если не создано user_achievement, то цель не поставлена #}

                                    <h1>Поставьте цель</h1>
                                    <h2>{{ achievement.name }}</h2>
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'userachievement_create' achievement.id %}" class="btn btn-primary"
                                           style="text-decoration: none;" >Поставить цель</a>
                                    {% endif %}


                                {% endif %}
                            </div>

                        {% endif %}
                    </div>

                    <div class="text-block">
                        {% if achievement.short_decscription %}
                            <p class="describe-text-block"> {{ achievement.short_decscription }} </p>
                        {% endif %}
                        <p>
                            {{ achievement.description|safe }}
                        </p>
                    </div>
                    {% if not user_achievement or user_achievement.is_failed or user_achievement.is_not_active %}
                        {% if user.is_authenticated %}
                            {% if achievement.is_event %}
                                {% if achievement.get_event_remaining_time > 0 %}
                                    <a href="{% url 'userachievement_create' achievement.id %}" class="btn btn-primary"
                                    style="text-decoration: none;" >Поставить цель</a>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'userachievement_create' achievement.id %}" class="btn btn-primary"
                                    style="text-decoration: none;" >Поставить цель</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </article>
{% endblock content %}
