<!-- Modal confirmation-->
<div class="modal fade confirmation" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<p class="lead"></p>
        <ul class="nav nav-pills">
          <li class="active"><a href="#confirm_photo" data-toggle="pill" type="1"><i class="icon-camera"></i> Фото</a></li>
          <li><a href="#confirm_video" data-toggle="pill" type="2"><i class="icon-facetime-video"></i> Видео</a></li>
          <li><a href="#confirm_link" data-toggle="pill" type="3"><i class="icon-link"></i> Ссылка</a></li>
          <li><a href="#confirm_description" data-toggle="pill" type="4"><i class="icon-link"></i> Описание</a></li>
          <li class="danger">
	    <a href="#confirm_no" type="0"
	       {% if user_achievement.is_available_unfounded_proof.status %}
	       class="danger"
	       {% else %}
	       class="disabled"
	       reason="{{user_achievement.is_available_unfounded_proof.reason}}"
	       {% endif %} data-toggle="pill"
	       ><i class="icon-thumbs-down"></i> Без доказательств</a>
          </li>
        </ul>
      </div>
      <form class="align-center" method="post" action="{% url 'confirm_achievement' user_achievement.achievement.id %}"  enctype="multipart/form-data">
	<div class="modal-body">
          {% csrf_token %}
          <input type="hidden" id="id_proof_type" name="proof_type" value="1" />
	  <div class="tab-content">
	    <div class="tab-pane active" id="confirm_photo">
	      <div class="well">
                {{ photo_formset.management_form }}
                {% for photo_form in photo_formset %}
                {{ photo_form.photo }}
                {% endfor %}
	      </div>
	    </div>
	    <div class="tab-pane" id="confirm_video">
	      <div class="well">
		<input id="id_video" name="video" type="file" />
	      </div>
	    </div>
	    <div class="tab-pane" id="confirm_link">
	      <div class="well">
		<input type="text" id="inputEmail" class="input-lg form-control" placeholder="вставьте ссылку">
	      </div>
	    </div>

	    <div class="tab-pane" id="confirm_description">
	      <div class="well">
		<textarea id="id_description" name="description" rows="14" cols="40"></textarea>
	      </div>
	    </div>

	    <div class="tab-pane" id="confirm_no">
	      <div class="well">
                {% if user_achievement.is_available_unfounded_proof.status %}
                <p>Подтверждение без доказательств отнимает ваше доверие и делает вас пожизненным неудачником. Вы точно хотите этого?</p>
                {% else %}
                <p>{{user_achievement.is_available_unfounded_proof.reason}}</p>
                {% endif %}
	      </div>
	    </div>
	  </div>
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
	  <input type="submit" name="" class="btn btn-primary" id="id_submit" value="Подтвердить" />
          <script type="text/javascript">
                    $('#confirmation a[data-toggle="pill"]').on('show.bs.tab', function (e) {
                        var is_disabled = $(e.target).hasClass('disabled');
                        if (is_disabled) {
                            $('#id_submit').attr("disabled", "disabled");
                        }
                        else{
                            $('#id_submit').removeAttr("disabled");
                        }
                        var proof_type = $(e.target).attr("type");
                        $('input[name=proof_type]').val(proof_type);
                    });
          </script>
	</div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
