<span class="{{ span_class }}">
    <span>
    {% for i in stars_range %}
        {% if forloop.last and forloop.counter == 3 %}
            {# небольшой хак, чтобы верстка при 3х звёздах была красивее #}
            <br>
        {% endif %}
        <i class="icon-star"></i>
    {% endfor %}
    </span>
</span>