{% extends 'base.html' %}
{% load inlife_tags staticfiles cropping %}

{% block head %}
    {{ block.super }}
    <script src="{% static 'image_cropping/js/jquery.Jcrop.min.js' %}"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
{% endblock head %}

{% block meta %}
    {{ block.super }}
    <meta property="og:title" content="{{ user_achievement.achievement.name }}" />
    <meta property="og:image" content="http://achiever.ru{{ user_achievement.achievement.get_full_image_url }}" >
    <meta property="og:description" content="{{ user_achievement.achievement.short_description }}" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@achiever">
    <meta name="twitter:creator" content="@achiever">
    <meta name="twitter:title" content="{{ user_achievement.achievement.name }}">
    <meta name="twitter:description" content="{{ user_achievement.achievement.short_description }}">
    <meta name="twitter:image" content="http://achiever.ru{{ user_achievement.achievement.get_full_image_url }}">
{% endblock meta %}

{% block title %}
    Достижение {{ user_achievement.achievement.name }} пользователя {{ user_achievement.user.get_full_name }} | Achiever
{% endblock title %}

{% block sidebar %}
    {% user_sidebar user_sidebar %}
{% endblock %}
{% block content %}



    {% if user.guide.step.url == 'user_achievement' and user.guide.step.user_achievement.user_id == user_achievement.user_id %}
        <div class="modal fade" id="intro-1" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Только реальные достижения</h4>
                    </div>
                    <div class="modal-body">
                        <div class="media">
                            <div class="pull-left">
                                <img src="/static/img/intro/intro-man.png">
                            </div>
                            <div class="modal-body">
                            <p>Это пост, который подтверждает, что Катя действительно получила такое достижение. </p><p>Пост состоит из двух частей: фотографий-подтверждений и сообщения Кати о впечатлениях, связанных с получением достижения.</p><p>Достижение реальное – я проверял! Чтобы продолжить обучение, нажми указанную кнопку.</p>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" user_id="{{ user.id }}" class="btn btn-default guide_close"
                                data-dismiss="modal">Пропустить обучение
                        </button>
                        <button type="button" user_id="{{ user.id }}" data-step="{{ user.guide.step.number }}" class="btn btn-primary guide_button">Продолжить
                            обучение
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if not user_achievement.is_derivative_page_viewed and user_achievement.user == request.user and user_achievement.is_received %}
        {# первый раз при просмотре полученного достижения открывается модальное окно #}
        <!-- Modal -->
        <div class="modal fade target-confirm" id="target-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Цель достигнута!<br>Вы получили достижение:</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{ user_achievement.achievement.name }}</p>
                        {% achiv_span user_achievement %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">$('#target-confirm').modal('show')</script>
        {{ user_achievement.set_derivative_page_viewed }}
    {% endif %}
    <div class="intro intro-7" style="display: none;"></div>
    <div class="media media-header">
        <div class="pull-left">
            {% if user_achievement and not user_achievement.is_failed %}
                {% achiv_span user_achievement %}
            {% endif %}
        </div>
        <div class="media-body">
            <h2>
                {% if user_achievement.proof.is_not_verified and user_achievement.user == request.user %}
                    <a href="{% url 'confirm_achievement' achievement.id %}" class="pull-right icon-edit"></a>
                {% endif %}

                {{ achievement.name }}
            </h2>
            <p>
                <a href="#" class="icon-vk vk_wall_post"></a>
                <a href="#" class="icon-facebook fb_share"></a>
                <a href="#" class="icon-twitter tw_share"></a>
            </p>
	    {% if user_achievement.achievement.description %}
            <a href="{% url 'achievement' user_achievement.achievement.id %}" class="btn btn-link">Перейти к цели <i class="icon-caret-right"></i></a>
	    {% endif %}
        </div>
    </div>

    {% if user_achievement.is_active %}
        <div class="well well-small-mb text-center">
            Достижения активировано {{ user_achievement.activate_time|date:"d E Y"}}
        </div>
    {% elif user_achievement.is_peinding_confirmation %}
        <div class="well well-small-mb text-center">
            Достижения отправлено на подтверждение {{ user_achievement.activate_time|date:"d E Y"}}
        </div>
    {% endif %}

    {% if user_achievement.is_active %}

        {% if user_achievement.user == request.user %}
            <form class="form-horizontal" action="{% url 'confirm_achievement' achievement.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                 {######################################################################}
                  <div class="form-group">
                    <link href="{% static "image_cropping/css/jquery.Jcrop.min.css" %}{{ CACHEBUST }}" rel="stylesheet">
                    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
                    <script src="{% static "image_cropping/js/jquery.Jcrop.min.js" %}{{ CACHEBUST }}"></script>
                    <script src="{% static "image_cropping/image_cropping.js" %}{{ CACHEBUST }}"></script>
                    {{ photo_formset.management_form }}
                    <div class="col-xs-12 add-achiv-img-box photo_select">
                      <span class="btn btn-black fileinput-button">
                        <input type="hidden" id="id_proof_type" name="proof_type" value="1" />
                        <span><i class="icon-picture"></i> Выбрать фото <input id="id_select_photo" type="file" name="select_photo"></span>
                      </span>
                      <span class="help-text">Загрузите фото и выберите<br>обложку достижения</span>
                      <ul class="photo_achiv unstyled">
                        {% for photo_form in photo_formset %}
                          <li>
                            <div>
                              <a class="icon-remove" href="#"></a>
                              <img class="hint" width="128" height="80" src="{{ photo_form.photo.value.url }}" form-id="#photo_form_{{ forloop.counter0 }}" data-placement="bottom" data-title="Сделать обложкой" data-index="0"></img>
                            </div>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  
                  <p class="upload-message" style="display: none;">Идет загрузка фотографии...<span class="upload-progress"></span></p>

                  <h3 id="ach_image_h">Обложка достижения</h3>
                  <div class="col-xs-12">
                    <div id="photo_formsets_container">
                    {% for photo_form in photo_formset %}
                      <div class='proof_photo_form' id="photo_form_{{ forloop.counter0 }}" style="display: none;" >
                        {{ photo_form.id }}
                        <div style="display: none;" class='delete_input_wrap'>
                          {{ photo_form.DELETE }}
                        </div>
                        <div style="display: none;" >
                          {{ photo_form.photo }}
                        </div>
                        <div class='position_input_wrap'>
                          {{ photo_form.position }}
                        </div>
                        
                        {{ photo_form.cropping }}
                      </div>
                    {% endfor %}
                    </div>
                  </div>
                  {######################################################################}

                  
                  <div>
                      <h3>Описание</h3>
                        <div class="">
                          {{ form.description }}
                        </div>
                    </div>
                  <br><br>

      <hr/>

                <div style="margin-top: 10px">
                    <input type="submit" class="btn btn-lg btn-primary pull-right" value="Сохранить"/>
                </div>
            </form>
        {% endif %}
    {% endif %}

    {% if user_achievement.proof %}

        {% if user_achievement.proof.is_accepted %}
            <div class="well well-admin-answer well-admin-answer-confirmed">
                <div class="media">
                    <a href="{{ user_achievement.proof.admin.get_timeline_url }}" class="pull-left avatar vip_user admin">
                        <img src="{{ user_achievement.proof.admin.get_cropped_avatar.url }}" alt=""/>
                    </a>
                    <div class="media-body">
                        <a href="{{ user_achievement.proof.admin.get_timeline_url }}" class="media-heading">{{ user_achievement.proof.admin.get_full_name }}</a>
                        <span>Администратор</span><br/>
                        <div class="answer">{{ user_achievement.proof.comment }}</div>
                    </div>
                </div>
                <span class="sign"><i class="icon-ok"></i></span>
            </div>
        {% elif user_achievement.proof.is_doubtfully %}
            <div class="well well-admin-answer well-admin-answer-not_trusted">
                <div class="media">
                    <a href="#" class="pull-left avatar vip_user admin">
                        <img src="{{ user_achievement.proof.admin.get_cropped_avatar.url }}" alt=""/>
                    </a>
                    <div class="media-body">
                        <a href="{{ user_achievement.proof.admin.get_timeline_url }}" class="media-heading">{{ user_achievement.proof.admin.get_full_name }}</a><br/>
                        <div class="answer">{{ user_achievement.proof.comment }}</div>
                    </div>
                </div>
                <span class="sign"><i class="icon-question"></i></span>
            </div>
        {% elif user_achievement.proof.is_declined %}
            <div class="well well-admin-answer well-admin-answer-rejected">
                <div class="media">
                    <a href="#" class="pull-left avatar vip_user admin">
                        <img src="{{ user_achievement.proof.admin.get_cropped_avatar.url }}" alt=""/>
                    </a>
                    <div class="media-body">
                        <a href="{{ user_achievement.proof.admin.get_timeline_url }}" class="media-heading">{{ user_achievement.proof.admin.get_full_name }}</a><br/>
                        <div class="answer">{{ user_achievement.proof.comment }}</div>
                    </div>
                </div>
                <span class="sign"><i class="icon-remove"></i></span>
            </div>

        {% endif %}
            <div class="intro intro-8" style="display: none;"></div>
      {% if user_achievement.proof.is_photo and not user_achievement.proof.is_hidden %}
        <div class="fotorama fix-thumbs"
					data-nav="thumbs"
					data-allowfullscreen="true"
					data-ratio="800/600"
					data-loop="true"
					data-width="690"
					data-maxheight="400"
					data-minheight="400">
          {% for i in user_achievement.proof.photos.all %}
            <a href="{{ i.photo.url }}"><img src="{{ i.photo.url }}" width="62" alt=""/></a>
          {% endfor %}
        </div>
      {% endif %}

      <p class="derivative-page-text">
        {% if user_achievement.proof.description %}
          {{ user_achievement.proof.description|safe }}
        {% endif %}
        <br>
        <span class="share-box">
            <span>
              Поделиться:
            </span>
            <a class="icon-vk vk_wall_post" href="#"></a>
            <a class="icon-facebook fb_share" href="#"></a>
            <a class="icon-twitter tw_share" href="#"></a>
        </span>
        </p>
    {% endif %}

    {% if not user_achievement.is_active %}
      <div id="comments">
        <div class="derivative-page-commens" id="comments_tab" data-bind="foreach: actions">
            <div class="media">
                <a href="#" data-bind="{attr: {class: 'pull-left avatar ' + user.avatar_class, href: user.link }}">
                    <img class="media-object" data-bind="{attr: {src: user.avatar}}" alt="">
                </a>
                <div class="media-body">
                    <a data-bind="{text: user.first_name + ' ' +  user.last_name, attr:  { href: user.link } }"></a>
                    <span data-bind="{text: date }"></span>
                    <p data-bind="text: getComment()" ></p>
                </div>
            </div>
        </div>

        <h3>Написать комментарий</h3>
        <form id='comment_form' method="post" data-bind="attr: {action: comment_form_url}, submit: addComment">{% csrf_token %}
            <textarea class="add_comment form-control" rows="3" cols="15" autocomplete="off" data-bind="disable: submitting"
                      name="comment" placeholder="написать комментарий" type="text"></textarea><br/>
            <input type="submit" class="btn btn-lg btn-primary" data-bind="disable: submitting" value="Отправить"/>
        </form>
      </div>
    {% endif %}

{% endblock %}


{% block js %}
    {{ block.super }}

<script type="text/javascript" src="{% static 'js/file-input.js' %}"></script>
<script type="text/javascript" src="{% static 'tiny_mce/tiny_mce.js' %}"></script>
<script type="text/javascript">
  tinymce.init({
    selector: "#id_description",
    plugins: "example, autolink, pagebreak, layer, table, save, advhr, advlink, emotions, iespell, inlinepopups, insertdatetime," +
             " preview, media, searchreplace, print, contextmenu, paste, directionality, fullscreen, noneditable," +
             " visualchars, nonbreaking, xhtmlxtras, template, advlist, youtube",
    theme_advanced_buttons1: "bold,italic,underline,strikethrough,|,formatselect,example,iespell,youtube",
    theme_advanced_path : false,
    theme_advanced_resizing : true,
    cleanup : false,
    convert_urls: false,
    theme_advanced_blockformats : "h1, h2, h4",
    extended_valid_elements: "h1, h2, h3, h4, h5, h6, iframe[src|title|width|height|allowfullscreen|frameborder|class|id|data-mce-src], object[classid|width|height|codebase|*], param[name|value|_value|*], embed[type|width|height|src|*]",
  });
</script>

    <script src="{% static 'js/vk_share.js' %}"></script>

    <script type="text/javascript">
        $( ".tw_share" ).click(
                function(event){
                    event.preventDefault();
                    window.open('https://twitter.com/share?url=' + document.URL,
                            '',
                            'width=626,height=436');
                }
        );
        $( ".fb_share" ).click(
                function(event){
                    event.preventDefault();
                    window.open(
                            'https://www.facebook.com/sharer/sharer.php?u=' + document.URL,
                            'facebook-share-dialog',
                            'width=626,height=436');
                }
        );
    </script>
    <script type="text/javascript">
        function wk_post_wrap () {
            VKPostAchievement({{user_achievement.achievement.id}}, {{user_achievement.user.id}});
        }
        $( ".vk_wall_post" ).click(
                function(event){
                    event.preventDefault();
                    VK.Auth.getLoginStatus( function(response) {
                      if (response.session) {
                        VK.Api.call('account.getAppPermissions', {}, function(r){
                            var permissions = r.response;
                            if ( (permissions & 4) !=0 & (permissions & 8192) != 0) {
                                console.log("has permissions");
                                wk_post_wrap()
                            } else {
                                console.log("no permissions");
                                //self.tyed_to_login = true;
                                VK.Auth.login(wk_post_wrap, 8197);
                            }
                        });
                      } else {
                        VK.Auth.login(wk_post_wrap, 8197);
                      } 
                    });
                }
        );

    </script>
    <script type="text/javascript">
        $('.add_comment').keyup(function (event) {
            if (event.keyCode == 13) {
                if (!event.shiftKey){
                    event.preventDefault();
                    $("#comment_form").trigger('submit');
                }
                else
                    event.preventDefault();
            }
        });
    </script>
<script type="text/javascript">
    var proof_photo_upload_url = ("{% url 'confirm_achievement' achievement.id %}" + '/upload_photo/').replace('//', '/');
</script>
<script src="{% static 'js/proof_photos.js' %}"></script>
</script>
    <script type="text/javascript">
        //$(document).ready(function(){
        //    if(location.hash == "#comments") {
        //        $('ul.nav-pills li').removeClass('active');
        //        $('.tab-pane').removeClass('active');
        //        $('#comments').addClass('active');
        //        $('a[href*=#comments]').parent().addClass('active');
        //        location.hash = "";
        //    }
        //});
        var tlvm = new CommentViewModel();
        ko.applyBindings(tlvm, document.getElementById('comments'));
    </script>
    <style type="text/css">
        #believe, #notbelieve{
            font:bold 41px Helvetica,Arial,Geneva,sans-serif;color:#333;display:inline-block;
        }
        #desc {
            padding-bottom: 30px;
        }
    </style>
{% endblock js%}
