<!-- Modal -->
<div class="modal fade modal-cute" id="invite-friends" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                <!-- <h4 class="modal-title">Modal title</h4> -->
                <h4 class="modal-title text-center" id="myModalLabel">Пригласить друзей</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-5 col-md-offset-1">
                        <a type="button" href="{% url 'social_friends_auth_invite' 'google-oauth2' %}" class="btn btn-multi btn-g-large btn-block">
                            <i class="icon-google-plus"></i>
                            <img src="/static/img/btn-img/google.png">
                        </a>
                    </div>
                    <div class="col-xs-5">
                        <button type="button" onclick="FacebookInviteFriends();" class="btn btn-multi btn-fb-large btn-block">
                            <i class="icon-facebook"></i>
                            <img src="/static/img/btn-img/fb.png">
                        </button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade modal-cute" id="invite-friends-list" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                <!-- <h4 class="modal-title">Modal title</h4> -->
                <h4 class="modal-title text-center" id="myModalLabel">Пригласить друзей</h4>
            </div>
            <div class="modal-body clearfix">
                <table class="table">
                    <tbody>
                    <tr>
                        <td class="friend-mail">34590@yandex.ru</td>
                        <td class="friend-name">Анастасия Загородных</td>
                        <td><small>Уже на<br>Ачивере</small></td>
                        <td><button class="btn btn-primary">Дружить</button></td>
                    </tr>
                    <tr>
                        <td class="friend-mail">34590@yandex.ru</td>
                        <td class="friend-name">Анастасия Загородных</td>
                        <td></td>
                        <td><button class="btn btn-primary-else">Пригласить</button></td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" data-dismiss="modal" class="btn btn-link pull-right">&times; Закрыть</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% verbatim %}
<script id="invite-friends-tpl" type="text/x-handlebars-template">
    {{#if friends}}
        <table class="table">
            <tbody>
                {{#each friends}}
                    <tr>
                        <td class="friend-mail">{{ email }}</td>
                        <td class="friend-name">{{ full_name }}</td>
                        {{#if add_action}}
                            <td><small>Уже на<br>Ачивере</small></td>
                            <td>
                                <a href="{{ url }}"
                                    data-id="{{ id }}"
                                    data-action="{{ action }}"
                                    class="btn btn-primary hint friend-add"
                                    data-toggle="tooltip"
                                    data-original-title="Дружить">
                                    <i class="icon-comment"></i> Дружить</a>
                            </td>
                        {{else}}
                            {{#if invite_action}}
                                <td></td>
                                <td>
                                <a href="{{ url }}"
                                    data-email="{{ email }}"
                                    data-action="{{ action }}"
                                    class="btn btn-primary-else hint friend-invite"
                                    data-toggle="tooltip"
                                    data-original-title="Пригласить">
                                    <i class="icon-comment"></i> Пригласить</a>
                                </td>
                            {{/if}}
                        {{/if}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <button type="button" data-dismiss="modal" class="btn btn-link pull-right">&times; Закрыть</button>
    {{else}}
        <p>Друзья не найдены</p>
    {{/if}}
</script>
{% endverbatim %}