{% extends 'base.html' %}
{% load mptt_tags inlife_tags %}
{% load staticfiles %}
{% block head %}
    {{ block.super }}
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script src="{% static 'js/treeViewHistory.js' %}"></script>
{% endblock head %}

{% block title %}
    {{ section.name }} | Achiever
{% endblock title %}

{% block content %}
        {% if user.guide.step.url == request.path %}
            <div class="modal fade" id="intro-1" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Не знаешь, с чего начать? Активируй достижение из дерева</h4>
                        </div>
                        <div class="modal-body">
                            <div class="media">
                                <div class="pull-left">
                                    <img src="/static/img/intro/intro-man.png">
                                </div>
                                <div class="modal-body">
                                    <p>Ты оказался на странице целей. Здесь находятся подготовленные мной материалы.</p><p>Ты всегда можешь зайти сюда и поставить себе новую амбициозную цель. Посмотри эту страницу, а когда захочешь продолжить обучение, найди такой флажок внутри одной из категорий.</p>
                                    <a class="achiv-target achiv" href="javascript:;">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" user_id="{{ user.id }}" class="btn btn-default guide_close"
                                    data-dismiss="modal">Пропустить обучение
                            </button>
                            <button type="button" user_id="{{ user.id }}" data-step="{{ user.guide.step.number }}" class="btn btn-primary guide_button">
                                Продолжить обучение
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        
        <h1>{{ section.name }}</h1>
        {% for subsection in subsections|cache_tree_children %}
            <h3>{{ subsection.name }}</h3>
            <div class="row collect_achievments">
                {% for category in subsection.get_children %}
                    <div class="col-xs-4">
                    <a href="{% url 'category_detail' category.id %}" class="collect current">
                        <span class="image">
                            <img src="{{ category.image.url }}">
                        </span>
                        <span class="name_collect">
                            {{ category.name }}
                        </span>
                    </a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
{% endblock %}