{% load inlife_tags %}
{% if achievement_of_month %}
	{% with achievement_of_month.achievement as ach %}
		<div class="timeline_pic achiv_month" onclick="location.href='{% url 'achievement' ach.id %}';" style="cursor: pointer;">
			<div class="image">
				<img src="{{ ach.get_achievement_of_month_thumb.url }}" alt=""/>
				<div class="info_achiv">
					<i>Событие месяца (активировано {{ achievement_of_month.count }} раз)</i>
					<a href="{% url 'achievement' ach.id %}">{{ ach.name }}</a>
				</div>
			</div>
		</div>
	{% endwith %}
{% endif %}