
<form action="{% url 'group_achievement_of_month_select' group.pk %}" class="form-horizontal" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_inlife }}
    {% comment %}
    <div class="form-group">
        <label class="col-xs-3 control-label" for="achievement">Достижение</label>
        <div class="col-xs-9">
            {{ form.achievement }}
            {% for error in form.achievement.errors %}
                <br>
                <div class="alert alert-danger">
                    <i class="icon-warning-sign"></i>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ error }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label" for="patronymic">Дата завершения</label>
        <div class="col-xs-9">
            {{ form.end_date }}
            
            {% for error in form.end_date.errors %}
                <br>
                <div class="alert alert-danger">
                    <i class="icon-warning-sign"></i>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ error }}
                </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-xs-3 control-label" for="bonus">Бонус</label>
        <div class="col-xs-9">
            {{ form.bonus }}
            {% for error in form.bonus.errors %}
                <br>
                <div class="alert alert-danger">
                    <i class="icon-warning-sign"></i>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ error }}
                </div>
            {% endfor %}
        </div>
    </div>
    {% endcomment %}
    <div class="form-group">
        <label class="col-xs-3 control-label" ></label>
        <div class="col-xs-9">
            <input type="submit" class="btn btn-lg btn-primary" value="Добавить"/>
        </div>
    </div>
</form>
