{% extends 'groups/group_base.html' %}

{% block content %}
	
	<h3>
		Достижения месяца
		{% if user.is_group_admin %}
			<a href="{% url 'group_achievement_of_month_new' group.id %}" class="btn btn-default">Добавить</a>
		{% endif %}
	</h3>
	
	<div class="timeline">
		{% for achievement_of_month in achievement_of_month_list %}
			{% include 'groups/achievement_of_month_box.html' %}
			
			{% if user.is_group_admin %}
				<br>
				<a class="btn btn-large btn-danger" href="{% url 'group_achievment_of_month_delete' group.pk achievement_of_month.pk %}">Удалить</a>
				<a class="btn btn-large btn-primary"  href="{% url 'group_achievment_of_month_to_face' group.pk achievement_of_month.pk %}">На главную страницу группы</a>
			{% endif %}
			<hr>
		{% endfor %}
	</div>
{% endblock %}

