{% extends 'groups/group_base.html' %}
{% block content %}
	
	<form action="" method="post">{% csrf_token %}
    	<p>Вы действительно хотите установть "{{ object }}" на главную страницу группы?</p>
    	<input type="submit" value="Confirm" />
	</form>

{% endblock %}
