
    <form action="{% url 'group_achievement_of_month_create' group.pk %}" class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {#{{ form.as_inlife }}#}

        <div class="form-group" >
            <label class="col-xs-3 control-label" for="id_create-name">Достижение:<br><small></small></label>
            <div class="col-xs-9">
                {{ form.name }}
            </div>
        </div>
            

        <div class="form-group" >
            <label class="col-xs-3 control-label" for="id_create-description">Описание:<br><small></small></label>
            <div class="col-xs-9">
                {{ form.description }}
            </div>
        </div>
            

        <div class="form-group" >
            <label class="col-xs-3 control-label" for="id_create-short_decscription">Краткое описание:<br><small></small></label>
            <div class="col-xs-9">
                {{ form.short_decscription }}
            </div>
        </div>


        <div class="form-group" >
            <label class="col-xs-3 control-label" for="id_create-end_date">Дата завершения:<br><small></small></label>
            <div class="col-xs-9">
                {{ form.end_date }}
            </div>
        </div>
            
        {{ form.cropping}}

        <div class="form-group">
            <label class="col-xs-3 control-label">Фото достижения
                <small>Загрузите фото и выберите обложку достижения</small>
            </label>
            <div class="col-xs-9 photo_select">
                <span class="btn btn-black fileinput-button">
                    <input type="hidden" id="id_proof_type" name="proof_type" value="1" />
                    <span><i class="icon-picture"></i> Выбрать фото{{ form.image }}</span>
                </span>
                
                <ul class="photo_achiv unstyled">
                </ul>
            </div>
        </div>
        <div class="form-group" id="ach_image" style="display: none;">
            <label class="col-xs-3 control-label" >Обложка достижения
                <small>Передвигайте выделеную область за углы, чтобы выбрать отображаемую область</small>
            </label>
            <div class="col-xs-9">
                <div id="achiv_cover">
                    <img id="jcrop_target" src="" alt=""/>
                </div>
            </div>
        </div>
        
        <hr/>
        <div class="form-group">
            <label class="col-xs-3 control-label" ></label>
            <div class="col-xs-9">
                <input type="submit" class="btn btn-lg btn-primary disabledsave" value="Сохранить"/>
            </div>
        </div>
        
        
    </form>