{% extends 'groups/group_base.html' %}

{% block content %}
<form class="form-horizontal" method="post" enctype="multipart/form-data">
	{% csrf_token %}

	<div class="form-group">
		<label class="col-xs-3 control-label" for="action">Действие</label>
		<div class="col-xs-9">
			{{ form.action }}
			{% for error in form.action.errors %}
				<br>
				<div class="alert alert-danger">
					<i class="icon-warning-sign"></i>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ error }}
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-3 control-label" ></label>
		<div class="col-xs-9">
			<input type="submit" class="btn btn-lg btn-primary" value="Добавить"/>
		</div>
	</div>
	
	
</form>
{% endblock %}