{% extends 'groups/add_achievement_base.html' %}


{% block content %}

<ul class="nav nav-pills">
  <li class="active"><a href="#select">Выбрать</a></li>
  <li><a href="#create">Создать</a></li>
</ul>
		 
<div class="tab-content">
  <div class="tab-pane active" id="select">
    <h1>Выбрать</h1>
    {% with select_form as form  %}
    	{% include "groups/achievement_of_month_select_form.html" %}
    {% endwith %}
  </div>
  <!-- <div class="tab-pane" id="attachments"></div> -->
  <div class="tab-pane" id="create">
    <h1>Создать</h1>
    {% with create_form as form  %}
    	{% include "groups/achievement_of_month_create_form.html" %}
	{% endwith %}
  </div>
</div>

{% endblock %}