{% extends 'groups/group_base.html' %}
{% load staticfiles %}
{% block head %}
    {{ block.super }}
{% endblock head %}

{% block group_members %}
    <br>
    <h4><a href="#" id="group_members">Другие обсуждения</a></h4>
    <div class="history_achiv">
        {% for discussion in another_discussions %}
            <div class="row {% if forloop.counter > 5%}extra_member{% endif %}"  {% if forloop.counter > 5 %} style="display: none;" {% endif %}>

                <div class="col-xs-3">
                    <a href="#" class="count_message new">{{ discussion.replies.count }}</a>
                </div>
                <div class="col-xs-9">
                    <a href="{% url 'group_dicussion' group.pk discussion.pk %}" class="lead">{{ discussion.theme }}</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock group_members %}

{% block title %}Обсуждение {{ discussion.theme }} в группе {{ group.name }} | Achiever{% endblock title %}
{% block content %}
    <div id="discussion_theme_for_build">
    <h1>{{ discussion.theme }}</h1>
    <br />
        <div class="messages_list" data-bind="foreach: replies">
                <div class="row ">
                    <div class="col-xs-2">
                        <div data-bind="attr: {'class': author.avatar_class}">
                            <a href="" data-bind="attr: {'href': author.link}">
                                <img data-bind="attr: {'src': author.avatar}" alt="">
                            </a>
                        </div>

                    </div>
                    <div class="col-xs-8">
                        <b data-bind="text:author.full_name"></b>
                        <small data-bind="text:date_repr"></small>
                        <p data-bind="html:message"></p>
                    </div>
                </div>

                <hr />
        </div>
        <div class="row">
            <div class="col-xs-offset-1 col-xs-11">
                <h3>Написать ответ</h3>
                <form action="{% url 'group_dicussion_reply' group.pk discussion.pk %}" method="post" id="reply_form" data-bind="submit: addReply">
                	{% csrf_token %}
                    <textarea class="form-control" cols="40" id="id_message" name="message" rows="4" data-bind="disable: submitting" ></textarea>
                    <br>
                    <input type="submit" class="btn btn-large btn-primary" value="Отправить"/ data-bind="disable: submitting" >
                </form>
                
            </div>
        </div>

        <hr />  
    </div>            
{% endblock %}


{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        ko.applyBindings(new DiscussionViewModel(), document.getElementById('discussion_theme_for_build'));

        $('#id_message').keyup(function (event) {
            if (event.keyCode == 13) {
                if (!event.shiftKey){
                    event.preventDefault();
                    $("#reply_form").trigger('submit');
                    }
                else
                    event.preventDefault();
            }
        });
    </script>
{% endblock js %}
