{% extends 'groups/group_base.html' %}

{% block content %}
<form class="form-horizontal" method="post" enctype="multipart/form-data">
	{% csrf_token %}

	<div class="form-group">
		<label class="col-xs-3 control-label" for="theme">Тема</label>
		<div class="col-xs-9">
			{{ form.theme }}
			{% for error in form.theme.errors %}
				<br>
				<div class="alert alert-danger">
					<i class="icon-warning-sign"></i>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ error }}
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-3 control-label" for="theme">Текст</label>
		<div class="col-xs-9">
			{{ group_reply_form.message }}
			{% for error in group_reply_form.message.errors %}
				<br>
				<div class="alert alert-danger">
					<i class="icon-warning-sign"></i>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ error }}
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-3 control-label" ></label>
		<div class="col-xs-9">
			<input type="submit" class="btn btn-lg btn-primary" value="Создать"/>
		</div>
	</div>
	
	
</form>
{% endblock %}