{% extends 'groups/group_base.html' %}
{% load staticfiles %}
{% block head %}
    {{ block.super }}
    <style type="text/css">
        .nav-pills li:hover {
            cursor: pointer;
        }
        .nav-pills li.active:hover {
            cursor: default;
        }
    </style>
{% endblock head %}

{% block title %}
    Обсуждения в группе {{ group.name }} | Achiever
{% endblock title %}


			
{% block content %}

<h3>
    Обсуждения группы
    <a href="{% url 'group_discussions_new' group.id %}" class="btn btn-default">Создать новую тему</a>
</h3>
<div class="history_achiv">
	{% for discussion in discussion_list %}
		<div class="row">
			<div class="col-xs-1 date">
				{{ discussion.date|date:"j b" }}<br/>
				{{ discussion.date|date:"Y" }}
			</div>
			<div class="col-xs-1">
				<a href="#" class="count_message">{{ discussion.replies.count }}</a>
			</div>
			<div class="col-xs-7">
				<a href="{% url 'group_dicussion' group.pk discussion.pk %}" class="lead">{{ discussion.theme }}</a>
				{% if user.is_group_admin %}
					<a href="{% url 'group_dicussion_delete' group.pk discussion.pk %}" title="Удалить" class="btn btn-danger">X</a>
				{% endif %}
				
			</div>
		</div>
	{% endfor %}
</div>
{% endblock content %}
