{% extends 'groups/group_base.html' %}
{% load inlife_tags %}
{% block title %}Календарь событий в группе {{ group.name }} | Achiever{% endblock title %}
{% block content %}
	
	<h1>
		События
		{% if user.is_group_admin %}
			<a href="{% url 'group_event_add' group.id %}" class="btn btn-default">Добавить</a>
		{% endif %}
	</h1>


	<ul class="pager">
	    {% if previous_month %}
        	<li class="previous"><a href="{{ previous_month_url }}">&larr; {{ previous_month|date:"F" }}</a></li>
    	{% endif %}
		
		<li class="current">{{ month|date:"F" }}</li>
		
	    {% if next_month %}
	    	<li class="next"><a href="{{ next_month_url }}">{{ next_month|date:"F" }} &rarr;</a></li>
	    {% endif %}
	</ul>

<p>


</p>
	<div class="row collect_achievments">
	{% for event in event_list %}
	    <div class="col-xs-4">
			<a href="{% url 'achievement' event.achievement_id %}" class="collect">
				<span class="image">

					<img src="{{ event.achievement.get_list_box_thumb.url }}" alt=""/>
					<span class="date">{{ event.event_date|date:"j E" }}</span>
				</span>
				<span class="name_collect">
					{{ event.achievement.name }}
				</span>
			</a>

	    </div>
	    {% if forloop.counter|divisibleby:3 %}
	</div>
	<div class="row collect_achievments">
	    {% endif %}
	{% endfor %}
	</div>
{% endblock %}


