{% extends 'base.html' %}
{% load inlife_tags %}
{% load solo_tags %}
{% get_solo 'configs.AchieverConfig' as achiever_config %}
{% block container %}
    <div class="row">
        <div class="col-xs-3">
            <aside id="leftside" class="user left_separator pinned">
                {% block group_sidebar %}
                    {% block group_stats %}
                        <div class="group-list-item-data">
                            <span><i class="icon-group"></i> {{ group_members_count }}</span>
                            <span><i class="icon-trophy"></i> {{ group_achievements_count }}</span>
                        </div>
                    {% endblock group_stats %}

                    {% block group_avatar %}
                        <a href="{% url 'group_detail' group.id %}" class="group-avatar">
                            <img src="{{ group.get_image_thumb.url }}">
                        </a>
                    {% endblock group_avatar %}

                    {% block group_buttons %}
                        {% if not user in group_members %}
                            <a class="btn btn-primary bnt-block" href="{% url 'group_join' group.id %}">Вступить в группу</a>
                        {% endif %}
                        <!--                         <a href="#" class="btn btn-primary btn-block">Вступить в группу</a>
                                                <a href="#" class="btn btn-link btn-block hide">Выйти из группы</a> -->
                    {% endblock group_buttons %}

                    {% block all_groups %}
                        <h4>Все группы</h4>
                        <div class="interests">
                            {% for gr in all_groups %}
                                <a class="label {% if gr == group %}label-info {% else %}label-default{% endif %}" href="{% url 'group_detail' gr.id %}">
                                    {{ gr.name }}
                                </a>
                            {% endfor %}
                        </div>
                    {% endblock all_groups %}

                    {% block group_members %}
                        <br>
                        <h4><a href="#" id="group_members">Участники</a></h4>

                        <ul class="media-list">
                            {% for user in group_members %}
                                <li class="{% if forloop.counter > 5%}extra_member{% endif %}" {% if forloop.counter > 5 %} style="display: none;"{% endif %}">
                                <a href="{{ user.get_timeline_url }}" class="media left-side-rating">

                                    <div class="avatar {{ user.avatar_class }} pull-left">
                                        {% if user.photo %}
                                            {% with user.get_cropped_avatar as avatar %}
                                                <img src="{{ avatar.url }}" />
                                            {% endwith %}
                                        {% else %}
                                            <img src="{{ achiever_config.default_user_avatar.url }}"/>
                                        {% endif %}
                                    </div>
                                    <div class="media-body">
                                        <span class="">{{ user.get_full_name }}</span>
                                    </div>
                                </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endblock group_members %}
                {% endblock group_sidebar %}
            </aside>
        </div>

        <div class="col-xs-9">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    {% block group_js %}
        <script type="text/javascript">
            $( "#group_members" ).click(
                    function(event){
                        event.preventDefault();
                        $('.extra_member').toggle();
                    }
            );
        </script>
    {% endblock group_js %}
{% endblock container %}
