{% extends 'base.html' %}

{% block title %}
Группы | Achiever  
{% endblock title %}

{% block content %}
<h1>Группы</h1>
{% for group in group_list %}
<a href="{% url 'group_detail' group.id %}">
<div class="well group-list-item">
    <div class="row">
        <div class="col-xs-12">
            <div class="group-list-item-data pull-right">
                <span><i class="icon-trophy"></i> {{ group.wallaction_set.count }} достижения</span>
                <span><i class="icon-group"></i> {{ group.get_members.count }} участников</span>
            </div>
            <h3 class="group-list-item-name">{{ group.name }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="group-list-item-description">
                {{ group.info|linebreaks }}
                {% if not user in group.members.all %}
                    <a class="btn btn-primary bnt-block" href="{% url 'group_join' group.id %}">Вступить</a>
                {% endif %}
            </p>
        </div>
    </div>
</div>
</a>
{% endfor %}
{% endblock %}
