{% extends 'groups/group_base.html' %}
{% load staticfiles %}
{% load inlife_tags cropping %}
{% block head %}
    {{ block.super }}
    <style type="text/css">
        .nav-pills li:hover {
            cursor: pointer;
        }

        .nav-pills li.active:hover {
            cursor: default;
        }
    </style>
{% endblock head %}

{% block title %}
    Группа {{ group.name }} | Achiever
{% endblock title %}


{% block content %}
    <h2 class="group-header">{{ group.name }}</h2>
    {% if user.is_group_admin %}
        <h3>
            <a href="{% url 'group_achievement_of_month_new' group.id %}" class="btn btn-default">Добавить достижение месяца</a>
        </h3>
    {% endif %}
    <div class="timeline ">
        {% with group.face_achievement as achievement_of_month %}
            {% include 'groups/achievement_of_month_box.html' %}
        {% endwith %}

    </div>
    <h3>
        <a href="{% url 'group_event_list' group.id %}">События</a>
        {% if user.is_group_admin %}
            <a href="{% url 'group_event_add' group.id %}" class="btn btn-default">Добавить</a>
        {% endif %}
    </h3>

    <div class="fotorama contrast-nav" data-width="100%" data-loop="true" data-minheight="30" data-nav="false"
         data-ratio="800/162">
        <div>
            <div class="row collect_achievments">
                {% for event in events %}
                    <div class="col-xs-4">
                        <a href="{% url 'achievement' event.achievement_id %}" class="collect">
                            <span class="image">

                        <img src="{{ event.achievement.get_list_box_thumb.url }}" alt=""/>
                        <span class="date">{{ event.event_date|date:"j E" }}</span>
                    </span>
                    <span class="name_collect">
                        {{ event.achievement.name }}
                    </span>
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div>
                        </div>
                        <div>
                        <div class="row collect_achievments">
                    {% endif %}
                {% endfor %}
                </div>
                </div>
    </div>

    <hr/>
    <h3>
        <a href="{% url 'group_discussions_list' group.id %}">Обсуждения группы</a>
        <a href="{% url 'group_discussions_new' group.id %}" class="btn btn-default">Создать новую тему</a></h3>
    <div class="history_achiv">
        {% for discussion in group.discussions.all %}
            <div class="row">
                <div class="col-xs-1 date">
                    {{ discussion.date|date:"j b" }}<br/>
                    {{ discussion.date|date:"Y" }}
                </div>
                <div class="col-xs-1">
                    <a href="#" class="count_message">{{ discussion.replies.count }}</a>
                </div>
                <div class="col-xs-7">
                    <a href="{% url 'group_dicussion' group.pk discussion.pk %}">{{ discussion.theme }}</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <br>

    {% comment %} <h3>Стена <a href="{% url 'group_add_action' group.pk %}" class="btn btn-primary"><i class="icon-plus"></i> Добавить
        достижение</a></h3> {% endcomment %}

    <h3>Стена</h3>
    <div id="timeline_box">
        <ul class="nav nav-pills" data-bind="visible: tabs.length > 1, foreach: tabs">
            <li data-bind="css: { active: isSelected }">
                <a data-bind="text: name, click: $parent.selectedTab"></a>
            </li>
        </ul>
        <div class="timeline" data-bind="foreach: ativeTab().actions, visible: 1" style="display: none">
            <div class="timeline_event row">
                <!-- ko with: user -->
                <a class="timeline-autor" data-bind="attr: {'href': link}, css: avatar_class">
                    <img data-bind="{attr: {src: avatar, alt: first_name}}">
                </a>
                <!-- /ko -->
                <div class="col-xs-1">
                    <div class="timeline_date">
                        <!-- ko with: date -->
                        <div data-bind="text: day"></div>
                        <span data-bind="text: month"></span><br/>
                        <span data-bind="text: year"></span>
                        <!-- /ko -->
                        <div class="likeSend" data-bind="attr: {'id': id}, click: toggleLike">
                            <a href="javascript:;" data-bind="with: likes">
                                <div data-bind="attr: {class: classes}, css: {red: $parent.iLike}">
                                    <i class="icon-heart"></i>

                                    <div class="qty" data-bind="text: count"></div>
                                </div>
                            </a>
                        </div>
                        <!-- ko if: has_comments -->
                        <a data-bind="attr: {href: commenturl}, css: { 'blue': (comments_count > 0) }" class="i_comment">
                          <i class="icon-comment"></i>

                            <div class="qty" data-bind="text: comments_count > 0 ? comments_count : ''"></div>
                        </a>
                        <!-- /ko -->
                    </div>
                </div>

                <div class="col-xs-11 ">
                    <a data-bind="attr: {href: url}" class="timeline_pic">
                            <span class="image">
                                <img data-bind="attr: {src: image}" alt="">
                                <span class="info_achiv">
                                  <i data-bind="text: action"></i>
                                  <span data-bind="text: name"></span>
                                </span>
                            </span>
                        <span data-bind="attr: {class: span_class}," data-title=''>
                            <span data-bind="foreach: ko.utils.range(1, stars_number)" >
                                <!-- ko if: ($data == 3) && ($parent.stars_number == 3) -->
                                    <br>
                                <!-- /ko -->
                                <i data-bind="attr: {class: $parent.icon_class}"></i>
                            </span>
                        </span>
                        <!-- ko with: proof_annotation -->
                            <span
                                    data-bind="attr: {'class': span_class, 'data-title': data_title}"
                                    data-placement="left">
                                    <i data-bind="attr: {'class': icon_class }"></i>
                            </span>
                        <!-- /ko -->
                    </a>

                    <div data-bind="if: $parent.isowner" class="share_social align-right">
                        Поделиться:
                        <a href="javascript:;" data-bind="click: share.bind($data, 'vk')" class="icon-vk"></a>
                        <a href="javascript:;" data-bind="click: share.bind($data, 'facebook')"
                           class="icon-facebook"></a>
                        <a href="javascript:;" data-bind="click: share.bind($data, 'twitter')" class="icon-twitter"></a>
                        <a href="javascript:;" data-bind="click: share.bind($data, 'google')"
                           class="icon-google-plus"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}
    {{ block.super }}
    <script>
        var tabs = [
            {name: 'Все', tab: 'all'}
        ];
        var userIsOwner = {% if user.is_group_admin %}1{% else %}0{%endif%};
        var numComments = parseInt({{ num_comments }}) || 3;
        var tlvm = new TimelineViewModel(tabs, userIsOwner, numComments);
        ko.applyBindings(tlvm, document.getElementById('timeline_box'));
    </script>

{% endblock js %}