{% extends 'base.html' %}

{% block title %}
Поиск | Achiever  
{% endblock title %}

{% block content %}
    <h2>Поиск</h2>

    <form method="get" action=".">
        <div class="input-group"  style="padding-bottom: 10px;">
            <form class="input-group" data-bind="submit: searchFriends">
              <input type="text" class="form-control" id="id_q" name="q" name="q" placeholder="Поиск" value="{{ query }}" />
              <input type="hidden" name="action" value="search" />
              <span class="input-group-btn">
                <input class="btn btn-primary" type="submit" value="Поиск">
              </span>
            </form>
        </div>
    </form>


    {% if query %}
        <ul class="nav nav-pills">
            <li class="{{ result.users.tab_class }}">
                <a href="#1">Пользователи <span class="badge badge-info">{{ result.users.count }}</span></a>
            </li>
            <li class="{{ result.posts.tab_class }}">
                <a href="#2">Достижения <span class="badge badge-info">{{ result.posts.count }}</span></a>
            </li>
            <li class="{{ result.achievements.tab_class }}">
                <a href="#3">Цели <span class="badge badge-info">{{ result.achievements.count }}</span></a>
            </li>
            <li class="{{ result.groups.tab_class }}">
                <a href="#4">Группы <span class="badge badge-info">{{ result.groups.count }}</span></a>
            </li>
        </ul>
         
        <div class="tab-content">
            <div class="tab-pane {{ result.users.tab_class }}" id="1">
                <ul class="user_table unstyled" data-bind="foreach: friends">
                {% for result_user in result.users %}
                    <li>
                        {{ result_user.rendered|safe }}
                    </li>
                {% endfor %}
                </ul>
            </div>
            
            <div class="tab-pane {{ result.posts.tab_class }}" id="2">
                <div class="timeline">
                    {% for result_post in result.posts %}
                        {{ result_post.rendered|safe }}
                    {% endfor %}
                </div>
            </div>

            <div class="tab-pane {{ result.achievements.tab_class }}" id="3">
                <div class="my_achiv  align-center">
                    {% for result_achievement in result.achievements %}
                        {{ result_achievement.rendered|safe }}
                    {% endfor %}
                </div>
            </div>

            <div class="tab-pane {{ result.groups.tab_class }}" id="4">
                {% for result_group in result.groups %}
                    {{ result_group.rendered|safe }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}