{% extends 'base.html' %}
{% load inlife_tags staticfiles %}

{% block head %}
	{{ block.super }}
	<script src="{% static 'image_cropping/js/jquery.Jcrop.min.js' %}"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
{% endblock head %}

{% block content %}	
	
<h1>Добавление достижения</h1>
{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <i class="icon-warning-sign"></i>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ error }}
        </div>
    {% endfor %}
{% endif %}
<form class="form-horizontal" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{# {{ form.errors }} #}
	{# Include the hidden fields #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {# Include the visible fields #}				
	<div class="form-group">
		<label class="col-xs-3 control-label" for="name">Достижение</label>
		<div class="col-xs-9">
			{{ form.name }}
			{% for error in form.name.errors %}
				<br>
				<div class="alert alert-danger">
					<i class="icon-warning-sign"></i>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ error }}
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-3 control-label" for="parent">Категория</label>
		<div class="col-xs-9">
			{{ form.parent }}
			{% for error in form.parent.errors %}
				<br>
				<div class="alert alert-danger">
					<i class="icon-warning-sign"></i>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ error }}
				</div>
			{% endfor %}
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-xs-3 control-label" for="patronymic">Краткое описание</label>
		<div class="col-xs-9">
			{{ form.short_decscription }}
			
			{% for error in form.short_decscription.errors %}
				<br>
				<div class="alert alert-danger">
					<i class="icon-warning-sign"></i>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ error }}
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="form-group">
		<label class="col-xs-3 control-label">Фото достижения
			<small>Загрузите фото и выберите обложку достижения</small>
		</label>
		<div class="col-xs-9 photo_select">
			<span class="btn btn-black fileinput-button">
				{{ photo_formset.management_form }}
				<input type="hidden" id="id_proof_type" name="proof_type" value="1" />
				<span><i class="icon-picture"></i> Выбрать фото{{ photo_formset.0.photo }}</span>
			</span>
			
			<ul class="photo_achiv unstyled">
			</ul>

			{% for error in form.ach_img.errors %}
				<br>
				<div class="alert alert-danger">
					<i class="icon-warning-sign"></i>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ error }}
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="form-group" id="ach_image" style="display: none;">
		<label class="col-xs-3 control-label" >Обложка достижения
			<small>Передвигайте выделеную область за углы, чтобы выбрать отображаемую область</small>
		</label>
		<div class="col-xs-9">
			<div id="achiv_cover">
				<img id="jcrop_target" src="" alt=""/>
			</div>
		</div>
	</div>
	
	<hr/>
	<div class="form-group">
		<label class="col-xs-3 control-label" ></label>
		<div class="col-xs-9">
			<input type="submit" class="btn btn-lg btn-primary" value="Сохранить"/>
		</div>
	</div>
	
	
</form>

{% endblock content %}

{% block js %}
<script type="text/javascript">
	var $photo_input = $('.photo_select').find("input[type=file]");
	$('.photo_select').on('change', "input[type=file]", function(){
		$('span.btn.btn-black.fileinput-button').hide();
		id = 0;
		$('.photo_select').find("input[type=file]").each(function() {
			id_attr = $( this ).attr('id');
			this_id = id_attr.split('-')[1];
			if (this_id > id) 
				id = this_id;
		});
		id++;
		input_id = 'id_photos-'+id+'-photo';
		input_name = 'photos-'+id+'-photo';
    	$('.photo_select').prepend(
			'<span class="btn btn-black fileinput-button">'+
				'Добавить еще' + 
				'<input id="' + input_id +'" name="'+ input_name +'" type="file" />' +
			'</span>'
    	);
	});
</script>
<script type="text/javascript">
$(document).ready(function($){
	var jcrop_api;
	var $files = $('.photo_select').find("input[type=file]"),
		$imageItems = $('ul.photo_achiv.unstyled li');
		$('.photo_select').on('change', "input[type=file]", function(){
		var $ul = $('ul.photo_achiv.unstyled');
		var files = this.files;
		/*var files = [];
		$('.photo_select').find("input[type=file]").each(function() {
			if (this.files[0]){
				files.push(this.files[0]);
			}
		});*/
		var input_id = $(this).attr('id');
		var input_name = $(this).attr('name');
		$.each(files, function(index, value){
			var rdr = new FileReader();
			rdr.onload = function(event){
				var image = new Image();
		        image.onload = function(event) {
		        	var $img = $(this);
		            var $li = $('<li></li>'),
						$div = $('<div><a href="#" class="icon-remove"></a></div>').appendTo($li);
		            $img.addClass('hint');
		            $img.attr({
		            	'input_id': input_id,
		            	'input_name': input_name,
		            	'width': this.width / (this.height / 80),
		            	'height': "80", 
		            	'data-placement':"bottom",
		            	'data-title':"Сделать обложкой",
		            	'data-index': index,
		            	'data-name': value.name,
		            	'true_width': this.width,
		            	'true_height':  this.height
		            })
		            $img.appendTo($div);
		            $li.appendTo($ul);
		            console.log($img);
					if( $('ul.photo_achiv.unstyled li.current').length==0 ) {
							$ul.find('li').first().trigger('click');
					}
		        };
		        image.src = event.target.result;
				
			};
/*			rdr.onloadend = function(event){
				if($('ul.photo_achiv.unstyled li.current').length==0)
				{
					$ul.find('li').first().trigger('click');
				}
			};*/
			rdr.readAsDataURL(value);
		});
		$('input#id_photos-TOTAL_FORMS').val(10);
	});
	
	$('ul.photo_achiv.unstyled').on('click', 'li', function(){
		var $this = $(this),
			$ach_image_div = $('div#ach_image'),
			$img = $ach_image_div.find('img#jcrop_target'),
			Img = $this.find('img'),
			thisImg = Img.attr('src');
		$('ul.photo_achiv.unstyled li').removeClass('current');
		$this.addClass('current');
		$img.attr('src', thisImg);
		if (jcrop_api !== undefined) jcrop_api.setImage(thisImg);
		$ach_image_div.show();
		$('#id_ach_img').val(Img.attr('input_name'));
		var true_size = [Img.attr('true_width'), Img.attr('true_height')]
		setTimeout(function() {
			initJcrop(true_size);
			jcrop_api.setImage(thisImg);
			var select = $this.data('select');
			if (!select) select = [50,50,380,150]
		 	jcrop_api.setSelect(select);
			
			return false;}, 300);
	});
	
	function update_selection(sel){
		var $crop_field = $('#id_cropping');
		var $curr = $('ul.photo_achiv.unstyled li.current');
		var select = $curr.data('select');
	    if (!select) {
	    	select = [];
	    	$curr.data('select', select);
	    }
	    select[0] = sel.x;
	    select[1] = sel.y;
	    select[2] = sel.x2;
	    select[3] = sel.y2;
		$crop_field.val(select.join(','));
		console.log(select);
	}
		
	function initJcrop(true_size) {
		console.log(true_size);
		$('#jcrop_target').Jcrop({
			bgOpacity: 0.1,
	        bgColor: 'white',
	        aspectRatio: 69 / 29,
	        addClass: 'jcrop-light',
	        trueSize: true_size,
	        boxWidth: 520, boxHeight: 347,
	        onSelect: update_selection
		},function(){
			jcrop_api = this;
			//jcrop_api.animateTo([100,100,400,300]);
			jcrop_api.setSelect([50,50,380,150]);
			jcrop_api.setOptions({ bgFade: true });
			jcrop_api.ui.selection.addClass('jcrop-selection');
		});
		
		
	};
	
	//initJcrop();
	
	$('body').on('click', 'a.icon-remove', function(event){
		event.preventDefault();
		var input_id = $(this).parent().find('img').first().attr('input_id');
		var $li = $(this).parents('li')
		var $ul = $(this).parents('.controls').find('ul.photo_achiv.unstyled');
		var is_current = $li.hasClass('current');
		$('#'+input_id).remove();
		$li.remove();
		if (is_current) {
			console.log('current');
			$('#id_ach_img').val('');
			$ul.find('li').first().trigger('click');
			//select first
			}
		return false
		});
});
</script>
{% endblock js%}




