{% extends 'base.html' %}
{% load inlife_tags staticfiles %}

{% block head %}
{{ block.super }}
<script src="{% static 'image_cropping/js/jquery.Jcrop.min.js' %}"></script>
<script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
{% endblock head %}

{% block content %}			
	
<h1>Добавление достижения для {{ achievement_user.first_name }} {{ achievement_user.last_name }}</h1>
{% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <i class="icon-warning-sign"></i>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ error }}
        </div>
    {% endfor %}
{% endif %}
<form class="form-horizontal" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{# {{ form.errors }} #}
	{# Include the hidden fields #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    {# Include the visible fields #}				
	<div class="form-group">
		<label class="col-xs-3 control-label" for="name">Достижение</label>
		<div class="col-xs-9">
			{{ form.name }}
			{% for error in form.name.errors %}
				<br>
				<div class="alert alert-danger">
					<i class="icon-warning-sign"></i>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ error }}
				</div>
			{% endfor %}
		</div>

	</div>
	
	<div class="form-group">
		<label class="col-xs-3 control-label" for="description">Описание</label>
		<div class="col-xs-9">
			{{ form.description }}
			{% for error in form.description.errors %}
				<br>
				<div class="alert alert-danger">
					<i class="icon-warning-sign"></i>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ error }}
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-3 control-label">Статус достижения
		</label>
		<div class="col-xs-9">
			{{ form.status }}
			{% for error in form.status.errors %}
				<br>
				<div class="alert alert-danger">
					<i class="icon-warning-sign"></i>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ error }}
				</div>
			{% endfor %}
		</div>
	</div>



	<div class="form-group">
		<label class="col-xs-3 control-label">Продолжительность
			<small>в днях</small>
		</label>
		<div class="col-xs-9">
		    {{ form.time_to_complete }}
		    {% for error in form.time_to_complete.errors %}
				<br>
				<div class="alert alert-danger">
					<i class="icon-warning-sign"></i>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ error }}
				</div>
			{% endfor %}
		</div>
	</div>


	
	<div class="form-group">
		<label class="col-xs-3 control-label">Комментарий
			<small>Только для полученного достижения</small>
		</label>
		<div class="col-xs-9">
			{{ form.comment }}
			{% for error in form.comment.errors %}
				<br>
				<div class="alert alert-danger">
					<i class="icon-warning-sign"></i>
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ error }}
				</div>
			{% endfor %}
		</div>
	</div>

     {######################################################################}
      <div class="form-group">
        <link href="{% static "image_cropping/css/jquery.Jcrop.min.css" %}{{ CACHEBUST }}" rel="stylesheet">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="{% static "image_cropping/js/jquery.Jcrop.min.js" %}{{ CACHEBUST }}"></script>
        <script src="{% static "image_cropping/image_cropping.js" %}{{ CACHEBUST }}"></script>
        {{ photo_formset.management_form }}
        <div class="col-xs-12 add-achiv-img-box photo_select">
          <span class="btn btn-black fileinput-button">
            <input type="hidden" id="id_proof_type" name="proof_type" value="1" />
            <span><i class="icon-picture"></i> Выбрать фото <input id="id_select_photo" type="file" name="select_photo"></span>
          </span>
          <span class="help-text">Загрузите фото и выберите<br>обложку достижения</span>
          <ul class="photo_achiv unstyled">
            {% for photo_form in photo_formset %}
              <li>
                <div>
                  <a class="icon-remove" href="#"></a>
                  <img class="hint" width="128" height="80" src="{{ photo_form.photo.value.url }}" form-id="#photo_form_{{ forloop.counter0 }}" data-placement="bottom" data-title="Сделать обложкой" data-index="0"></img>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <p class="upload-message" style="display: none;">Идет загрузка фотографии...<span class="upload-progress"></span></p>

      <h3 id="ach_image_h">Обложка достижения</h3>
      <div class="col-xs-12">
        <div id="photo_formsets_container">
        {% for photo_form in photo_formset %}
          <div class='proof_photo_form' id="photo_form_{{ forloop.counter0 }}" style="display: none;" >
            {{ photo_form.id }}
            <div style="display: none;" class='delete_input_wrap'>
              {{ photo_form.DELETE }}
            </div>
            <div style="display: none;" >
              {{ photo_form.photo }}
            </div>
            <div class='position_input_wrap'>
              {{ photo_form.position }}
            </div>
            {{ photo_form.cropping }}
          </div>
        {% endfor %}
        </div>
      </div>
      {% for error in photo_formset.non_form_errors %}
          <br>
          <div class="alert alert-danger">
            <i class="icon-warning-sign"></i>
              <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error }}
          </div>
      {% endfor %}
      {% for dict in photo_formset.errors %}
          {% for error in dict.values %}
            <br>
            <div class="alert alert-danger">
              <i class="icon-warning-sign"></i>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ error }}
            </div>
          {% endfor %}
      {% endfor %}

      {######################################################################}


	
	<hr/>
	<div class="form-group">
		<label class="col-xs-3 control-label" ></label>
		<div class="col-xs-9">
			<input type="submit" class="btn btn-lg btn-primary disabledsave" value="Сохранить"/>
		</div>
	</div>
	
	
</form>
	
{% endblock content %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
    var proof_photo_upload_url = ("{% url 'upload_temp_proof_photo' %}").replace('//', '/');
</script>
<script src="{% static 'js/proof_photos.js' %}"></script>
</script>
<script type="text/javascript" src="{% static 'js/file-input.js' %}"></script>
<script type="text/javascript" src="{% static 'tiny_mce/tiny_mce.js' %}"></script>
<script type="text/javascript">
  tinymce.init({
    selector: "#id_description",
    plugins: "example, autolink, pagebreak, layer, table, save, advhr, advlink, emotions, iespell, inlinepopups, insertdatetime," +
             " preview, media, searchreplace, print, contextmenu, paste, directionality, fullscreen, noneditable," +
             " visualchars, nonbreaking, xhtmlxtras, template, advlist, youtube",
    theme_advanced_buttons1: "bold,italic,underline,strikethrough,|,formatselect,example,iespell,youtube",
    theme_advanced_path : false,
    theme_advanced_resizing : true,
    cleanup : false,
    convert_urls: false,
    theme_advanced_blockformats : "h1, h2, h4",
    extended_valid_elements: "h1, h2, h3, h4, h5, h6, iframe[src|title|width|height|allowfullscreen|frameborder|class|id|data-mce-src], object[classid|width|height|codebase|*], param[name|value|_value|*], embed[type|width|height|src|*]",
  });
</script>
{% endblock js%}
