{% extends 'base.html' %}
{% load staticfiles inlife_tags cropping %}

{% block head %}
    {{ block.super }}
    <style type="text/css">
        .nav-pills li:hover {
            cursor: pointer;
        }

        .nav-pills li.active:hover {
            cursor: default;
        }
    </style>
{% endblock head %}

{% block title %}
    Новости | Achiever
{% endblock title %}

{% block content %}
    <h1>Новости</h1>

    <div id="timeline_box">
        <ul class="nav nav-pills" data-bind="foreach: tabs">
            <li data-bind="css: { active: isSelected }">
                <a data-bind="text: name, click: $parent.selectedTab"></a>
            </li>
        </ul>

	{% if not user.friends.filter %}
        <a href="{% url 'friends' %}" class="btn btn-large btn-primary dev_activate" 
	   data-bind="visible: ativeTab().tab_id == 'friends'">Найти друзей
	   </a>
	{% endif %}
        <div class="timeline" data-bind="foreach: ativeTab().actions, visible: 1" style="display: none">
            <div class="timeline_event row">
                <!-- ko with: user -->
                <a class="timeline-autor" data-bind="attr: {'href': link}, css: avatar_class">
                    <img data-bind="{attr: {src: avatar, alt: first_name}}">
                </a>
                <!-- /ko -->
                

                <div class="col-xs-1">
                    <div class="timeline_date">
                        <!-- ko with: date -->
                        <div data-bind="text: day"></div>
                        <span data-bind="text: month"></span><br/>
                        <span data-bind="text: year"></span>
                        <!-- /ko -->
                        <div class="likeSend" data-bind="attr: {'id': id}, click: toggleLike">
                            <a href="javascript:;" data-bind="with: likes">
                                <div data-bind="attr: {class: classes}, css: {red: $parent.iLike}">
                                    <i class="icon-heart"></i>

                                    <div class="qty" data-bind="text: count"></div>
                                </div>
                            </a>
                        </div>
                        <!-- ko if: has_comments -->
                        <a data-bind="attr: {href: commenturl}, css: { 'blue': (comments().length > 0) }"
                           class="i_comment">
                            <i class="icon-comment"></i>

                            <div class="qty" data-bind="text: comments().length > 0 ? comments().length : ''"></div>
                        </a>
                        <!-- /ko -->
                    </div>
                </div>

                <div class="col-xs-11 ">
                    <a data-bind="attr: {href: url}" class="timeline_pic">
                        <span class="image">
                          <img data-bind="attr: {src: image}" alt="">
                          <!-- ko ifnot: status == "activated" -->
                              <span class="info_achiv">
                                <i data-bind="text: action"></i>
                                <span data-bind="text: name"></span>
                              </span>
                          <!-- /ko -->
                        </span>
                        <!-- ko ifnot: status == "activated" -->
                            <span data-bind="attr: {class: span_class}," data-title=''>
                                <span data-bind="foreach: ko.utils.range(1, stars_number)" >
                                    <!-- ko if: ($data == 3) && ($parent.stars_number == 3) -->
                                        <br>
                                    <!-- /ko -->
                                    <i data-bind="attr: {class: $parent.icon_class}"></i>
                                </span>
                            </span>
                        <!-- /ko -->

                        <!-- ko if: status == "activated" -->
                            <!-- ko ifnot: is_event -->
                                <div class="timeline_target clearfix">
                                    <div class="icon-box icon-bullseye pull-left"></div>
                                    <div>
                                        <h1>Цель поставлена</h1>
                                        <h2 data-bind="text: name"></h2>
                                    </div>
                                </div>
                            <!-- /ko -->
                            <!-- ko if: is_event -->
                                <div class="timeline_target clearfix">
                                    <div class="icon-box icon-calendar-empty pull-left">
                                        <div class="calendar-data">
                                            до завершения
                                            <big data-bind="text: event_remaining_time"></big>
                                            дней
                                        </div>
                                    </div>
                                    <div>
                                        <h1>Посетить событие</h1>
                                        <h2 data-bind="text: name"></h2>
                                    </div>
                                </div>
                            <!-- /ko -->
                        <!-- /ko -->
                        <!-- ko with: proof_annotation -->
                            <span
                                    data-bind="attr: {'class': span_class, 'data-title': data_title}"
                                    data-placement="left">
                                    <i data-bind="attr: {'class': icon_class }"></i>
                            </span>
                        <!-- /ko -->
                    </a>

                    <div data-bind="if: $parent.isowner" class="share_social align-right">
                        Поделиться:
                        <a href="javascript:;" data-bind="click: share.bind($data, 'vk')" class="icon-vk"></a>
                        <a href="javascript:;" data-bind="click: share.bind($data, 'facebook')"
                           class="icon-facebook"></a>
                        <a href="javascript:;" data-bind="click: share.bind($data, 'twitter')" class="icon-twitter"></a>
                        <a href="javascript:;" data-bind="click: share.bind($data, 'google')"
                           class="icon-google-plus"></a>
                    </div>
                </div>
            </div>
        </div>
        <div data-bind="scroll: true, scrollOptions: { loadFunc: scrolled, offset: 0 }"></div>
        <div style="text-align: center">
            <i data-bind="visible: loading" class="icon-spinner icon-spin icon-large"
               style="display: none;font-size:2em"></i>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        var userIsOwner = {% if user_timeline.id == user.id %}1{% else %}0{% endif %};
        var numComments = parseInt({{ num_comments }}) || 3;
        var tlvm = new TimelineViewModel(userIsOwner, numComments);
        ko.applyBindings(tlvm, document.getElementById('timeline_box'));
    </script>
{% endblock js %}
