{% extends "admin/feincms/app/achievement/change_list.html" %}
{% load admin_list i18n %}
{% load admin_urls %}
{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}feincms/style.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}feincms/fein_tree.css" />

<script type="text/javascript" src="{{ STATIC_URL }}feincms/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}feincms/jquery-ui-1.8.22.custom.min.js"></script>
<script type="text/javascript">
    var feincms = {
        {% if FEINCMS_JQUERY_NO_CONFLICT %}
            "jQuery": jQuery.noConflict(true)
        {% else %}
            "jQuery": jQuery
        {% endif %}
        , "tree_structure": {{ tree_structure|default:"null" }}
    };
</script>
<script type="text/javascript" src="{{ STATIC_URL }}feincms/ie_compat.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}feincms/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}feincms/toolbox.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}feincms/fein_tree.js"></script>

{% endblock %}


    {% block object-tools %}
      {% if has_add_permission %}
        <ul class="object-tools">
          {% block object-tools-items %}
            <li>
              {% if parent_id %}
                <a href="{% url cl.opts|admin_urlname:'add' %}?parent_id={{parent_id}}{% if is_popup %}&_popup=1{% endif %}" class="addlink">
                  {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
                </a>
              {% else %}
                <a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="addlink">
                  {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
                </a>
              {% endif %}
            </li>
          {% endblock %}
        </ul>
      {% endif %}
    {% endblock %}


{% block filters %}
    {% if cl.has_filters %}
        <div id="changelist-filter">
            <h2>{% trans 'Shortcuts' %}</h2>
            <ul>
                <li><a id="collapse_entire_tree" href="#">{% trans 'Collapse tree' %}</a></li>
                <li><a id="open_entire_tree" href="#">{% trans 'Expand tree' %}</a></li>
            </ul>

            <h2>{% trans 'Filter' %}</h2>
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
        </div>
    {% endif %}
{% endblock %}
