{% extends "base.html" %}
{% block title %}500{% endblock %}
{% block body %}
  {% block header %}
    {% include 'header.html' %}
  {% endblock header %}
  <article class="article">
    <div class="container">
      <div class="row">
	<div class="col-xs-12 align-center registration">
	  <img src="/static/img/404.png"><br>
	  <h1>Такой страницы не существует!</h1>
	  <br>
	  <a href="#"  class="btn btn-primary btn-lg">Вернуться на главную</a>
	</div>
      </div>
      <br><br>
    </div>
  </articl>
{% endblock body %}
