{% load static from staticfiles %}
{% load inlife_tags %}
{% value_from_settings "VK_APP_ID" as VK_APP_ID %}
{% value_from_settings "FACEBOOK_APP_ID" as FACEBOOK_APP_ID %}
{% value_from_settings "COMPRESS_ENABLED" as COMPRESS_ENABLED %}
{% value_from_settings "CACHEBUST" as CACHEBUST %}
<!doctype html>
<html lang="ru">
<head>
    {% block head %}
        {% block meta %}
            <meta charset="utf-8">
            <meta name="description" content="Achiever - твои достижения." />
            <meta name="keywords" content="Achiever,достижение,цель,тело,спорт,экстрим,новое" />
        {% endblock meta %}
        <title>
            {% block title %}Achiever - твои достижения{% endblock title %}
        </title>
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <meta name="viewport" content="width=960px">
        {% if COMPRESS_ENABLED %}
            <link  href="{% static "css/output.min.css" %}{{ CACHEBUST }}" rel="stylesheet">
            <script src="{% static "build/js/output.min.js" %}{{ CACHEBUST }}"></script>
        {% else %}
            <link href="{% static "css/bootstrap.css" %}{{ CACHEBUST }}" rel="stylesheet">
            <link href="{% static "css/screen.css" %}{{ CACHEBUST }}" rel="stylesheet">
            <link  href="{% static "js/vendor/fotorama/fotorama.css" %}{{ CACHEBUST }}" rel="stylesheet">
            <script src="{% static "js/jquery-1.10.2.min.js" %}{{ CACHEBUST }}"></script>
            <script src="{% static "js/vendor/bootstrap.js" %}{{ CACHEBUST }}"></script>
            <script src="{% static "js/vendor/knockout-2.3.0.js" %}{{ CACHEBUST }}"></script>
            <script src="{% static "js/vendor/jquery.knob.js" %}{{ CACHEBUST }}"></script>
            <script src="{% static "js/vendor/jquery.color.js" %}{{ CACHEBUST }}"></script>
            <script src="{% static "js/vendor/jquery.nicefileinput.js" %}{{ CACHEBUST }}"></script>
            <script src="{% static "js/vendor/jquery.jcrop.min.js" %}{{ CACHEBUST }}"></script>
            <script src="{% static "js/vendor/fotorama/fotorama.js" %}{{ CACHEBUST }}"></script>
            <script src="{% static "js/vendor/bootstrap-datepicker.js" %}{{ CACHEBUST }}"></script>
            <script src="{% static "js/vendor/handlebars-v1.3.0.js" %}{{ CACHEBUST }}"></script>
            <script src="{% static "js/all.js" %}{{ CACHEBUST }}"></script>
            <script src="{% static "js/guide.js" %}{{ CACHEBUST }}"></script>
            <script src="{% static "js/scripts.js" %}{{ CACHEBUST }}"></script>
            <script src="{% static "js/vk_share.js" %}{{ CACHEBUST }}"></script>
            <script src="{% static "js/timeline.js" %}{{ CACHEBUST }}"></script>
            <script src="{% static "js/comment.js" %}{{ CACHEBUST }}"></script>
            <script src="{% static "js/category.js" %}{{ CACHEBUST }}"></script>
            <script src="{% static "js/group_discussion_detail.js" %}{{ CACHEBUST }}"></script>
            <script src="{% static "js/conversations.js" %}{{ CACHEBUST }}"></script>
            <script src="{% static "js/friends.js" %}{{ CACHEBUST }}"></script>
            <script src="{% static "js/notification.js" %}{{ CACHEBUST }}"></script>
	    <script src="{% static "js/engine.js" %}{{ CACHEBUST }}"></script>
	    <script src="{% static "js/header.js" %}{{ CACHEBUST }}"></script>
        {% endif %}
        <script src="http://connect.facebook.net/ru_RU/all.js"></script>
        <link href="{% static "img/favicon.png" %}" rel="shortcut icon"/>
    {% endblock head %}
</head>

<body>
{% block body %}

    {% block header %}
        {% include 'header.html' %}
    {% endblock header %}

    {% block userbar %}
        {% include 'userbar.html' %}
    {% endblock userbar %}

    <!-- End Header and Nav -->

    <main role="main">
        {% if user and user.guide and request.path != '/accounts/profile/' and not user.guide.is_finished %}
            <button url="{% if user.guide.step.url == 'user_timeline' or  user.guide.step.url == 'my_timeline' %}/
                    {% else %}{% if user.guide.step.url == 'user_achievement' %}{{ user.guide.step.user_achievement.get_absolute_url }}{% else %}{% if user.guide.step.url == 'source_achievement' %}/mytrees/211/{% else %}{{ user.guide.step.url }}{% endif %}{% endif %}{% endif %}"
                    class="btn btn-warning intro-btn guide_continue">Продолжить обучение
            </button>{% endif %}
        <article class="article">
            {% block article %}
                <div class="container">
                {% block container %}
                    <div class="row">
                    <div class="col-xs-3">
                        {% block sidebar %}
                            {% if user.is_authenticated %}
                                {% user_sidebar user %}
                            {% endif %}
                        {% endblock %}
                    </div>
                    <div class="col-xs-9">
                        {% block content %}
                        {% endblock content %}
                    </div>
                {% endblock container %}
            </div>
            {% endblock article %}
            {% include 'modals.html' %}
        </article>
    </main>


    {% include 'footer.html' %}
    {% block js %}

        <script type="text/javascript">
            $('.go_vip').click(function() {
                $.get('{% url "get_premium" %}', function(data) {
                    alert(data);
                    location.reload();
                });
            });
        </script>

        <script type="text/javascript">
            function checkForMessages() {
                if ($('div').hasClass('pie')) {
                    $.get('/conversations/count/', function(data) {
                        if (data > 0) {
                            if ($('.check_new_msg').children().first().hasClass('count_badge')) {
                                $('.check_new_msg > .count_badge').html(data);
                            } else {
                                $('.check_new_msg').append('<div class="count_badge cb_blue">'+data+'</div>');
                            }
                        }
                        if (data == 0) {
                            $('.check_new_msg').children().remove();
                        }
                    });
                };

                if ($('div').hasClass('pie')) {
                    $.get('/journal/count/', function(data) {
                        if (10 > data && data > 0) {
                            if ($('.check_new_news').children().first().hasClass('count_badge')) {
                                $('.check_new_news > .count_badge').html(data);
                            } else {
                                $('.check_new_news').append('<div class="count_badge cb_blue">'+data+'</div>');
                            }
                        }
                        if (data >= 10) {
                            if ($('.check_new_news').children().first().hasClass('count_badge') ) {
                                $('.check_new_news > .count_badge').html('10+');
                            } else {
                                $('.check_new_news').append('<div class="count_badge cb_blue">'+'10+'+'</div>');
                            }
                        }
                        if (data == 0) {
                            $('.check_new_news').children().remove();
                        }
                    });
                }
            }
            setInterval(checkForMessages, 4000);

        </script>


        <script type="text/javascript">
            $('.hint').tooltip();
        </script>

        <div id="vk_api_transport"></div>

        <script type="text/javascript">
            window.vkAsyncInit = function() {
                VK.init({
                    apiId: {{ VK_APP_ID }}
                });
            };

            setTimeout(function() {
                var el = document.createElement("script");
                el.type = "text/javascript";
                el.src = "http://vk.com/js/api/openapi.js";
                el.async = true;
                document.getElementById("vk_api_transport").appendChild(el);
            }, 0);
        </script>

        <div id="fb-root"></div>
        <script type="text/javascript">
            window.fbAsyncInit = function() {
                // init the FB JS SDK
                FB.init({
                    appId      : '{{ FACEBOOK_APP_ID }}',                        // App ID from the app dashboard
                    //channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel file for x-domain comms
                    cookie     : true, // enable cookies to allow the server to access the session
                    status     : true,                                 // Check Facebook Login status
                    xfbml      : true                                  // Look for social plugins on the page
                });

                FB.Event.subscribe('auth.authResponseChange', function(response) {
                    // Here we specify what we do with the response anytime this event occurs.
                    if (response.status === 'connected') {
                        console.log('Welcome!  Fetching your information.... ');
                        FB.api('/me', function(response) {
                            console.log('Good to see you, ' + response.name + '.');
                        });
                    } else if (response.status === 'not_authorized') {
                        FB.login({perms:'read_stream,publish_stream,offline_access,publish_actions,user_photos ',
                            score:'read_stream,publish_stream,offline_access,publish_actions,user_photos '
                        });
                    } else {
                        FB.login({perms:'read_stream,publish_stream,offline_access,publish_actions,user_photos ',
                            score:'read_stream,publish_stream,offline_access,publish_actions,user_photos '
                        });
                    }
                });
            };

            // Load the SDK asynchronously
            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/ru_RU/all.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <script type="text/javascript">
            $( document ).on( "mouseover", ".hint", function() {
                $('.hint').tooltip();
            });
	    $(document).on("click", "[href*=logout], [href*=login]", function() {
	        localStorage.clear();
	    });
        </script>
    {% endblock js %}
{% endblock body %}
{% if not DEBUG %}
    {% include 'incl/yandex_metrica.html' %}
{% endif %}
</body>
</html>
