<!doctype html>
<html lang="ru">
	{% include "/include/head.html" %}
	<body>
		
		<header class="header login-in-header">
			<nav class="navbar navbar-fixed-top" role="navigation">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<a class="navbar-brand" href="/">Achiever</a>
						<span class="tagline">| 
							<a href="#" class="go_vip"> <i class="icon-star"></i> Стать PRO</a>
							| Создай цель своей жизни
						</span>
						<form class="pull-left navbar-search" role="search">
							<div class="form-group">
								<input type="text" class="form-control search-query" placeholder="Поиск по сайту">
							</div>
						</form>
						<ul class="nav navbar-nav navbar-right pull-right">
							<li>
								<a class="hint svg-hint" data-placement="bottom" data-toggle="tooltip" data-title="Группы" href="#">
									{% include "/include/svg-groups.svg" %}
								</a>
							</li>
							<li>
								<a class="icon-sitemap hint" data-placement="bottom" data-toggle="tooltip" data-title="Дерево достижений" href="/tree"></a>
							</li>
							<li>
								<a class="icon-group hint" data-placement="bottom" data-toggle="tooltip" data-title="Друзья" href="#"></a>
							</li>
							<li>
								<a class="icon-rss hint" data-placement="bottom" data-toggle="tooltip" data-title="Новости" href="#"></a>
							</li>
							<li>
								<a class="icon-bar-chart hint" data-placement="bottom" data-toggle="tooltip" data-title="Статистика" href="#"></a>
							</li>
							<li class="count-li active">
								<a class="icon-comments hint" data-placement="bottom" data-toggle="tooltip" data-title="Сообщения" href="#"></a>
								<div class="count_badge cb_red">15</div>
							</li>
							<li class="dropdown">
								<a class="icon-cog hint dropdown-toggle btn-tooltip" data-toggle="dropdown" data-placement="bottom" data-title="Настройки" href="#"></a>
								<ul class="dropdown-menu">
									<li><a href="#"><i class="icon-user"></i> Профиль</a></li>
									<li><a href="#"><i class="icon-off"></i> Выход</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<div class="user_bar">
			<div class="container">
			
				<div class="row">
					<div class="col-xs-3 avatar-box">
						<a class="avatar vip_user admin" href="/">
							<img src="/static/img/user_avatar.jpg"/>
						</a>
						<div class="name"><b>Константин</b>Константинов</div>
					</div>
					<div class="col-xs-3 hide">
						<a class="pie_wrap vip_user" href="/">
							<span class="pie">
								<input class="knob" data-fgColor="#00C0FF" data-bgColor="transparent" data-thickness=".2" data-readOnly="true" value="65" data-width="53" data-height="53">
							</span>
							<span class="pie_inside">
								<img src="/static/img/user_avatar.jpg"/>
							</span>
							<span class="count_badge">15</span>
						</a>
						<div class="name"><b>Константин</b>Константинов</div>
					</div>
					<!-- score_bar start -->
					<div class="col-xs-9 score_bar hide">
					
						<div class="progress progress-big progress-white">
							<div class="bar" style="width: 75%;"></div>
							<div class="bar_amount">755 из 1000</div>
						</div>
						<div class="bar_text">Система координат, обобщая изложенное, горизонтальна. Начальное условие движения поступательно</div>
						<a href="#" class="achiv mini hint achiv-link" data-toggle="tooltip" data-placement="left" data-title="Достижение «Супер Человек»" data-original-title=""><i class="icon-trophy"></i></a>
						
					</div>
					<!-- score_bar end -->
					<!-- main_section start -->
					<div class="col-xs-9">
						<div class="main_section-box">
							<div class="main_section">
								<a href="/tree" class="pie_wrap">
									<span class="pie">
										<input class="knob" data-fgColor="#fff" data-bgColor="transparent" data-thickness=".2" data-readOnly="true" value="65" data-width="43" data-height="43">
									</span>
									<span class="pie_inside" data-toggle="tooltip" data-placement="bottom" data-title="Оставшееся время">
										<span>75</span>
									</span>
									<span class="count_badge cb_white">15</span>
								</a>
								<div class="name"><b>Тело</b><a href="#">Начинающий дайвер</a></div>
							</div>
							<div class="main_section blocked">
								<a href="#" class="pie_wrap">
									<span class="pie">
									</span>
									<span class="pie_inside add_target hint">
										<i class="icon-plus"></i>
									</span>
								</a>
								<a href="#"class="name"><b>Дух</b><span>Нет цели</span></a>
							</div>
							<div class="main_section hide">
								<a href="#" class="pie_wrap">
									<span class="pie">
									</span>
									<span class="pie_inside add_target hint" data-toggle="tooltip" data-placement="bottom" data-title="Добавить цель">
										<i class="icon-plus"></i>
									</span>
								</a>
								<a href="#"class="name"><b>Дух</b><span>Нет цели</span></a>
							</div>
							<div class="main_section">
								<a href="#"class="pie_wrap">
									<span class="pie">
									</span>
									<span class="pie_inside add_target hint" data-toggle="tooltip" data-placement="bottom" data-title="Добавить цель">
										<i class="icon-plus"></i>
									</span>
								</a>
								<a href="#"class="name"><b>Тело</b><span>Нет цели</span></a>
							</div>
							<div class="main_section">
								<a href="#"class="pie_wrap">
									<span class="pie">
									</span>
									<span class="pie_inside add_target hint" data-toggle="tooltip" data-placement="bottom" data-title="Добавить цель">
										<i class="icon-plus"></i>
									</span>
								</a>
								<a href="#" class="name"><b>Общество</b><span>Нет цели</span></a>
							</div>
						</div>
					</div>
					<!-- main_section end -->
				</div>
			</div>
		</div>
		<!-- End Header and Nav -->
		<main role="main">

			{% block content %}{% endblock %}

		</main>

		<!-- Footer -->
		<footer class="footer">
			<div class="container">
				<p>
					© 1995–2013 <a href="#">InRealLife</a>
				</p>
			</div>
		</footer>
	</body>
</html>