{% load static from staticfiles %}
<link href="{% static 'css/cap.css' %}" rel="stylesheet">
<!doctype html>
<html lang="ru" class="cap">
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/cap.css' %}" rel="stylesheet">
  <meta name="viewport" content="width=960px">
  <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script> 
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="{% static 'js/all.js' %}"></script>
  <link href="{% static 'img/favicon.png' %}" rel="shortcut icon"/>
  <body>
    <div class="bg"></div>
    <div class="line">
      <div class="container">
	<h1>Твои достижения</h1>
      </div>
    </div>

    <form class="form-horizontal" role="form" method='POST'>
      <img class="logo" src="{% static 'img/cap/logo.png' %}">
      <h2>Подписаться на рассылку</h2>
      <h4>Оставь нам свой e-mail, чтобы первым<br> узнать об открытии сайта.</h4>
      <div class="form-group">
	<div class="input-group input-group-lg">
	  <span class="input-group-addon"><i class="icon-envelope text-muted"></i></span>
	  {% csrf_token %}
	  <input class="form-control input-lg" id="id_email" name="email" placeholder="Электронная почта" 
		 type="text" value="" {% if status == 'ok' %}disabled=disabled{% endif %}>
	  {% for error in form.email.errors %}
	  <br>
	  <div class="alert alert-danger">
	    <i class="icon-warning-sign"></i>
	    <button type="button" class="close" data-dismiss="alert">&times;</button>
	    {{ error }}
	  </div>
	  {% endfor %}
	</div>
      </div>
      {% if status == 'ok' %}
      Спасибо !!!
      {% else %}
      <button type="submit" class="btn btn-primary btn-lg">Подписаться</button>
      {% endif %}
      <div class="alert alert-success hide"><strong>Запрос отправлен!</strong></div>
    </form>

  </body>
</html>
