<!-- main_section start -->
{% load inlife_tags cropping %}
<div class="col-xs-9">
    <div class="main_section-box">
        {% get_sections as trees %}
        {% for tree in trees %}
                <div class="main_section{% if tree.is_disabled %} blocked{% endif %}">
                    <a href="{% if tree.is_disabled %}javascript:;{% else %}{% url 'section_detail' tree.pk %}{% endif %}" class="pie_wrap">
                            <span class="pie">
                                {% if False %}
                                    {#                                {% if tree.target %}#}
                                    <input class="knob" data-fgColor="#fff" data-bgColor="transparent" data-thickness=".2" data-readOnly="true" value="{{ tree.progress }}" data-width="43" data-height="43">
                                {% endif %}
                            </span>
                        {#                            {% if tree.target %}#}
                        {% if False %}
                            <span class="pie_inside" data-title="Оставшееся время" data-placement="bottom" data-toggle="tooltip" data-original-title="" title="">
                                    <span>{{ tree.days_left }}</span>
                                </span>
                                <span class="count_badge cb_white">{{ tree.targets }}</span>
                            {% else %}
                            <span class="pie_inside add_target hint" data-placement="bottom" data-title="{% if tree.is_disabled %}В разработке{% else %}Добавить цель{% endif %}">
                                    <i class="icon-plus"></i>
                                </span>                               
                            {% endif %}
                    </a>
                    <a href="{% if tree.is_disabled %}javascript:;{% else %}{% url 'section_detail' tree.pk %}{% endif %}"
                    class="name">
                        <b>{{tree}}</b>
                    </a>
                </div>
        {% endfor %}
    </div>
</div>
<!-- main_section end -->


