{% if user.is_authenticated %}
{% load postman_tags inlife_tags %}
	<header class="header login-in-header">
		<nav class="navbar navbar-fixed-top" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="navbar-brand" href="{% url 'home' %}">Achiever</a>

					<span class="tagline">{% if not user.is_premium %}|
                        {#<a href="#" class="go_vip icon-star"> Стать PRO</a>#}
                    {% endif %}| <a href="/" class="tagline-link">Твои достижения</a>
					</span>

                    <form class="pull-left navbar-search" role="search" method="get" action="{% url 'search' %}">
						<div class="form-group">
							<input type="text" name="q" class="form-control search-query" placeholder="Поиск по сайту">
						</div>
					</form>
                    <ul class="nav navbar-nav navbar-right pull-right" id="header_counts" >

			<!-- ko foreach: counters -->
                        <li data-bind="attr: {'class': 'attention ' + active()}">
                          <a data-bind="attr: {'data-title': title, 'class': count_class, 'href': url}"
			     data-placement="bottom" data-title="Новости" href="#">
			    <!-- ko if: url == "{% url 'groups' %}" -->			    
			    {% include 'incl/svg-groups.svg' %}
			    <!-- /ko -->
			  </a>
                          <div class="check_new_news">
                            <div class="count_badge cb_blue" data-bind="text: header_count > 0 ? header_count : ''"></div>
                          </div>
                        </li>
			<!-- /ko -->

                        {#	                    <li>#}
                        {#	                        <a class="icon-bar-chart hint" data-placement="bottom" data-title="Рейтинги" href="{% url 'ratings' %}"></a>#}
                        {#	                    </li>#}
						
						<li class="dropdown {% active_page_class 'profile' %}">
							<a class="icon-cog hint dropdown-toggle" data-title="Настройки" data-placement="bottom" data-toggle="dropdown" href="#"></a>
							<ul class="dropdown-menu">
								<li><a href="{% url 'profile' %}"><i class="icon-user"></i> Профиль</a></li>
								<li><a href="{% url 'auth_logout' %}"><i class="icon-off"></i> Выход</a></li>
							</ul>
						</li>

					</ul>
				</div>
			</div>
		</nav>
	</header>
{% else %}
	<header class="header log-out-header">
		<nav class="navbar navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Achiever</a>
					<span class="tagline">| Создай цель своей жизни</span>

					<form method="post" action="{% url 'login' %}" class="pull-left" role="search">{% csrf_token %}
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Электронная почта" name="email">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Пароль" name="password">
						</div>
						<button type="submit" class="btn btn-black">Войти</button>
						<a href="{% url 'password_reset' %}" class="btn btn-link">Забыли пароль?</a>
					</form>

					<ul class="navbar-nav pull-right navbar-socials">
						<li>
							<a href='{% url "socialauth_begin" "vk-oauth" %}' class="icon-stack" data-toggle="tooltip" data-placement="bottom" data-title="Войти через «Вконтакте»">
								<i class="icon-circle icon-stack-base"></i>
								<i class="icon-vk icon-light"></i>
							</a>
						</li>
						<li>
							<a href='{% url "socialauth_begin" "facebook" %}' class="icon-stack" data-toggle="tooltip" data-placement="bottom" data-title="Войти через «Facebook»">
								<i class="icon-circle icon-stack-base"></i>
								<i class="icon-facebook icon-light"></i>
							</a>
						</li>
						<li>
							<a href='{% url "socialauth_begin" "twitter" %}' class="icon-stack" data-toggle="tooltip" data-placement="bottom" data-title="Войти через «Twitter»">
								<i class="icon-circle icon-stack-base"></i>
								<i class="icon-twitter icon-light"></i>
							</a>
						</li>
						<li>
							<a href='{% url "socialauth_begin" "google-oauth2" %}' class="icon-stack" data-toggle="tooltip" data-placement="bottom" data-title="Войти через «Google">
								<i class="icon-circle icon-stack-base"></i>
								<i class="icon-google-plus icon-light"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
{% endif %}
