<!-- Modal -->
<div id="myModal" class="modal fade" id="send-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <!-- <h4 class="modal-title">Modal title</h4> -->
                <h4 class="modal-title" id="myModalLabel">Написать сообщение</h4>
                <i class="icon-user"> Пользователь Пользователеич</i>
            </div>
            <form action="{% url 'conversations' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    {{ reply_form.recipient }}
                    {{ reply_form.text }}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                    <input type="submit" class="btn btn-primary" value="Отправить">
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% include 'modals/friends.html' %}
