<div dir="ltr"><h2 style="margin:30px 0px 20px;padding:0px;font-weight:400;border:0px;outline:0px;font-size:20px;color:rgb(38,51,82);font-family:Arial,sans-serif"><p class="MsoNormal" style="margin:22.5pt 0cm 15pt"><span style="font-size:15pt;font-family:Arial,sans-serif">Основные положения</span></p>


<p class="MsoNormal" style="margin:22.5pt 0cm 15pt;line-height:14.05pt"><span style="font-size:10pt;font-family:Arial,sans-serif">1.1&nbsp;Настоящие
Правила пользования Cайтом Achiever.ru (ранее и далее – Правила) разработаны
Администрацией Сайта и определяют условия использования и развития Сайта, а
также права и обязанности его Пользователей и Администрации. Правила
распространяются также на отношения, связанные с правами и интересами третьих
лиц, не являющимися Пользователями Сайта, но чьи права и интересы могут быть
затронуты в результате действий Пользователей Сайт</span></p>

<p class="MsoNormal" style="margin:22.5pt 0cm 15pt;line-height:14.05pt"><span style="font-size:10pt;font-family:Arial,sans-serif">1.2&nbsp;Настоящие
Правила являются юридически обязательным соглашением между Пользователем и
Администрацией Сайта, предметом которого является предоставление Администрацией
Сайта Пользователю услуг по использованию Сайта и его сервисов (далее –
Услуги). Помимо настоящих Правил, к соглашению между Пользователем и
Администрацией Сайта относятся все специальные документы, регулирующие
предоставление отдельных сервисов Сайта и размещенные в соответствующих
разделах Сайта в сети Интернет.</span></p>

<p class="MsoNormal" style="margin-bottom:0.0001pt;line-height:14.05pt"><span style="font-size:10pt;font-family:Arial,sans-serif">1.3.&nbsp;Пользователь обязан полностью ознакомиться с настоящими Правилами
до момента регистрации на Сайте. Регистрация Пользователя на Сайте означает
полное и безоговорочное принятие Пользователем настоящих Правил в соответствии
со ст. 438 Гражданского кодекса Российской Федерации.</span></p>

<p class="MsoNormal" style="margin-bottom:0.0001pt;line-height:14.05pt"><span style="font-size:10pt;font-family:Arial,sans-serif">1.4.&nbsp;Настоящие Правила могут быть изменены и/или дополнены
Администрацией Сайта в одностороннем порядке без какого-либо специального
уведомления. Настоящие Правила являются открытым и общедоступным документом.
Действующая редакция Правил располагается в сети Интернет. Администрация Сайта
рекомендует Пользователям регулярно проверять условия настоящих Правил на
предмет их изменения и/или дополнения. Продолжение использования Сайта
Пользователем после внесения изменений и/или дополнений в настоящие Правила
означает принятие и согласие Пользователя с такими изменениями и/или
дополнениями.</span></p>

<p class="MsoNormal" style="margin:22.5pt 0cm 15pt"><span style="font-size:15pt;font-family:Arial,sans-serif">Приватность</span></p>

<p class="MsoNormal" style="margin:0cm 0cm 3.75pt 22.5pt"><span style="font-size:10pt;font-family:Arial,sans-serif">1.<span style="font-size:7pt;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:10pt;font-family:Arial,sans-serif">Когда Вы
регистрируетесь на Сайте, Ачивер может попросить Вас предоставить некоторую
информацию, и Вы можете предоставить ее. Ачивер также может сохранять данные о
том, какими услугами интересуются пользователи Сайта, а также о траффике и
использовании Сайта. Эта информация может использоваться для:</span></p>

<p class="MsoNormal" style="margin:0cm 0cm 3.75pt 45pt"><span style="font-size:10pt;font-family:Symbol">·<span style="font-size:7pt;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-size:10pt;font-family:Arial,sans-serif">обработки Ваших Сообщений и для того, чтобы дать Вам возможность
пользоваться Сайтом и услугами;</span></p>

<p class="MsoNormal" style="margin:0cm 0cm 3.75pt 45pt"><span style="font-size:10pt;font-family:Symbol">·<span style="font-size:7pt;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-size:10pt;font-family:Arial,sans-serif">предоставления Вам своевременных, эффективных и надежных услуг;</span></p>

<p class="MsoNormal" style="margin:0cm 0cm 3.75pt 45pt"><span style="font-size:10pt;font-family:Symbol">·<span style="font-size:7pt;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-size:10pt;font-family:Arial,sans-serif">противодействия мошенничеству;</span></p>

<p class="MsoNormal" style="margin:0cm 0cm 3.75pt 45pt"><span style="font-size:10pt;font-family:Symbol">·<span style="font-size:7pt;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-size:10pt;font-family:Arial,sans-serif">создания и поддержания Вашего аккаунта;</span></p>

<p class="MsoNormal" style="margin:0cm 0cm 3.75pt 45pt"><span style="font-size:10pt;font-family:Symbol">·<span style="font-size:7pt;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-size:10pt;font-family:Arial,sans-serif">проведения розыгрышей призов;</span></p>

<p class="MsoNormal" style="margin:0cm 0cm 3.75pt 45pt"><span style="font-size:10pt;font-family:Symbol">·<span style="font-size:7pt;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-size:10pt;font-family:Arial,sans-serif">общего управления Сайтом;</span></p>

<p class="MsoNormal" style="margin:0cm 0cm 3.75pt 45pt"><span style="font-size:10pt;font-family:Symbol">·<span style="font-size:7pt;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-size:10pt;font-family:Arial,sans-serif">подбора и персонализации контента, которым Вы пользуетесь на Сайте, и
сообщений, направляемых Вам;</span></p>

<p class="MsoNormal" style="margin:0cm 0cm 3.75pt 45pt"><span style="font-size:10pt;font-family:Symbol">·<span style="font-size:7pt;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-size:10pt;font-family:Arial,sans-serif">модерации контента, который Вы размещаете на Сайте. В этих целях вся
необходимая информация, включая IP-адрес может предоставляться третьей стороне;</span></p>

<p class="MsoNormal" style="margin:0cm 0cm 3.75pt 45pt"><span style="font-size:10pt;font-family:Symbol">·<span style="font-size:7pt;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-size:10pt;font-family:Arial,sans-serif">установления запрета пользователю на использование Сайта по единоличному
усмотрению администрации, в случае нарушения пользователем настоящих Правил.</span></p>

<p class="MsoNormal" style="margin:0cm 0cm 3.75pt 22.5pt"><span style="font-size:10pt;font-family:Arial,sans-serif">2.<span style="font-size:7pt;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:10pt;font-family:Arial,sans-serif">Предоставляя
информацию, Вы выражаете свое согласие на такое использование.</span></p>

<p class="MsoNormal" style="margin:0cm 0cm 3.75pt 22.5pt"><span style="font-size:10pt;font-family:Arial,sans-serif">3.<span style="font-size:7pt;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:10pt;font-family:Arial,sans-serif">Ачивер может
использовать полученную информацию для подбора рекламных материалов третьих
лиц, которые могут быть Вам интересны. При этом не будет происходить передачи
информации, позволяющей идентифицировать Вас.</span></p>

<p class="MsoNormal" style="margin:22.5pt 0cm 15pt"><span style="font-size:15pt;font-family:Arial,sans-serif">Ответственность</span></p>

<p class="MsoNormal" style="margin:0cm 0cm 3.75pt 22.5pt"><span style="font-size:10pt;font-family:Arial,sans-serif">1.<span style="font-size:7pt;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:10pt;font-family:Arial,sans-serif">Ачивер предоставляет и
обслуживает Сайт для Вашего развлечения по принципу «как есть».</span></p>

<p class="MsoNormal" style="margin:0cm 0cm 3.75pt 22.5pt"><span style="font-size:10pt;font-family:Arial,sans-serif">2.<span style="font-size:7pt;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:10pt;font-family:Arial,sans-serif">Администрация Ачивер
ответственна только за предоставление услуг с разумной заботой и не дает других
гарантий относительно Сайта;</span></p>

<p class="MsoNormal" style="margin:0cm 0cm 3.75pt 22.5pt"><span style="font-size:10pt;font-family:Arial,sans-serif">3.<span style="font-size:7pt;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:10pt;font-family:Arial,sans-serif">В соответствии с
вышесказанным, Ачивер не несет ответственности за убытки и ущерб любого рода,
включая без ограничения прямой ущерб, упущенную выгоду, даже если таковые
явились следствием обстоятельств, о которых Вы уведомляли Ачивер, и
администрация Ачивер не будет обязана выплачивать компенсации в том числе, но,
не ограничиваясь, в случаях, связанных с:</span></p>

<p class="MsoNormal" style="margin:0cm 0cm 3.75pt 45pt"><span style="font-size:10pt;font-family:Symbol">·<span style="font-size:7pt;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-size:10pt;font-family:Arial,sans-serif">Любой неточностью информации на Сайте, а также перерывами и задержками в
оказании услуг;</span></p>

<p class="MsoNormal" style="margin:0cm 0cm 3.75pt 45pt"><span style="font-size:10pt;font-family:Symbol">·<span style="font-size:7pt;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-size:10pt;font-family:Arial,sans-serif">Нарушением любым лицом любых прав на объекты интеллектуальной собственности
третьих лиц, связанным с использованием Сайта;</span></p>

<p class="MsoNormal" style="margin:0cm 0cm 3.75pt 45pt"><span style="font-size:10pt;font-family:Symbol">·<span style="font-size:7pt;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-size:10pt;font-family:Arial,sans-serif">Любыми убытками, причиненными воздействием вирусов или иного вредоносного
программного обеспечения, которое может поражать программное обеспечение и
компьютер пользователя, повреждать данные и иные объекты, если это явилось
следствием доступа на Сайт, использования Сайта или получения сообщений
электронной почты от Ачивер и ее партнеров;</span></p>

<p class="MsoNormal" style="margin:0cm 0cm 3.75pt 45pt"><span style="font-size:10pt;font-family:Symbol">·<span style="font-size:7pt;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-size:10pt;font-family:Arial,sans-serif">Доступностью, качеством, содержанием и природой других сайтов в сети
Интернет, которые принадлежат и управляются третьими лицами («Сторонние
сайты»), ссылки на которые есть на Сайте, а также любыми действиями с
Сторонними сайтами (касающимися файлов «куки», персональных данных,
конфиденциальной информации, покупки доменных имен и т.д.). По таким вопросам
Вам следует связываться с администраторами Сторонних сайтов;</span></p>

<p class="MsoNormal" style="margin:0cm 0cm 3.75pt 45pt"><span style="font-size:10pt;font-family:Symbol">·<span style="font-size:7pt;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-size:10pt;font-family:Arial,sans-serif">Доступностью, использованием и/или раскрытием любой информации или
Сообщений или любых материалов, предоставленных Вами Ачивером неуполномоченными
третьими лицами;</span></p>

<p class="MsoNormal" style="margin:0cm 0cm 3.75pt 45pt"><span style="font-size:10pt;font-family:Symbol">·<span style="font-size:7pt;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-size:10pt;font-family:Arial,sans-serif">Всеми гарантиями и обязательствами, на которые распространяется настоящее
условие.</span></p>

<p class="MsoNormal" style="margin:0cm 0cm 3.75pt 22.5pt"><span style="font-size:10pt;font-family:Arial,sans-serif">4.<span style="font-size:7pt;font-family:'Times New Roman'">&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span style="font-size:10pt;font-family:Arial,sans-serif">Ачивер не гарантирует,
что работа Сайта будет непрерывной и безошибочной.</span></p><span class="HOEnZb"><font color="#888888">

