{% extends 'base.html' %}
{% block content %}
{{ valueble_info }}
<ol>
{% if results %}
{% for result in results %}
<li><a href="{{ result.url }}">{{ result.title }}</a></li>
{% endfor %}
</ol>
{% else %}
<b>Ничего не найдено</b>
{% endif %}
{% endblock %}