{% load inlife_tags %}
{% load solo_tags %}
{% get_solo 'configs.AchieverConfig' as achiever_config %}
<aside id="leftside" class="user left_separator">
    <a class="name" href="/{{ user_sidebar.id }}/"><b>{{ user_sidebar.first_name }}</b>{{ user_sidebar.last_name }}</a>

    <a class="photo {{ user_sidebar.avatar_class }}" href="/{{ user_sidebar.id }}/">
        {% if user_sidebar.photo %}
            {% with user_sidebar.get_sidebar_avatar as sidebar_avatar %}
                <img src="{{ sidebar_avatar.url }}"/>
            {% endwith %}
        {% else %}

            <img src="{{ achiever_config.default_user_avatar.url }}"/>
        {% endif %}
    </a>
    {% if user.is_authenticated and user.id != user_sidebar.id %}
    <a href="#myModal" data-toggle="modal" data-id="{{ user_sidebar.id }}" data-user_name="{{ user_sidebar.first_name }} {{ user_sidebar.last_name }}" class="btn btn-primary btn-block send-message">Написать сообщение</a>
    {% with friend_status=user|friend_status:user_sidebar %}
    {% if friend_status ==  'friend' %}
        <span class="aside-status">{{ user_sidebar.first_name }} у Вас в друзьях</span>
    {% elif friend_status ==  'want_to_friendship' %}
        <span class="aside-status">Запрос отправлен</span>
    {% else %}
        <a href="javascript:;" class="btn btn-link btn-block add-to-friend" data-id="{{ user_sidebar.id }}"><i class="icon-group"></i>Добавить в друзья</a>
    {% endif %}
    {% endwith %}
    {% endif %}
    {#    <h5>Уровень доверия {{ user_sidebar.trust }}%</h5>#}
    {#    <div class="progress">#}
    {#        <div class="progress-bar" role="progressbar" aria-valuenow="{{ user_sidebar.trust }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ user_sidebar.trust }}%;">#}
    {#            <span class="sr-only">{{ user_sidebar.trust }}% Complete</span>#}
    {#        </div>#}
    {#    </div>#}

    <h5><a href="{% url 'user_summary' user_sidebar.id %}">Крупнейшие достижения</a></h5>
    <div class="achievements">
       
       {% for ach in biggest_achievements %}
            {% achiv_link ach size='mini' data_title=True %}
        {% endfor %}

    </div>
    <h5><a href="{% url 'groups' %}">Группы</a></h5>
    {#<h5>Группы</h5>#}

    <div class="interests">
      {% for gr in user_sidebar.my_groups.all %}
      <a class="label label-default" href="{% url 'group_detail' gr.pk %}">{{ gr.name }}</a>
      {% endfor %}
    </div>
</aside>
