{% extends 'base.html' %}
{% load staticfiles inlife_tags cache %}

{% block head %}
    {{ block.super }}
    <style type="text/css">
        .timeline .image {
	    max-height: 290px;
	}
	.user .photo {
	    margin: 7px 0;
	}
        .nav-pills li:hover {
            cursor: pointer;
        }
        .nav-pills li.active:hover {
            cursor: default;
        }
    </style>
{% endblock head %}

{% block title %}
{{ user_timeline.get_full_name }} | Achiever
{% endblock title %}

{% block sidebar %}
    {% user_sidebar user_timeline %}
{% endblock %}

{% block content %}
    {% if user.guide.step.url == 'user_timeline' and user_timeline.id == user.id %}

        <div class="modal fade" id="intro-1" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Добро пожаловать</h4>
                    </div>
                    <div class="modal-body">
                        <div class="media">
                            <div class="pull-left">
                                <img src="/static/img/intro/intro-man.png">
                            </div>
                            <div class="modal-body">
                                <p>Добро пожаловать на Ачивер. Я буду твоим инструктором на первое время и покажу, как работает сайт.</p><p>Моя задача – наполнить твою жизнь приключениями, открытиями и новыми впечатлениями.</p><p>Давай посмотрим, как я это сделаю.</p>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
{#                        <button type="button" user_id="{{ user.id }}" class="btn btn-default guide_close"#}
{#                                data-dismiss="modal">Пропустить обучение#}
{#                        </button>#}
                        <button type="button" user_id="{{ user.id }}" data-step="{{ user.guide.step.number }}" class="btn btn-primary guide_button">Продолжить
                            обучение
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if user.guide.step.url == request.path and not user.guide.is_finished %}
        <div class="modal fade" id="intro-1" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Получай достижения</h4>
                    </div>
                    <div class="modal-body">
                        <div class="media">
                            <div class="pull-left">
                                <img src="/static/img/intro/intro-man.png">
                            </div>
                            <div class="modal-body">
                                <p>Так могла бы выглядеть и твоя страница. А тебе есть, чем поделиться? </p><p> Посмотри страницу Кати, а когда захочешь продолжить обучение – нажми на любое из её достижений.</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" user_id="{{ user.id }}" class="btn btn-default guide_close"
                                data-dismiss="modal">Пропустить обучение
                        </button>
                        <button type="button" user_id="{{ user.id }}" data-step="{{ user.guide.step.number }}" class="btn btn-primary guide_button">Продолжить
                            обучение
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
        {% if user.guide.step.url == 'my_timeline' and user_timeline.id == user.id and not user.guide.is_finished %}
        <div class="modal fade" id="intro-1" data-backdrop="static">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Achiever – твои достижения</h4>
                        </div>
                        <div class="modal-body">
                            <div class="media">
                                <div class="pull-left">
                                    <img src="/static/img/intro/intro-man.png">
                                </div>
                                <div class="modal-body">
                                    <p>Теперь ты знаешь как использовать сайт и готов к новым свершениям! </p><p> Создавай достижения, рассказывай, как ты их получил, делись своим опытом с друзьями, активируй интересные достижения и выполняй их.</p><p> Achiever – твои достижения.</p></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" user_id="{{ user.id }}"  data-step="{{ user.guide.step.number }}" class="btn btn-primary guide_button">
                                Закончить обучение
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    {% endif %}
    <div id="timeline_box">
    <ul class="nav nav-pills" data-bind="visible: tabs.length > 1, foreach: tabs">
        <li data-bind="css: { active: isSelected }">
            <a data-bind="text: name, click: $parent.selectedTab"></a>
        </li>
    </ul>
    {% if user.is_staff %}
        {% if user_timeline.id == user.id %}
            <div class="row">
                <div class="span5 offset1 align-center">
		  <p class="text-center">
		    <a href="{% url 'achievement_create' %}" class="btn btn-primary btn-lg"><i class=" icon-plus-sign"></i> Добавить достижение</a>
		  </p>
                </div>
            </div>
        {% else %}
            <hr />
            <div class="row">
                <div class="span5 offset1 align-center">
		  <p class="text-center">
		    <a href="{% url 'create_achievement_for_user' user_timeline.id %}"
		       class="btn btn-primary btn-lg"><i class=" icon-plus-sign"></i> Добавить достижение пользователю</a>
		  </p>
                </div>
            </div>
        {% endif %}
    {% elif user_timeline.id == user.id  %}
        <div class="row">
            <div class="span5 offset1 align-center">
		  <p class="text-center">
		    <a href="{% url 'achievement_create' %}" class="btn btn-primary btn-lg"><i class=" icon-plus-sign"></i> Добавить достижение</a>
		  </p>
            </div>
        </div>
    {% else %}
        <div class="blank" style="min-height: 45px;"></div>
    {% endif %}
    
    <div class="timeline" data-bind="foreach: ativeTab().actions, visible: 1" style="display: none">
        <div class="timeline_event row">
            <!-- Колонка 1 -->
            
            <!-- ko if: $parent.isowner && accept_choice -->
                <!-- ko with: user -->
                <a class="timeline-autor" data-bind="attr: {'href': link}, css: avatar_class">
                    <img data-bind="{attr: {src: avatar, alt: first_name}}">
                </a>
                <!-- /ko -->
            <!-- /ko -->

            <div class="col-xs-1">
                <div class="timeline_date">
                    <!-- ko with: date -->
                    <div data-bind="text: day"></div>
                    <span data-bind="text: month"></span><br/>
                    <span data-bind="text: year"></span>
                    <!-- /ko -->
                    <div class="likeSend" data-bind="attr: {'id': id}, click: toggleLike">
                        <a href="javascript:;" data-bind="with: likes">
                            <div data-bind="attr: {class: classes}, css: {red: $parent.iLike}">
                                <i class="icon-heart"></i>
                                <div class="qty" data-bind="text: count > 0 ? count : ''"></div>
                            </div>
                        </a>
                    </div>
            
                    <!-- ko if: has_comments -->
                    <a data-bind="attr: {href: commenturl}, css: { 'blue': (comments_count > 0) }" class="i_comment">
                      <i class="icon-comment"></i>

                        <div class="qty" data-bind="text: comments_count > 0 ? comments_count : ''"></div>
                    </a>
                    <!-- /ko -->
                </div>
            </div>

            <!-- Колонка 2 -->
            <div class="col-xs-11">
              <div class="btn-group settings" data-bind="if: $parent.isowner">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="icon-cog"></i>
                </a>
                <ul class="dropdown-menu">
                    <li data-bind="click: _delete"><a href="javascript:">Удалить</a></li>
                </ul>
              </div>

              <a data-bind="attr: {href: url}" class="timeline_pic">
                <span class="image">
                  <img data-bind="attr: {src: image}" alt="">
                  <!-- ko ifnot: status == "activated" -->
                      <span class="info_achiv">
                        <i data-bind="text: action"></i>
                        <span data-bind="text: name"></span>
                      </span>
                  <!-- /ko -->
                </span>
                
                <!-- ko ifnot: status == "activated" -->
                    <span data-bind="attr: {class: span_class}," data-title=''>
                        <span data-bind="foreach: ko.utils.range(1, stars_number)" >
                            <!-- ko if: ($data == 3) && ($parent.stars_number == 3) -->
                                <br>
                            <!-- /ko -->
                            <i data-bind="attr: {class: $parent.icon_class}"></i>
                        </span>
                    </span>
                <!-- /ko -->

                <!-- ko if: status == "activated" -->
                    <!-- ko ifnot: is_event -->
                        <div class="timeline_target clearfix">
                            <div class="icon-box icon-bullseye pull-left"></div>
                            <div>
                                <h1>Цель поставлена</h1>
                                <h2 data-bind="text: name"></h2>
                            </div>
                        </div>
                    <!-- /ko -->
                    <!-- ko if: is_event -->
                        <div class="timeline_target clearfix">
                            <div class="icon-box icon-calendar-empty pull-left">
                                <div class="calendar-data">
                                    до завершения
                                    <big data-bind="text: event_remaining_time"></big>
                                    дней
                                </div>
                            </div>
                            <div>
                                <h1>Посетить событие</h1>
                                <h2 data-bind="text: name"></h2>
                            </div>
                        </div>
                    <!-- /ko -->
                <!-- /ko -->

                <!-- ko with: proof_annotation -->
                <span 
                   data-bind="attr: {'class': span_class, 'data-title': data_title}"
                   data-placement="left">
                  <i data-bind="attr: {'class': icon_class }"></i>
                </span>
                <!-- /ko -->
                <div class="btn-group btn-group-xs" data-bind="if: $parent.isowner && accept_choice">
                  <button data-bind="click: _accept" type="button" class="btn btn-primary"><i class="icon-ok"></i> Принять</button>
                  <button data-bind="click: _delete" type="button" class="btn btn-danger"><i class="icon-remove"></i> Отклонить</button>
                </div>
              </a>
                <div {#data-bind="if: $parent.isowner && status"#} class="share_social align-right">
                    Поделиться:
                    <a href="javascript:;" data-bind="click: share_vk.bind($data)" class="icon-vk"></a>
                    <a href="javascript:;" data-bind="click: share.bind($data, 'facebook')" class="icon-facebook"></a>
                    <a href="javascript:;" data-bind="click: share.bind($data, 'twitter')" class="icon-twitter"></a>
                    <a href="javascript:;" data-bind="click: share.bind($data, 'google')" class="icon-google-plus"></a>
                </div>
            </div>

            <!-- Колонка 3 -->
            <!-- <div class="col-xs-4"> -->
            <!--     <div><a data-bind="text: toggleCommentsLink, click: toggleComments" -->
            <!--             href="javascript:">Показать предыдущие</a></div> -->

            <!--     <ul data-bind="css: 'timeline_comments ' + id, foreach: comments"> -->
            <!--         <li class="comment" data-bind="visible: visible"> -->
            <!--             <i data-bind="visible: editable || $parent.isowner, -->
            <!--                           css: 'icon-remove-sign ' + comment_id, -->
            <!--                           click: $parent.removeComment.bind($parent, $data)"></i> -->
            <!--             <div class="avatar" data-bind="css: user.avatar_class"> -->
            <!--                 <a data-bind="{attr: {href: user.link}}"><img data-bind="{attr: {src: user.avatar, alt: user.first_name}}"></a> -->
            <!--             </div> -->
            <!--             <div class="comment_text"><span data-bind="text: getComment()"></span><a href="javascript:" data-bind="visible: !showFull(), click: show">...</a></div> -->
            <!--         </li> -->
            <!--     </ul> -->
            <!--     <form method="post" data-bind="attr: {action: comment_form_url}, submit: addComment" -->
            <!--           style="position: relative" -->
            <!--           class="timelineCommentForm"> -->
            <!--         <i class="icon-spinner icon-spin icon-large" data-bind="visible: submitting"></i> -->
            <!--         {% csrf_token %} -->
            <!--         <input autocomplete="off" class="add_comment form-control" name="comment" placeholder="написать комментарий" -->
            <!--                data-bind="attr: {disabled: submitting}" -->
            <!--                type="text"/> -->
            <!--     </form> -->
            <!-- </div> -->
        </div>
    </div>
    <div data-bind="scroll: true, scrollOptions: { loadFunc: scrolled, offset: 0 }"></div>
    <div style="text-align: center">
        <i data-bind="visible: loading" class="icon-spinner icon-spin icon-large"
           style="display: none;font-size:2em"></i>
    </div>
</div>

{% endblock %}



{% block js %}
    {{ block.super }}
    <script>
        var tabs = [
            {name: 'Все', tab: 'all'}{% if 0 %}{# {% if user_timeline.is_premium %} #},
            {name: 'Активированные', tab: 'activated'},
            {name: 'Ожидающие подтверждения', tab: 'pending'},
            {name: 'Полученные', tab: 'recieved'},
            {name: 'Цели', tab: 'categorys'}{% endif %}
        ];
        var userIsOwner = {% if user_timeline.id == user.id %}1{% else %}0{% endif %};
        var isGuide = false;
        var numComments = parseInt({{ num_comments }}) || 3;
        var tlvm = new TimelineViewModel(tabs, userIsOwner, numComments, isGuide);
        ko.applyBindings(tlvm, document.getElementById('timeline_box'));
    </script>
{% endblock js %}
