{% if user.is_authenticated %}
{% load inlife_tags cropping %}
<div class="user_bar">
	<div class="container">
		<div class="row">
			<div class="col-xs-3 avatar-box" >
			  {% include 'users/user_avatar.html' %}
			  <div class="name"><b>{{ user.first_name }}</b>{{ user.last_name }}</div>
			</div>
			{% if user.check_premium %}
	            	  {% include 'category_bar.html' %}
			{% else %}
			<span>Что-то пошло не так, обратитесь к администратору</span>
                {% endif %}
		</div>
	</div>
</div>
{% endif %}
