{% load inlife_tags %}
{% for child in children %}   
    {% with child as ach %}
        {% include 'tree/tree_label_template.html' %}
    {% endwith %}
{% endfor %}
{% for child in children %}
    {% with child as ach %}
        {% include 'tree/tree_input_template.html' %}
    {% endwith %}
    
    <div class="branch">
        <h3>{{ child.name }}</h3>
        {% if child.is_leaf_node %}
            <p class="">{{ child.short_decscription|safe }}</p>
            <!--<div class="achiv_list">
                <span class="label label-info">Первый заезд</span>
                <span class="label label-info">Новичок</span>
                <span class="label label-info">Любитель</span>
                <span class="label label-info">Профи</span>
                <span class="label label-info">Один из лучших</span>
                <span class="label label-info">Чемпион</span>
                <span class="label label-info">Легенда</span>
            </div>-->
            <br />
            {% if child.blocking_user_achievements %}
                Чтобы приступть к этому достижению необходимо выполнить следующие достижения:
                <ul>
                    {% for ach in child.blocking_user_achievements %}
                        <li><a href="{% url 'achievement' ach.achievement.id %}">{{ ach.achievement.name }}</a></li>
                    {% endfor %}
                </ul>
            {% elif child.status == 1 %}
                {# not active #}
                <a href="{% url 'achievement' child.id %}" class="btn btn-primary btn-large">Перейти к достижению</a>
            {% elif child.status == 2 %}
                {# activated #}
                <a href="{% url 'achievement' child.id %}" class="btn btn-primary btn-large">Подтвердить достижение</a>
            {% elif child.status == 4 %}
                {# reached #}
                <h2>Достижение выполнено</h2>
            {% elif child.status == 5 %}
                {# failed #}
                <p>достижение провалено</p>
                <a href="{% url 'achievement' child.id %}" class="btn btn-primary btn-large">Перейти к достижению</a>
            {% endif %}
        {% endif %}
    </div>
{% endfor %}