{% load inlife_tags %}
<!--Первая уровень-->
<div class="branch" id="group1">
    {% for ach in active_achievements %}
        <label for="g1_1_{{ach.achievement.id}}" class="leaf">
            <p><span>{{ach.achievement}}</span></p>
            {% achiv_span ach %}
        </label>
    {% endfor %}
</div>
            
<!--Второй уровень-->

{% for ach in active_achievements %}        
    <input type="radio" id="g1_1_{{ach.achievement.id}}" name="group2"/>
    <div class="branch" id="group2_{{ach.achievement.id}}">
        <h3>{{ach.achievement}}</h3>
            <a href="{% url 'achievement' ach.achievement.id %}" class="btn btn-primary btn-large">Подтвердить достижение</a>
            <br />
    </div>
{% endfor %}