{% load inlife_tags %}

<div class="achiv_tree">
                
                
    <!--Первый уровень-->
    <div class="branch" id="group1">
        {% for ach in recieved_achievments %}
            <label for="g1_1_{{ach.achievement.id}}" class="leaf">
                <p><span>{{ ach.achievement }}</span></p>
            </label>
        {% endfor %}
    </div>
                
    <!--Второй уровень-->

    {% for ach in recieved_achievments %}        
        <input type="radio" id="g1_1_{{ach.achievement.id}}" name="group2"/>
        <div class="branch" id="group2_{{ach.achievement.id}}">
            <h3>{{ ach.achievement }}</h3>
                <p class="">Достижение выполнено!</p>
            <!--
                <div class="achiv_list">
                    <span class="label label-info">Первый заезд</span>
                    <span class="label label-info">Новичок</span>
                    <span class="label label-info">Любитель</span>
                    <span class="label label-info">Профи</span>
                    <span class="label label-info">Один из лучших</span>
                    <span class="label label-info">Чемпион</span>
                    <span class="label label-info">Легенда</span>
                </div>
                -->
                <br />
        </div>
    {% endfor %}

</div>