{% load inlife_tags %}
<input type="radio" id="g{{ depth }}_{{ item.id }}" name="group{{ depth }}"/>
<div class="branch" id="group{{ depth }}_{{ item.id }}">
    <h3>{{ item }}</h3>
    <p class="">{{ item.description|safe }}</p>
    <!--<div class="achiv_list">
        <span class="label label-info">Первый заезд</span>
        <span class="label label-info">Новичок</span>
        <span class="label label-info">Любитель</span>
        <span class="label label-info">Профи</span>
        <span class="label label-info">Один из лучших</span>
        <span class="label label-info">Чемпион</span>
        <span class="label label-info">Легенда</span>
    </div>-->
    <br />
    {% if item.blocking_user_achievements %}
        Чтобы приступть к этому достижению необходимо выполнить следующие достижения:
        <ul>
            {% for ach in item.blocking_user_achievements %}
                <li><a href="{% url 'achievement' ach.achievement.id %}">{{ ach.achievement.name }}</a></li>
            {% endfor %}
        </ul>
    {% elif item.status == 1 %}
        {# not active #}
        <a href="{% url 'achievement' item.id %}" class="btn btn-primary btn-large">Перейти к достижению</a>
    {% elif item.status == 5 %}
        {# failed #}
        <a href="{% url 'achievement' item.id %}" class="btn btn-primary btn-large">Перейти к достижению</a>
    {% elif item.status == 2 %}
        {# activated #}
        <a href="{% url 'achievement' item.id %}" class="btn btn-primary btn-large">Подтвердить достижение</a>
    {% endif %}
</div>