{% load inlife_tags %}
<label for="g{{ach.level}}_{{ach.id}}" class="leaf">
    <p><span>{{ ach }}</span></p>
    
    {% achiv_span ach size='mini' %}
    
    {% with ach.get_children_count as children_count %}
        {% if children_count %}
            <span class="achiv_amount">{{ children_count }}</span>
        {% endif %}
    {% endwith %}
</label>