{% load inlife_tags %}
{% for child in children %}   
    {% with child as ach %}
        {% include 'tree/tree_label_template.html' %}
    {% endwith %}
{% endfor %}
{% for child in children %}
    {% with child as ach %}
        {% include 'tree/tree_input_template.html' %}
    {% endwith %}
    
    <div class="branch">
        <h3>{{ child.name }}</h3>
        {% if child.is_leaf_node %}
            <p class="">{{ child.short_decscription|safe }}</p>
            <br />
            {% if child.blocking_user_achievements %}
                Чтобы приступть к этому достижению необходимо выполнить следующие достижения:
                <ul>
                    {% for ach in child.blocking_user_achievements %}
                        <li><a href="{% url 'achievement' ach.achievement.id %}">{{ ach.achievement.name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                {# not active #}
                <a href="{% url 'achievement' child.id %}" class="btn btn-primary btn-large">Перейти к достижению</a>
            {% endif %}
        {% endif %}
    </div>
{% endfor %}