<div class="achiv_filter">
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Тип спорта
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="">Индивидуальный</a></li>
            <li><a href="">Экстремальный</a></li>
            <li><a href="">Командный</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Направление
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="">Соревновательные</a></li>
            <li><a href="">Общеразвивающие</a></li>
            <li><a href="">Здоровье и тонус</a></li>
        </ul>
    </div>
    
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Сезонность
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="">Летние виды</a></li>
            <li><a href="">Зимние виды</a></li>
        </ul>
    </div>
</div>