<div class="col-xs-4">
<a href="{% url 'category' category.id %}" class="collect current">
    <span class="image">
        <img src="{{ category.image.url }}">
    </span>
    <span class="name_collect">
        {{ category.name }}
    </span>
</a>
</div>