{% extends 'base.html' %}
{% load staticfiles inlife_tags %}
{% load solo_tags %}
{% get_solo 'configs.AchieverConfig' as achiever_config %}

{% block head %}
    {{ block.super }}
{% endblock head %}

{% block title %}
  Сообщения{% if chat_user %} | {{chat_user.get_full_name}}{% endif%} | Achiever
{% endblock title %}

{% block container %}

<div class="col-md-offset-1"><h1 class="">Ваши сообщения</h1> <br/></div>

<div class="row" id="messages">
    <div class="col-xs-4 left_separator">
        {% for chat_user in chat_users %}
            <div class="row chat_user user_{{chat_user.id}}" >
                <div class="col-xs-3">
		  <span></span>
                    <div class="avatar {% if chat_user.is_superuser %}vip_user admin{%endif%}">
                        {% if chat_user.photo %}
                            {% with chat_user.get_cropped_avatar as avatar %}
                                <img src="{{ avatar.url }}" />
                            {% endwith %}
                        {% else %}
                            <img src="{{ achiever_config.default_user_avatar.url }}"/>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-9">
                    <a href="{% url 'conversations' %}?u={{chat_user.id}}">{{ chat_user.first_name }} {{ chat_user.last_name }}</a><br />
                    <div class="date">{{ chat_user.sent_at|date:"d E Y" }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-xs-8">
        <div class="messages_list" id="message_box" data-bind="foreach: messages">
                <div class="message">
                    <!-- ko if: sender.id==$root.interlocutor_id -->
                        <div class="row right">
                            <div class="col-xs-8 col-md-offset-2">
                                <div class="well">
                                    <a data-bind="attr: { href: '/' + $root.interlocutor_id + '/' }">
                                        <b data-bind="text: sender.full_name"></b>
                                    </a>
                                    <div data-bind="html: body"></div>
                                </div>
                            </div>
                            <div class="col-xs-2">
			      <a data-bind="attr: { href: '/' + $root.interlocutor_id + '/' }">
                                <div data-bind="attr: { class: sender.avatar_class }">
                                  <img data-bind="attr: { src: sender.avatar }">
                                </div>
			      </a>
                            </div>
                        </div> 
                    <!-- /ko -->
                    <!-- ko if: sender.id==$root.user_id -->
                        <div class="row">
                            <div class="col-xs-2">
			      <a data-bind="attr: { href: '/' + $root.user_id + '/' }">
                                <div data-bind="attr: { class: sender.avatar_class }">
                                    <img data-bind="attr: { src: sender.avatar }">
                                </div>
			      </a>
                            </div>
                            <div class="col-xs-8">
                                <div class="well">
                                    <a data-bind="attr: { href: '/' + $root.interlocutor_id + '/' }">
                                        <b data-bind="text: sender.full_name"></b>
                                    </a>
                                    <div data-bind="html: body"></div>
                                </div>
                            </div>
                        </div>
                    <!-- /ko -->
                </div>
        </div>


	<div style="text-align: center">
          <i data-bind="visible: loading" class="icon-spinner icon-spin icon-large"
             style="display: none;font-size:2em"></i>
	</div>

	<div class="row">
	  <div class="col-xs-offset-1 col-xs-11">
            <hr />
            <h3>Написать сообщение</h3>
            <form action="." method="post" id="reply_form">
              {% csrf_token %}
              {{ reply_form.recipient }}
              <textarea class="form-control" cols="15" id="id_text" name="text" rows="3" data-bind="disable: submitting" ></textarea>
              <br>
              <input type="button" class="btn btn-lg btn-primary" data-bind="disable: submitting" value="Отправить"/>
            </form>
	  </div>
	</div>

    </div>
</div>
<div id="push"></div>
{% endblock container %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">

    var cvm = new ChatViewModel({{ user.id }}, {{ chat_user.id }});
    ko.applyBindings(cvm, document.getElementById('messages'));
    scrollDown();
    </script>
    
    <script type="text/javascript">
        $('#id_text').keyup(function (event) {
            if (event.keyCode == 13) {
                //при нажатии Enter
                if (!event.shiftKey){
                    //если без шифта - отправка сообщения
                    cvm.submitting(true);
                    event.preventDefault();
                    $("#reply_form > input[type=button]").trigger('click');
                    }
                else
                    //если с шифтом - новая строка
                    event.preventDefault();
            }
        });
        $(".chat_user").click(function(e) {
        var loc = $(this).find('.col-xs-9 a:first').attr('href').split('=');
        cvm.interlocutor_id = loc[loc.length-1];
        cvm.messages([]);
        cvm.key = "_chat_user_" + loc[loc.length-1];
        cvm.updateMassegeFromCache();
        e.preventDefault();
            // window.location = $(this).find('.col-xs-9 a:first').attr('href');
        });
    $("#reply_form > input[type=button]").on("click", function(e) { cvm.send_message(); });
    </script>
{% endblock js %}

