{% extends 'base.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load inlife_tags %}

{% block title %}
Achiever - твои	достижения
{% endblock title %}

{% block body %}
	<div class="document landing-page-document">
		{% block header %}
			<header class="header log-out-header-new">
				<nav class="navbar" role="navigation">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<img class="landing-logo pull-left" src="{% static "img/landing/logo-landing.png" %}">
							<a class="navbar-brand" href="/">Твои достижения</a>


							<ul class="navbar-nav pull-right">
								<li>
									<a data-toggle="modal" href="#login-modal"><img src="{% static "img/landing/login.png" %}">Войти</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</header>
			<!-- End Header and Nav -->
			{% include 'registration/login_modal.html' %}
		{% endblock header %}

{#		<article class="article">#}
    <main role="main">
			{% block article %}
				<div class="landing_image">
					<div class="landing_images hide">
						{% for achiv in achievements %}
							<img id="landing_image_{{ forloop.counter  }}" src="{{ achiv.landing_image.url }}">
						{% endfor %}
					</div>

					<form class="landing_form" action="{% url 'register' %}" method="post">
						<div class="row">
							<div class="col-xs-4">
								<h2>Регистрация</h2>
							</div>
							<div class="col-xs-8">
								<ul class="socials-login-links pull-right">
									<li><span>Вы можете зарегистрироваться<br>через социальные сети</span></li>
									<li>
										<a href='{% url "socialauth_begin" "vk-oauth" %}' class="icon-stack">
											<i class="icon-circle icon-stack-base"></i>
											<i class="icon-vk icon-light"></i>
										</a>
									</li>
									<li>
										<a href='{% url "socialauth_begin" "facebook" %}' class="icon-stack">
											<i class="icon-circle icon-stack-base"></i>
											<i class="icon-facebook icon-light"></i>
										</a>
									</li>
									<li>
										<a href='{% url "socialauth_begin" "twitter" %}' class="icon-stack">
											<i class="icon-circle icon-stack-base"></i>
											<i class="icon-twitter icon-light"></i>
										</a>
									</li>
									<li>
										<a href='{% url "socialauth_begin" "google-oauth2" %}' class="icon-stack">
											<i class="icon-circle icon-stack-base"></i>
											<i class="icon-google-plus icon-light"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="row">
							{% csrf_token %}
							<div class="col-xs-4">
								<div class="input-group input-group-lg">
									<span class="input-group-addon"><i class="icon-envelope"></i></span>
									{{ form.email }}
								</div>
							</div>
							<div class="col-xs-4">
								<div class="input-group input-group-lg">
									<span class="input-group-addon"><i class="icon-key"></i></span>
									{{ form.password }}
								</div>
							</div>
							<div class="col-xs-4">
								<button type="submit" class="btn btn-primary btn-lg btn-block">Зарегистрироваться</button>
							</div>
						</div>
					</form>
				</div>
				<div class="container">
					<div class="row main_tabs">
						{% for achiv in achievements %}
							<div class="col-xs-3">
								<a href="{{ achiv.landing_image.url }}" {% if forloop.first %} class="current"{% endif %}>
									<div class="svg-icon">
                                        <embed src="{{ achiv.svg_icon.url }}"
                                              type="image/svg+xml"
                                              pluginspage="http://www.adobe.com/svg/viewer/install/"
                                        />
									</div>
									<span class="mt_name">{{ achiv.name }}</span>
			                        <span class="mt_description">{{ achiv.short_decscription }}</span>
								</a>
							</div>
			            {% endfor %}
					</div>
				</div>
				<hr class="hr-dashed">
				{% for root_item in landing_itmes %}
					<div class="container">
						<div class="instruction" >
							<h1 class="text-center">{{ root_item.title }}</h1>
							{% if root_item.is_leaf_node %}
								<img src="{{ root_item.image.url }}" style="margin-bottom: 5%;">
							{% else %}
								<div class="row">
								{% for child_item in root_item.get_children %}
									<div class="col-xs-4">
										<img src="{{ child_item.image.url }}" alt="">
										<h3>{{ child_item.title }}</h3>
										<p>{{ child_item.description }}</p>
									</div>
								    {% if forloop.counter|divisibleby:3 %}
								</div>
								<div class="row">
								    {% endif %}
								{% endfor %}
								</div>
							{% endif %}
							{% if not forloop.last %}
								<hr>
							{% else %}                  
				            {% endif %}
						</div>
					</div>
				{% endfor %}

				<div class="landing-bottom">
					<div class="container">
						<div class="landing-bottom-content text-center">
							<h1>Ты готов к реальным достижениям?</h1></br>
							<a href="{% url 'register' %}"><button class="btn btn-lg btn-primary">Зарегистрироваться</button></a>
						</div>
					</div>
				</div>
			{% endblock article %}
{#		</article>#}
</main>
		<div class="footer-padding"></div>
	</div>

{% include 'footer.html' %}
{% endblock body %}