{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Achiever - твои достижения
{% endblock title %}

{% block body %}
    <div class="modal fade wait-for-answer" id="wait-for-answer" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body text-center">
            <img src="/static/img/mascot.svg">
            <h3>Дай-ка подумать...</h3>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <header class="header landing-header-new">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            <div>
              <span class="landing-logo">
                <img src="{% static 'img/cap/logo_landing.svg' %}">
                <br>
              <span class="sub-logo">Твои достижения</span>
              </span>
            </div>
            <h1>Проводи выходные активно!</h1>
            <p>Сайт для тех, кому дивана и телевизора<br> для счастья не достаточно</p>
            <a href="#reg-form" id="register_button" class="btn btn-primary btn-lg">Зарегистрироваться</a>
          </div>
        </div>
        <div class="description-block">
          <div class="row">
            <div class="col-xs-4">
              <h3>Бесплатный доступ к гайдам</h3>
              <p>о том, как путешествовать налегке, как нырять с аквалангом, совершить первый прыжок или научиться стрелять</p>
            </div>
            <div class="col-xs-4">
              <h3>Самые интересные события</h3>
              <p>в которых ты можешь участвовать: любительские состязания, семинары, мастер-классы, деловые игры и открытые лекции</p>
            </div>
            <div class="col-xs-4">
              <h3>Дневник достижений</h3>
              <p>каждый твой шаг к активной жизни – это достижение; пробуй новое, находи приключения и оставляй заметки о них в своем дневнике достижений</p>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- End Header and Nav -->
    
    <main role="main">
      
      

<div class="landing-how-it-works">
  <div class="container">
    <h3>Как это работает?</h3>
    <ol>
      <li>Выбери себе <a href="#">цель</a> на предстоящие выходные</li>
      <li>Выполни то, что запланировал</li>
      <li>Получил новые впечатления? <a href="#">Опиши</a> их в своем дневнике достижений</li>
      <li>Вернись к пункту №1. Скоро твой <a href="#">дневник достижений</a> наполнится заметками, а жизнь яркими событиями!</li>
    </ol>
  </div>
</div>
<div class="landing-registration landing-registration-new">
  <div class="container">
    <div class="red-flag">
      С нами уже
      <big>450</big>
      <small>пользователей</small>
    </div>
    <form class="landing_form" id="reg-form" action="{% url 'register' %}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-xs-4">
          <h2>Присоединяйся</h2>
        </div>
        <div class="col-xs-8">
          <ul class="socials-login-links">
            <li>
              <a href='{% url "socialauth_begin" "vk-oauth" %}' class="social_auth_modal" data-target="#wait-for-answer">
                <img src="/static/img/social/vk.svg">
              </a>
            </li>
            <li>
              <a href='{% url "socialauth_begin" "facebook" %}' class="social_auth_modal" data-target="#wait-for-answer">
                <img src="/static/img/social/facebook.svg">
              </a>
            </li>
            <li>
              <a href='{% url "socialauth_begin" "twitter" %}' class="social_auth_modal" data-target="#wait-for-answer">
                <img src="/static/img/social/twitter.svg">
              </a>
            </li>
            <li>
              <a href='{% url "socialauth_begin" "google-oauth2" %}' class="social_auth_modal" data-target="#wait-for-answer">
                <img src="/static/img/social/g+.svg">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="icon-envelope"></i></span>
            {{ form.email }}
          </div>
        </div>
        <div class="col-xs-4">
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="icon-key"></i></span>
            {{ form.password }}
          </div>
        </div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-lg btn-block">Зарегистрироваться</button>
        </div>
      </div>
    </form>
  </div>
</div>



    </main>
    
    <!-- Footer -->
    <footer class="footer landing-footer">
      <div class="container">
        <p>
          © 2013-2014 <a href="/">Achiever</a> | <a href="/rules/">Правила использования ресурса</a>
        </p>
      </div>
    </footer>

{% block js %}
  <script type="text/javascript">
    $(function() {
      $('.social_auth_modal').click(function(e){
        $('#wait-for-answer').modal('show');
        return true;
      })
    });
  </script>
  <script type="text/javascript">
    $(function() {
      var yaParams = {ab_test_landing: "landing_B"};
      $('.icon-stack').click(function(e){
        yaCounter23091409.reachGoal('LANDING_REGISTRATION', yaParams);
        return true;
      });
      $('#reg-form').submit(function(e){
        yaCounter23091409.reachGoal('LANDING_REGISTRATION', yaParams);
        return true;
      });
    });
  </script>
{% endblock js %}

{% endblock body %}

