{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Achiever - твои достижения
{% endblock title %}

{% block body %}
  <div class="modal fade wait-for-answer" id="wait-for-answer" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body text-center">
          <img src="/static/img/mascot.svg">
          <h3>Дай-ка подумать...</h3>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <header class="header landing-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <span class="landing-logo"><img src="{% static 'img/cap/logo_landing.svg' %}"></span>
          <span class="sub-logo">Твои достижения</span>
        </div>
        <div class="col-xs-10">
          <h1>Проводи выходные активно!</h1>
          <p>Сайт для тех, кому дивана и телевизора для счастья не достаточно</p>
        </div>
      </div>
    </div>
  </header>
  <!-- End Header and Nav -->
  
  <main role="main">
    <div class="landing-intro">
      <div class="container">
        <div class="row">
          <div class="col-xs-5">
            <ul class="chevron-list">
              <li>
                <i class="icon-chevron-right"></i>
                <h3>Бесплатный доступ к гайдам</h3>
                <p>о том, как путешествовать налегке, как нырять с аквалангом, совершить первый прыжок или научиться стрелять</p>
              </li>
              <li>
                <i class="icon-chevron-right"></i>
                <h3>Самые интересные события</h3>
                <p>в которых ты можешь участвовать: любительские состязания, семинары, мастер-классы, деловые игры и открытые лекции</p>
              </li>
              <li>
                <i class="icon-chevron-right"></i>
                <h3>Дневник достижений</h3>
                <p>каждый твой шаг к активной жизни – это достижение; пробуй новое, находи приключения и оставляй заметки о них в своем дневнике достижений</p>
              </li>
            </ul>
            <a href="#reg-form" id="register_button" class="btn btn-primary btn-lg btn-block">Зарегистрироваться</a>
          </div>
          <div class="col-xs-7">
            <div class="fotorama landing-fotorama pull-right"
              data-width="529"
              data-height="417"
              >
              <div data-img="{% static 'img/landing/1.jpg' %}" >
                <span class="slider-text">Наши пользователи летают</span>
              </div>
              <div data-img="{% static 'img/landing/2.jpg' %}" >
                <span class="slider-text">Наши пользователи плавают</span>
              </div>
              <div data-img="{% static 'img/landing/3.jpg' %}" >
                <span class="slider-text">Наши пользователи гоняют</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="landing-how-it-works">
      <div class="container">
        <h3>Как это работает?</h3>
        <ol>
          <li>Выбери себе <a href="http://achiever.ru/achievements/2510/">цель</a> на предстоящие выходные</li>
          <li>Выполни то, что запланировал</li>
          <li>Получил новые впечатления? <a href="http://achiever.ru/433/achievement/2804/">Опиши</a> их в своем дневнике достижений</li>
          <li>Вернись к пункту №1. Скоро твой <a href="http://achiever.ru/433/">дневник достижений</a> наполнится заметками, а жизнь яркими событиями!</li>
        </ol>
      </div>
    </div>
    <div class="landing-registration">
      <div class="container">
        <div class="red-flag">
          С нами уже
          <big>450</big>
          <small>пользователей</small>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h2 class="text-center">Присоединяйся</h2>
            <form class="landing_form" id="reg-form" action="{% url 'register' %}" method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-xs-12">
                  <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="icon-envelope"></i></span>
                    {{ form.email }}
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="icon-key"></i></span>
                    {{ form.password }}
                  </div>
                </div>
                <div class="col-xs-12">
                  <ul class="socials-login-links">
                    <li>
                      <a href='{% url "socialauth_begin" "vk-oauth" %}' class="social_auth_modal" data-target="#wait-for-answer">
                        <img src="/static/img/social/vk.svg">
                      </a>
                    </li>
                    <li>
                      <a href='{% url "socialauth_begin" "facebook" %}' class="social_auth_modal" data-target="#wait-for-answer">
                        <img src="/static/img/social/facebook.svg">
                      </a>
                    </li>
                    <li>
                      <a href='{% url "socialauth_begin" "twitter" %}' class="social_auth_modal" data-target="#wait-for-answer">
                        <img src="/static/img/social/twitter.svg">
                      </a>
                    </li>
                    <li>
                      <a href='{% url "socialauth_begin" "google-oauth2" %}' class="social_auth_modal" data-target="#wait-for-answer">
                        <img src="/static/img/social/g+.svg">
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-12">
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Зарегистрироваться</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- Footer -->
  <footer class="footer landing-footer">
    <div class="container">
      <p>
        © 2013-2014 <a href="/">Achiever</a> | <a href="/rules/">Правила использования ресурса</a>
      </p>
    </div>
  </footer>

{% block js %}
  <script type="text/javascript">
    $(function() {
      $('.social_auth_modal').click(function(e){
        $('#wait-for-answer').modal('show');
        return true;
      })
    });
  </script>
  <script type="text/javascript">
    $(function() {
      var yaParams = {ab_test_landing: "landing_A"};
      $('.icon-stack').click(function(e){
        yaCounter23091409.reachGoal('LANDING_REGISTRATION', yaParams);
        return true;
      });
      $('#reg-form').submit(function(e){
        yaCounter23091409.reachGoal('LANDING_REGISTRATION', yaParams);
        return true;
      });
    });
  </script>
{% endblock js %}
    
{% endblock body %}

