{% extends 'base.html' %}
{% load inlife_tags cropping staticfiles %}
{% block head %}
    {{ block.super }}
    <script>
        $(document).ready(FriendsInit);
        FB.init({
            appId:'{{ FACEBOOK_APP_ID }}',
            cookie:true,
            status:true,
            xfbml:true
        });

        function FacebookInviteFriends() {
            FB.ui({
            method: 'apprequests',
            message: 'Achiever. Твои достижения.'
            });
        }
    </script>
{% endblock head %}

{% block title %}
  Друзья | Achiever
{% endblock title %}

{% block content %}
<div id="friends_for_bindings">
    <h1>Друзья</h1>
    <ul class="nav nav-pills">
        <li data-bind="attr: {'class': friends_class()}" >
	  <a href="#my_friends">Мои друзья <span class="badge badge-info" data-bind="text: friends_count"></span></a>
	</li>
        <li class="">
	  <a href="#who_wants">Хотят стать друзьями <span class="badge badge-info"  data-bind="text: friendship_offerings_count"></span></a>
	</li>
        <li data-bind="attr: {'class': search_class()}">
	  <a href="#search_friends">Поиск друзей</a>
	</li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="my_friends" data-bind="attr: {'class': 'tab-pane ' + friends_class()}" >
            <ul class="user_table unstyled" data-bind="foreach: friends">
                <li>
                    {% include 'users/friends_user.html' %}
                </li>
            </ul>
        </div>
        <div class="tab-pane" id="who_wants">
            <ul class="user_table unstyled" data-bind="foreach: friendship_offerings">
                <li>
                    {% include 'users/friends_user.html' %}
                </li>
            </ul>
        </div>
        <div class="tab-pane" id="search_friends" data-bind="attr: {'class': 'tab-pane ' + search_class()}">
            <small>Проверьте, есть ли здесь кто-то из Ваших друзей. Получите список зарегистрированных друзей, нажав значек соц. сети.</small>
						<div class="well search_friends">
							<div class="row">
								<div class="col-xs-6">
									<div class="media">
										<div class="pull-left">
                                            {% if user.vk_friends_imported %}
                                                <a class="icon-vk icon-disabled"></a>
                                            {% else %}
                                                <a href="{% url 'social_friends_auth_search' 'vk-oauth' %}" class="icon-vk"></a>
                                            {% endif %}
										</div>
										<div class="media-body">
											<h3>Вконтакте</h3>
											<small>Социальная сеть</small>
										</div>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="media">
										<div class="pull-left">
                                            {% if user.twitter_friends_imported %}
                                                <a class="icon-twitter icon-disabled"></a>
                                            {% else %}
                                                <a href="{% url 'social_friends_auth_search' 'twitter' %}" class="icon-twitter"></a>
                                            {% endif %}
										</div>
										<div class="media-body">
											<h3>Twitter</h3>
											<small>Социальная сеть</small>
										</div>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="media blocked">
										<div class="pull-left">
                                            {% if user.facebook_friends_imported %}
                                                <a class="icon-facebook icon-disabled"></a>
                                            {% else %}
                                                <a href="{% url 'social_friends_auth_search' 'facebook' %}" class="icon-facebook"></a>
                                            {% endif %}
										</div>
										<div class="media-body">
											<h3>Facebook</h3>
											<small>Социальная сеть №2</small>
										</div>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="media">
										<div class="pull-left">
                                            {% if user.google_friends_imported %}
                                                <a class="icon-google-plus icon-disabled"></a>
                                            {% else %}
                                                <a href="{% url 'social_friends_auth_search' 'google-oauth2' %}" class="icon-google-plus"></a>
                                            {% endif %}
										</div>
										<div class="media-body">
											<h3>Google +</h3>
											<small>Социальная сеть</small>
										</div>
									</div>
								</div>
							</div>
						</div>
						<h3 class="text-center">
							<a href="#invite-friends" data-toggle="modal"><i class="icon-group"></i> Пригласить друзей</a>
						</h3>
						<hr>
            <div class="search_block col-xs-6">
	      <div class="input-group"  style="padding-bottom: 10px;">
                <form class="input-group" data-bind="submit: searchFriends">
                  <input type="text" class="form-control" name="q" placeholder="Имя пользователя" />
                  <input type="hidden" name="action" value="search" />
                  <span class="input-group-btn">
                    <input class="btn btn-primary" type="submit" value="Искать друзей">
                  </span>
                </form>
              </div>
            </div>
                <!-- ko if: search_empty -->
                    <p>По вашему запросу ничего не найдено</p>
                <!-- /ko -->
            <ul class="user_table unstyled" data-bind="foreach: users">
              <li>
                {% include 'users/friends_user.html' %}
              </li>
            </ul>
            <ul class="pagination" data-bind="foreach: pages">
              <li data-bind="css: { 'active': $root.active_page() == $data.page }">
                <a href="#" data-bind='click: function() { $parent.nextPage($data.page); }, text: $data.page'></a>
              </li>
            </ul>
        </div>
    </div>
    <div id="fb-root"></div>
</div>

{#        <div id="myModal" class="modal fade" id="send-msg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
{#            <div class="modal-dialog">#}
{#                <div class="modal-content">#}
{#                    <div class="modal-header">#}
{#                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>#}
{#                        <!-- <h4 class="modal-title">Modal title</h4> -->#}
{#                        <h4 class="modal-title" id="myModalLabel">Написать сообщение</h4>#}
{#                        <i class="icon-user"> Пользователь Пользователеич</i>#}
{#                    </div>#}
{#                    <form action="{% url 'conversations' %}" method="post">#}
{#                    {% csrf_token %}#}
{#                        <div class="modal-body">#}
{#                            {{ reply_form.recipient }}#}
{#                            {{ reply_form.text }}#}
{#                        </div>#}
{#                    #}
{#                    <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>#}
{#                        <input type="submit" class="btn btn-primary" value="Отправить">#}
{#                    </div>#}
{#                    </form>#}
{#                </div><!-- /.modal-content -->#}
{#            </div><!-- /.modal-dialog -->#}
{#        </div><!-- /.modal -->#}
{% endblock %}
