<div class="col-xs-2">
	<div data-bind="attr: {'class': avatar_class}">
	  <img data-bind="attr: {'src': avatar}" alt="" />	
	</div>
</div>
<div class="col-xs-6">
	<a class="user_name" data-bind="attr: {'href': link}, text: full_name"></a>
	<div class="achievements" data-bind="foreach: achievements">
	  <a class="achiv achiv-link achiv micro" data-bind="attr: {'data-title': title, 'href': href}" data-placement="left" data-original-title="">
        <span data-bind="foreach: ko.utils.range(1, stars_number)" >
            <!-- ko if: ($data == 3) && ($parent.stars_number == 3) -->
                <br>
            <!-- /ko -->
            <i class="icon-star"></i>
        </span>
	  </a>
	</div>
</div>
<div class="col-xs-4">
	<!-- ko if: is_friend -->
		<a href="#myModal"
			data-bind="attr: {'data-id': id, 'data-user_name': full_name}"
			data-toggle="modal"
			class="sendMessage btn btn-default hint btn-tooltip"
			data-original-title="Написать сообщение">
			<i class="icon-comment"></i> Написать</a>
		<a href="#remove"
			data-bind="click: remove_from_friends, attr: {'data-id': id}"
			class="btn btn-black hint friend-remove"
			data-toggle="tooltip"
			data-original-title="Удалить из друзей">
			<i class="icon-remove"></i></a>
	<!-- /ko -->
	<!-- ko if: is_want_to_friendship -->
		<a href="#accept"
			data-bind="click: accept_offer, attr: {'data-id': id}"
			class="btn btn-primary hint friend-accept"
			data-toggle="tooltip"
			data-original-title="Дружить">
			<i class="icon-comment"></i> Дружить</a>
		<a href="#decline"
			data-bind="click: decline_offer, attr: {'data-id': id}"
			data-id="200"
			class="btn btn-danger hint friend-decline"
			data-toggle="tooltip"
			data-original-title="Отказать"><i class="icon-remove"></i></a>
	<!-- /ko -->
	<!-- ko if: is_not_friend -->
		<a href="#add"
			data-bind="click: add_to_friends, attr: {'data-id': id}"
			class="btn btn-primary hint friend-add"
			data-toggle="tooltip"
			data-original-title="Дружить">
			<i class="icon-comment"></i> Дружить</a>
	<!-- /ko -->
	<!-- ko if:  is_waiting_for_response -->
		<a href="#reject"
			data-bind="click: reject_friendship_offer, attr: {'data-id': id}"
			class="btn btn-danger hint friend-reject"
			data-toggle="tooltip"
			data-original-title="Отозвать приглашение">
			<i class="icon-remove"></i> Отозвать приглашение</a>
	<!-- /ko -->
</div>
