{% extends 'base.html' %}
{% load inlife_tags staticfiles %}

{% block head %}
	{{ block.super }}
    <link href="{% static "js/vendor/bootstrap-select/bootstrap-select.min.css" %}" rel="stylesheet">
    <script src="{% static "js/vendor/bootstrap-select/bootstrap-select.min.js" %}"></script>
	<script src="{% static 'js/geoPosition.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/geoPositionSimulator.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	{{ form.media }}
	<style type="text/css">

	</style>
{% endblock head %}
{% block title %}Профиль | Achiever{% endblock title %}
{% block content %}
    <h1>Настройки</h1>
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        {#        {% if form.all_fields_filled %}#}
        {#            <div class="alert alert-success">#}
        {#                <i class="icon-ok-sign"></i>#}
        {#                <button type="button" class="close" data-dismiss="alert">&times;</button>#}
        {#                <b>Профиль сохранен.</b> Спасибо!#}
        {#            </div>#}
        {% if not request.user.first_name %}
            <div class="alert alert-info">
                <i class="icon-info-sign"></i>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Необходимо указать своё имя.
            </div>
        {% endif %}
        {% if not form.all_fields_filled and request.method == 'POST' %}
            <div class="alert alert-danger">
                <i class="icon-warning-sign"></i>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <b>Профиль не сохранен!</b> Исправьте ошибки.
            </div>
        {% endif %}
        {% if  form.fields.first_name.empty_alert %}
            <div class="alert alert-danger">
                <i class="icon-warning-sign"></i>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <b>Напишите свое имя</b>, это обязательное поле.
            </div>
        {% endif %}
        <div class="form-group">
            <label class="col-xs-2 control-label" for="name">Имя</label>

            <div class="col-xs-10">
                {{ form.first_name }}
            </div>
        </div>

        {% if  form.fields.last_name.empty_alert %}
            <div class="alert alert-warning">
                <i class="icon-exclamation-sign"></i>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                Вы не заполнили <b>фамилию</b>.
            </div>
            {% endif %}
            <div class="form-group">
                <label class="col-xs-2 control-label"  for="surname">Фамилия</label>
                <div class="col-xs-10">
                    {{ form.last_name }}
                </div>
            </div>


        {% if  form.fields.sex.empty_alert %}
            <div class="alert alert-danger">
                <i class="icon-warning-sign"></i>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <b>Выберите свой пол</b>, это обязательное поле.
            </div>
            {% endif %}
            <div class="form-group">
                <label class="col-xs-2 control-label"  for="patronymic">Пол</label>
                <div class="col-xs-10">
                    {{ form.sex }}
                </div>
            </div>
            
            {% if  form.fields.birthdate.empty_alert %}
                <div class="alert alert-warning">
                    <i class="icon-exclamation-sign"></i>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Вы не указали <b>дату рождения.</b>
                </div>
            {% endif %}
            <div class="form-group">
                <label class="col-xs-2 control-label"  for="patronymic">Дата рождения</label>
                <div class="col-xs-10">
                    {{ form.birthdate }}
                </div>
            </div>
            {% if  form.fields.email.empty_alert %}
                <div class="alert alert-warning">
                    <i class="icon-exclamation-sign"></i>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Вы не указали <b>email.</b> На него мы можем выслать оповещения о новых событиях.
                </div>
            {% endif %}
            <div class="form-group">
                <label class="col-xs-2 control-label"  for="patronymic">Электронная почта</label>
                <div class="col-xs-10">
                    {{ form.email }}
                </div>
            </div>
            
            {% if  form.fields.photo.empty_alert %}
                <div class="alert alert-warning">
                    <i class="icon-exclamation-sign"></i>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Загрузите свою <b>фотографию.</b>
                </div>
            {% endif %}
							
            <div class="form-group">
                <label class="col-xs-2 control-label"  for="patronymic">Фото</label>
                <div class="col-xs-10">
					{{ form.photo }}
					<div class="settings_jcrop">
						<div class="photo">
							{{ form.cropping }}
						</div>
					</div>
                </div>
            </div>
        {#            <div class="form-group">#}
        {#                <label class="col-xs-2 control-label" for="patronymic">Социальные сети</label>#}
        {#                <div class="col-xs-10">#}
        {#					<label class="checkbox">#}
        {#						{{ form.is_public_action_in_vk }} Выкладывать достижения во «Вконтакте»#}
        {#					</label>#}
        {#					<label class="checkbox">#}
        {#						{{ form.is_public_action_in_fb }} Выкладывать достижения во «Facebook»#}
        {#					</label>#}
        {#					<label class="checkbox">#}
        {#						{{ form.is_public_action_in_tw }} Выкладывать достижения во «Twitter»#}
        {#					</label>#}
        {#                    <label class="checkbox">#}
        {#                        {{ form.is_show_location }} Показывать мое местоположение #}
        {#                    </label>#}
        {#                </div>#}
        {#            </div>#}
        <div id="geo" class="form-group">
            	<label class="col-xs-2 control-label"  for="patronymic">Расположение на карте</label>
            	<div class="col-xs-10">
            		{{ form.latitude }}{{ form.longitude }}
            		<div id="current"></div>
            		<div id="map_canvas" style="height: 300px;"></div>
            	</div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label"  ></label>
                <div class="col-xs-10">
                    <input type="submit" class="btn btn-large btn-primary" value="Сохранить"/>
                </div>
            </div>
            
            
        </form>
{% endblock content %}

{% block js %}
    {{ block.super }}
    
    <script type="text/javascript">
        $('#id_sex').selectpicker({
            style: 'btn btn-default dropdown-toggle',
            width: 'auto'
        });
        $('#id_birthdate_day').selectpicker({
            style: 'btn btn-default dropdown-toggle col-xs-2',
            width: 'auto'
        });
        $('#id_birthdate_month').selectpicker({
            style: 'btn btn-default dropdown-toggle col-xs-2',
            width: 'auto'
        });
        $('#id_birthdate_year').selectpicker({
            style: 'btn btn-default dropdown-toggle',
            width: 'auto'
        });
    </script>
    <script>
    function initGeo() {
        var _latitude = document.getElementById('id_latitude'),
            _longitude = document.getElementById('id_longitude');
        function initialiseMap()
        {
            var myOptions = {
                  zoom: 13,
                  mapTypeControl: true,
                  mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
                  navigationControl: true,
                  navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
                  mapTypeId: google.maps.MapTypeId.ROADMAP      
                }   
            
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            initialise();
        }
        function initialise()
        {
            var locations=new Array({ coords: {
                                        latitude:   _latitude.value,
                                        longitude: _longitude.value
                                    } 
                                });
            geoPositionSimulator.init(locations);
            if(geoPosition.init())
            {
                document.getElementById('current').innerHTML="Получение координат...";
                geoPosition.getCurrentPosition(showPosition,function(){document.getElementById('current').innerHTML="Не удалось получить расположение"},{enableHighAccuracy:true});
            }
            else
            {
                document.getElementById('current').innerHTML="Ваш браузер не поддерживает геолокацию";
            }
        }

        function showPosition(p)
        {
            var latitude = _latitude.value != "" ? parseFloat(_latitude.value) : parseFloat( p.coords.latitude );
            var longitude = _longitude.value != "" ? parseFloat(_longitude.value) : parseFloat( p.coords.longitude );
            _latitude.value = latitude;
            _longitude.value = longitude;
            //document.getElementById('current').innerHTML="latitude=" + latitude + " longitude=" + longitude;
            document.getElementById('current').innerHTML = "";
            var pos=new google.maps.LatLng( latitude , longitude);
            map.setCenter(pos);
            map.setZoom(14);

            var infowindow = new google.maps.InfoWindow({
                content: "<strong>Yapp, i'm here</strong>"
            });

            var marker = new google.maps.Marker({
                position: pos,
                map: map,
                draggable:true,
                animation: google.maps.Animation.DROP,
                title:"Yapp, i'm here"
            });

            google.maps.event.addListener(marker, 'click', function() {
              infowindow.open(map,marker);
            });
            
            google.maps.event.addListener(marker, 'mouseup', markerMouseUp);
            
        }
        
        function markerMouseUp(e) {
            var location = e.latLng;
            _latitude.value = location.jb;
            _longitude.value = location.kb;
        }
        google.maps.event.addDomListener(window, 'load', initialiseMap);
    };  
    </script>
    <script type="text/javascript">
        $('#id_is_public_action_in_vk').change(function() {
            if ( $(this).is(':checked') ){
                $checkbox = $(this);
                VK.Auth.login(function(response){
                    console.log(response)
                    if (response.status !== "connected") {
                        $checkbox.attr('checked', false);
                    }
                }, 8197);
            }
        });
        $('#id_is_public_action_in_fb').change(function() {
            if ( $(this).is(':checked') ){
                $checkbox = $(this);
                FB.login(function(response) {
                    if(response.status !== "connected") {
                        $checkbox.attr('checked', false);
                    }
                }, {perms:'read_stream,publish_stream,offline_access,publish_actions,user_photos ', 
                    score:'read_stream,publish_stream,offline_access,publish_actions,user_photos '
                });
            }
        });
        $('#id_is_public_action_in_tw').change(function() {
            if ( $(this).is(':checked') ) {
                window.open('/auth_twitter/', '', 'width=800,height=600');
            }
        });
        function toogle_location() {
            $checkbox = $('#id_is_show_location')
            if ( $checkbox.is(':checked') ){
               $('#geo').show();
               initGeo();
            } else {
                $('#geo').hide();
                $('#id_longitude').val('');
                $('#id_longitude').val('');
            }
        }
        $('#id_is_show_location').change(function() {
            toogle_location();
        });
        toogle_location();
    </script>
{% endblock js %}


