{% extends 'base.html' %}
{% load inlife_tags %}

{% block content %}

        <h1>Рейтинги</h1>
        
        <ul class="nav nav-pills">
            <li class="active"><a href="#rating_friends">Друзья</a></li>
            <li><a href="#rating_all">Все пользователи</a></li>
        </ul>
         
        <div class="tab-content">
            <div class="tab-pane active" id="rating_friends">
                <div class="row top_ratings">
                    {% for winner in friends|slice:':3' %}
                    <div class="col-xs-3">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="achiv"><i class="icon-trophy"></i></div>
                            </div>
                            <div class="col-xs-7">
                                <div class="pie_wrap {% if winner.is_superuser %}vip_user admin{% elif winner.is_premium %}vip_user{% endif %}">
                                    <div class="pie">
                                        <input class="knob" data-fgColor="#00C0FF" data-bgColor="transparent" data-thickness=".2" data-readOnly="true"
                                        value="{{ winner.get_progress }}" data-width="53" data-height="53">
                                    </div>
                                    <div class="pie_inside">
                                        {% if winner.photo %}
                                            {% with winner.get_cropped_avatar as avatar %}
                                                <img src="{{ avatar.url }}" />
                                            {% endwith %}
                                        {% else %}
                                            <img src="/static/img/avatar.jpg" />
                                        {% endif %}
                                    </div>
                                    <div class="count_badge">{{ winner.level.number }}</div>
                                </div>
                                <div class="name"><b>{{ winner.first_name }}</b>{{ winner.last_name }}</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <hr>
                <table class="table table-striped table-hover table_ratings">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Имя</th>
                            <th>Уровень</th>
                            {% for tree in mytree_root %}<th>{{ tree.name }}</th>{% endfor %}
                            <th>Доверие</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for friend in friends %}
                        <tr>
                            <td><span class="achiv micro {% if forloop.counter > 3 %}achiv-gray{% endif %}"><i>{{ forloop.counter }}</i></span></td>
                            <td><a href="{% url 'timeline' friend.id %}">{{ friend.first_name }} {{ friend.last_name }}</a></td>
                            <td><div class="count_badge cb_blue">{{ friend.level.number }}</div></td>
                            {% for tree in mytree_root %}
                            <td>
                                <div class="digit_wrap">
                                    <span class="digit">{{ tree|get_achiv_count:friend }}</span><div class="count_badge cb_white">{{ tree|get_char_count:friend }}</div>
                                </div>
                            </td>
                            {% endfor %}
                            <td><span class="digit digit_bold">{{ friend.trust }}%</span></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
          
            <div class="tab-pane" id="rating_all">
                <div class="row top_ratings">
                    {% for users in all_users|slice:':3' %}
                    <div class="col-xs-3">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="achiv"><i class="icon-trophy"></i></div>
                            </div>
                            <div class="col-xs-7">
                                <div class="pie_wrap">
                                    <div class="pie">
                                        <input class="knob" data-fgColor="#00C0FF" data-bgColor="transparent" data-thickness=".2" data-readOnly="true"
                                        value="{{ users.get_progress }}" data-width="53" data-height="53">
                                    </div>
                                    <div class="pie_inside">
                                     {% if users.photo %}
                                            {% with users.get_cropped_avatar as avatar %}
                                                <img src="{{ avatar.url }}" />
                                            {% endwith %}
                                        {% else %}
                                            <img src="/static/img/avatar.jpg" />
                                        {% endif %}
                                    </div>
                                    <div class="count_badge">{{ users.level.number }}</div>
                                </div>
                                <div class="name"><b>{{ users.first_name }}</b>{{ users.last_name }}</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <hr>
                <table class="table table-striped table-hover table_ratings">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Имя</th>
                            <th>Уровень</th>
                            {% for tree in mytree_root %}<th>{{ tree.name }}</th>{% endfor %}
                            <th>Доверие</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for users in all_users %}
                        <tr>
                            <td><span class="achiv micro {% if forloop.counter > 3 %}achiv-gray{% endif %}"><i>{{ forloop.counter }}</i></span></td>
                            <td><a href="{% url 'timeline' users.id %}">{{ users.first_name }} {{ users.last_name }}</a></td>
                            <td><div class="count_badge cb_blue">{{ users.level.number }}</div></td>
                            {% for tree in mytree_root %}
                            <td>
                                <div class="digit_wrap">
                                    <span class="digit">{{ tree|get_achiv_count:users }}</span><div class="count_badge cb_white">{{ tree|get_char_count:users }}</div>
                                </div>
                            </td>
                            {% endfor %}
                            <td><span class="digit digit_bold">{{ users.trust }}%</span></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>  
{% endblock %}