{% load inlife_tags cropping %}
{% load solo_tags %}
{% get_solo 'configs.AchieverConfig' as achiever_config %}
{% with status=user.get_status %}                
<a class="avatar {{ user.avatar_class }}" href="{% url 'timeline' user.id %}">
  {% if user.photo %}
  {% with user.get_cropped_avatar as avatar %}
  <img src="{{ avatar.url }}" />
  {% endwith %}
  {% else %}
  <img src="{{ achiever_config.default_user_avatar.url }}"/>
  {% endif %}
</a>
{% endwith %}
