{% extends 'base.html' %}
{% load inlife_tags cache %}
{% load staticfiles %}

{% block title %}
Крупнейшие достижения {{ summ_user.get_full_name }} | Achiever  
{% endblock title %}

{% block content %}

    <ul class="nav nav-pills">
      <li class="active"><a href="#big_achievements">Крупнейшие достижения</a></li>
      <li><a href="#achievements">Остальные достижения</a></li>
        {#      <li><a href="#categorys">Выполненные цели</a></li>#}
        {#<li><a href="#failed_achievements">Проваленные достижения</a></li>#}
    </ul>

    <div class="tab-content">

        <div class="tab-pane active" id="big_achievements">
            <div class="achiv_tree">
                <div class="branch" id="group1">
                    {% for ach in big_achievements %}
                        <label class="leaf">
                            <p><span>{{ach.achievement}}</span></p>
                            {% achiv_link ach data_title=False %}
                        </label>
                        <input type="radio" id="g1_1_{{ach.achievement.id}}" name="group2"/>
                        <div class="branch" id="group2_{{ach.achievement.id}}">
                            <h3>{{ach.achievement}}</h3>
                                <a href="{% url 'achievement' ach.achievement.id %}" class="btn btn-primary btn-large">Перейти к достижению</a>
                                <br />
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="tab-pane" id="achievements">
            <div class="achiv_tree">
                <div class="branch" id="group3">
                    {% for ach in recieved_achievments %}
                        <label class="leaf">
                            <p><span>{{ach.achievement}}</span></p>
                            {% achiv_link ach data_title=False %}
                        </label>
                    {% endfor %}
                </div>

                {% for ach in recieved_achievments %}        
                    <input type="radio" id="g3_1_{{ach.achievement.id}}" name="group4"/>
                    <div class="branch" id="group4_{{ach.achievement.id}}">
                        <h3>{{ach.achievement}}</h3>
                            <a href="{% url 'achievement' ach.achievement.id %}" class="btn btn-primary btn-large">Перейти к достижению</a>
                            <br />
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}



{% block sidebar %}
    {% user_sidebar summ_user %}
{% endblock %}