{% extends "admin_tools/dashboard/module.html" %}
{% block module_content %}
{% load thumbnail %}
    {% if module.proof_list %}
    <table cellspacing="0" id="result_list" width='100%' cols="2" border='1'>
        <tr>
            <th>Достижения</th><th>Пользователь</th>
        </tr>
        {% for proof in module.proof_list %}
        <tr>
            <td>
                <a href="app/proof/{{proof.id}}/"><b>{{proof.user_achievement.achievement.name}} ({{ proof.get_proof_type_display }}, {{ proof.get_status_display }})</b></a>
                <form action="app/proof/{{proof.id}}/" method="post" class="proof_form">{% csrf_token %}
                    <div>
                        {% for photo in proof.photos.all %}
                            {% thumbnail photo.photo 200x200 autocrop as im %}
                            <a href="{{photo.photo.url}}">
                                <img src="{{ im.url }}">
                            </a>
                        {% endfor %}
                    </div>
                    <div>
                        <label for="id_comment"><b>Комментарий: </b></label>
                        <textarea class="commentText required" name="_comment" id="id_comment" cols="50" rows="4"></textarea>
                        <br>
                        <label for="id_stars_number"><b>кол-во звёзд: </b></label>
                        <select id="id_stars_number" name="_stars_number">
                            {% for number in module.stars_number_choices %}
                                <option value="{{number.0}}"{% if proof.user_achievement.achievement.stars_number == number.0 %}selected="selected"{% endif %}>{{number.1}}
                                </option>
                            {% endfor %}
                        </select>

                        <br><label for="id_points"><b>Баллы: </b></label><input class="required" value="{{proof.get_default_points}}" id="id_points" type="number" min="0" name="points"></input>
                        <br>
                        <input class="submintBtn" type="submit" value="Подтвердить" name="_approve" />
                        <input class="submintBtn" type="submit" value="Сомнительно" name="_doubtfully" />
                        <input class="submintBtn" type="submit" value="Отклонить" name="_deny">
                        <br />
                        <br />
                    </div>
                </form>
            </td>
            <td>
                <a href="../{{proof.user_achievement.user.id}}/">{{proof.user_achievement.user}}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% load staticfiles %}
    <script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
    <script type="text/javascript">
        $(".proof_form").submit(function(){
            var isFormValid = true;

            $(this).find('.commentText').each(function(){
                if ($.trim($(this).val()).length == 0){
                    isFormValid = false;
                }
                else{
                    isFormValid = true;
                }
            });

            if (!isFormValid) alert("Комментарий к достижению это обязательное поле!");

            return isFormValid;
        });
    </script>
{% endblock %}


